body,
.one-page-header .navbar-nav > li > a,
.pricing-table-v4 .pricing-v4-content li,
.btn-u {
    font-size: 16px;
}

.headline-center-v2 p {
    font-size: 18px;
}

#navbar-home:before {
    content: "";
}

.main-color1 {
    color: #3498db;
}

.btn-primary {
    color:            #fff;
    background-color: #3498db;
    border-color:     #2e6da4
}

.cryptedmail:after {
    content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
}
