body,
.one-page-header .navbar-nav > li > a,
.pricing-table-v4 .pricing-v4-content li,
.one-page-header .dropdown-menu > li > a,
.btn-u {
    font-size: 16px;
}

.headline-center-v2 p {
    font-size: 18px;
}

#navbar {
    background: rgba(0, 0, 0, 0.8);
}

.menu-container ul li:first-child a:before {
    content: "";
}

.one-page-header .dropdown-menu > li,
.one-page-header.top-nav-collapse .dropdown-menu > li {
    background: rgba(0, 0, 0, 0.8);
}

.one-page-header .dropdown-menu > li,
.one-page-header.top-nav-collapse .navbar-nav > li > a,
.one-page-header.top-nav-collapse .navbar-nav > li > a:before,
.one-page-header.top-nav-collapse .dropdown-menu > li > a,
.one-page-header.top-nav-collapse li > a.dropdown-toggle {
    color:          #eee;
    text-transform: uppercase;
}

.one-page-header.top-nav-collapse .navbar-brand {
    color: #eee;
}

.one-page-header.top-nav-collapse .navbar-nav > li > a:hover,
.one-page-header .dropdown-menu > li > a:hover,
.one-page-header.top-nav-collapse .dropdown-menu > li > a:hover {
    color: #0aa0f4;
}

.one-page-header.top-nav-collapse .navbar-brand {
    color: #fff !important;
}

.main-color1 {
    color: #0aa0f4;
}

.btn-primary {
    color:            #fff;
    background-color: #0aa0f4;
    border-color:     #2e6da4
}

.cryptedmail:after {
    content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
}

/* About Us classes */

.about-us-panel {
    height:     100%;
    background: rgba(0, 0, 0, 0.5);
    padding:    30px;
    text-align: center;
}

.about-us-panel img {
    width:  192px;
    height: 192px;
    margin: 0 auto 25px;
}

.about-us-panel h3 {
    color:       #fff;
    font-size:   22px;
    font-weight: 200;
}

.about-us-panel span {
    display:       block;
    margin-bottom: 5px;
}

.about-us-panel p {
    color:      #fff;
    position:   relative;
    text-align: justify;
}

.team-social li a.white {
    color:  #ffffff;
    border: 1px solid #ffffff;
}

/* LinkedIn */
.team-social li a.li:hover {
    color:      #ffffff;
    background: #0077B5;
}

/* Github */
.team-social li a.gh:hover {
    color:      #ffffff;
    background: #888888;
}

/* Instagram */
.team-social li a.in:hover {
    color:      #ffffff;
    background: #d10869;
}

/* end About us classes*/

@font-face {
    font-family: 'goudytrajan-bold-pro';
    src:         url('../fonts/goudytrajan-bold-pro-webfont.woff2') format('woff2'),
                 url('../fonts/goudytrajan-bold-pro-webfont.woff') format('woff');
    font-weight: normal;
    font-style:  normal;
}

.navbar li a {
    font-family: 'goudytrajan-bold-pro', serif;
}

.headline-center-v2 h2 {
    font-family: 'goudytrajan-bold-pro', serif;
    font-size:   40px;
}

@media (max-width: 768px) {
    .headline-center-v2 h2 {
        font-size: 30px;
    }
}

@media (max-width: 1200px) {
    body, .one-page-header .navbar-nav > li > a {
        font-size: 13px;
    }
}

#colaboradores img {
    max-width:    200px;
    max-height:   200px;
    margin-right: 20px;
}

.bordered-icon img {
    width:  16px;
    height: 16px;
}

.grecaptcha-badge {
    visibility: hidden;
}
