/* Add here all your css styles (customizations) */

.no-decoration:hover {
    text-decoration: none;
}

.sky-form fieldset {
    background: inherit;
}

.headline-center-v2.color-white h2,
.headline-center-v2.color-white p {
    color: #ffffff;
}

.about-us-panel {
    background: rgba(0, 0, 0, 0.5);
    padding:    30px;
    text-align: center;
}

.about-us-panel img {
    width:  192px;
    height: 192px;
    margin: 0 auto 25px;
}

.about-us-panel h3 {
    color:       #fff;
    font-size:   22px;
    font-weight: 200;
}

.about-us-panel span {
    display:       block;
    margin-bottom: 5px;
}

.about-us-panel p {
    color:       #fff;
    font-weight: 200;
    position:    relative;
    text-align:  justify;
}

.team-social li a.white {
    color:  #ffffff;
    border: 1px solid #ffffff;
}

/* LinkedIn */
.team-social li a.li:hover {
    color:      #ffffff;
    background: #0077B5;
}

/* Github */
.team-social li a.gh:hover {
    color:      #ffffff;
    background: #888888;
}

/* Instagram */
.team-social li a.in:hover {
    color:      #ffffff;
    background: #d10869;
}

/* Services - Pricing Table */
.pricing-table-v4 .pricing-v4-green .pricing-v4-head,
.pricing-table-v4 .pricing-v4-green .btn-u {
    background: rgba(116, 197, 44, 1);
}

.pricing-table-v4 .pricing-v4-red .pricing-v4-head,
.pricing-table-v4 .pricing-v4-red .btn-u {
    background: rgba(231, 76, 60, 1);
}

.pricing-table-v4 .pricing-v4-dark-blue .pricing-v4-head,
.pricing-table-v4 .pricing-v4-dark-blue .btn-u {
    background: rgba(71, 101, 160, 1);
}

.pricing-table-v4 .pricing-v4-head {
    padding: 30px 30px 0px 30px;
}

.pricing-table-v4 .pricing-v4-head h2,
.pricing-table-v4 .pricing-v4-head p {
    color: #ffffff;
}

.pricing-table-v4 i.icon-custom {
    width:       80px;
    height:      80px;
    font-size:   40px;
    padding-top: 17px;
}

.pricing-table-v4 .pricing-v4-footer {
    padding: 0;
}