/* Add here all your css styles (customizations) */

.no-decoration:hover {
    text-decoration: none;
}

.sky-form fieldset {
    background: inherit;
}

.headline-center-v2.color-white h2,
.headline-center-v2.color-white p {
    color: #ffffff;
}

.flat-testimonials-in.about-us img {
    width:  192px;
    height: 192px;
}

.flat-testimonials-in.flat-testimonials-black-bg {
    background: rgba(0,0,0,0.5);
}

.team-social li a.white {
    color:  #ffffff;
    border: 1px solid #ffffff;
}
/* LinkedIn */
.team-social li a.li:hover {
    color:      #ffffff;
    background: #0077B5;
}
/* Github */
.team-social li a.gh:hover {
    color:      #ffffff;
    background: #888888;
}
/* Instagram */
.team-social li a.in:hover {
    color:      #ffffff;
    background: #d10869;
}