.one-page-header .navbar-nav > li > a {
    padding: 17px 10px 13px;
}

.no-decoration:hover {
    text-decoration: none;
}

.sky-form fieldset {
    background: inherit;
}

.headline-center-v2.color-white h2,
.headline-center-v2.color-white p {
    color: #ffffff;
}


p.about-us-description {
    background: rgba(0, 0, 0, 0.5);
    padding:    20px 5px;
}

/* Services - Pricing Table */
.pricing-table-v4 .pricing-v4-content li {
    padding-left:  10px;
    padding-right: 10px;
}

.pricing-table-v4 .pricing-trainings .pricing-v4-head,
.pricing-table-v4 .pricing-trainings .btn-u {
    background: rgb(192, 57, 43);
}

.pricing-table-v4 .pricing-trainings {
    border: 1px solid rgba(192, 57, 43, 0.3);
}

.pricing-table-v4 .pricing-trainings .pricing-v4-content li {
    color: rgb(192, 57, 43);
}


.pricing-table-v4 .pricing-continuous-learning .pricing-v4-head,
.pricing-table-v4 .pricing-continuous-learning .btn-u {
    background: rgb(85, 85, 85);

}

.pricing-table-v4 .pricing-continuous-learning {
    border: 1px solid rgba(85, 85, 85, 0.3);
}

.pricing-table-v4 .pricing-continuous-learning .pricing-v4-content li {
    color: rgb(85, 85, 85);
}

.pricing-table-v4 .pricing-development .pricing-v4-head,
.pricing-table-v4 .pricing-development .btn-u {
    background: rgba(50, 76, 128, 1);
}

.pricing-table-v4 .pricing-development {
    border: 1px solid rgba(50, 76, 128, 0.3);
}

.pricing-table-v4 .pricing-development .pricing-v4-content li {
    color: rgba(50, 76, 128, 1);
}

.pricing-table-v4 .pricing-v4-head {
    padding: 30px 30px 0 30px;
}

.pricing-table-v4 .pricing-v4-head h2,
.pricing-table-v4 .pricing-v4-head p {
    color: #ffffff;
}

.pricing-table-v4 i.icon-custom {
    width:       80px;
    height:      80px;
    font-size:   40px;
    padding-top: 17px;
}

.pricing-table-v4 .pricing-v4-footer {
    padding: 0;
}

.pricing-table-v4 .pricing-v4-footer a {
    padding: 12px 13px;
}

@media (min-width: 1200px) {
    .pricing-table-v4 .pricing-v4-head {
        height: 275px;
    }

    .reasons-subtitle {
        padding: 0 30px;
    }
}

@media (min-width: 992px) {
    #comunicacion a {
        bottom: -20px;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

@media (max-width: 1200px) {
    .pricing-table-v4 .pricing-v4-head {
        height: 300px;
    }
}

@media (max-width: 992px) {
    .pricing-table-v4 .pricing-v4-head {
        height:  320px;
        padding: 30px 15px 0 15px;
    }
    .pricing-table-v4 .pricing-v4-content li:first-of-type,
    .pricing-table-v4 .pricing-v4-content li:nth-child(2) {
        height: 70px;
    }

    .about-us-container {
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .pricing-table-v4 .pricing-v4-head {
        height: inherit;
    }

    .pricing-continuous-learning .pricing-v4-content li:first-child,
    .pricing-development .pricing-v4-content li:first-child {
        line-height: inherit;
    }

    .pricing-table-v4 .pricing-v4-content li {
        height: auto;
    }
}

.content-boxes-v6 i {
    padding:     20px;
    font-size:   50px;
    line-height: 50px;
}

.testimonials-bg-dark p.alert {
    color:            #a94442;
    background-color: #f2dede;
    border-color:     #ebccd1;
}

.testimonials.testimonials-bg-dark .item p.alert:after {
    border-top-color: #f2dede;
}

.fullscreen-static-image1 {
    background:              url("../img/bg/workspace.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size:    cover;
    -o-background-size:      cover;
    background-size:         cover;
}

#landing-screen {
    height: 2000px;
}

#landing-screen .container {
    position: absolute;
    bottom:   60px;
    right:    50%;
    padding:  0;
}

#landing-screen .row {
    position:   relative;
    right:      -50%;
    background: rgba(0, 0, 0, 0.4);
}

#slogan .row {
    top: 50px;
}

#slogan.container {
    text-align: center;
    bottom:     400px;
    font-size:  32px;
}

#slogan p,
#slogan-mobile p {
    color: #fff;
}

#slogan-mobile {
    text-align:    center;
    font-size:     24px;
    bottom:        100px;
    padding-left:  30px;
    padding-right: 30px;
}

.reason-why {

}

.reason-why i {
    background: rgba(0, 0, 0, 0.4);
}

.reason-why h2,
.reason-why h4 {
    color: #FFFFFF;
}

@media (max-width: 767px) and (orientation: portrait) {
    #landing-screen .container {
        /*position: relative;*/
        bottom:        0;
        right:         inherit;
        width:         100%;
        padding-right: 15px;
        padding-left:  15px;
    }

    #landing-screen .container .col-xs-4 {
        padding-top: 45px;
    }

    .content-boxes-v6 i {
        width:       60px;
        height:      60px;
        font-size:   30px;
        line-height: 30px;
        padding:     15px;
    }

    #landing-screen .row {
        right: 0;
    }

    .landing-horizontal {
        display: none;
    }
}

@media (min-width: 768px) and (orientation: portrait) {
    .landing-mobile-vertical {
        display: none;
    }
}

@media all and (orientation: landscape) {
    .landing-mobile-vertical {
        display: none;
    }
}

@media (max-width: 767px) and (orientation: landscape) {
    #landing-screen .container {
        width:         100%;
        /*position: relative;*/
        bottom:        0;
        right:         0;
        padding-right: 15px;
        padding-left:  15px;
    }

    #landing-screen .row {
        right: 0;
    }

    .content-boxes-v6 i {
        width:       60px;
        height:      60px;
        font-size:   30px;
        line-height: 30px;
        padding:     15px;
    }

    #slogan.container {
        font-size: 24px;
    }

    #slogan.container .row {
        padding-right: 30px;
        padding-left:  30px;
    }
}

/** All mobile devices */
@media (max-width: 767px) {
    #doorbell-button {
        display: none;
    }
}

#doorbell-button {
    right:         0;
    top:           40%;
    height:        45px;
    transform:     rotate(-90deg);
    margin-right:  -24px;
    padding-left:  15px;
    padding-right: 15px;
}

.equal-height {
    display:   flex;
    display:   -webkit-flex;
    flex-wrap: wrap;
}

.bottom-contact-btn {
    position: absolute;
    bottom:   20px;
    left:     50%;
}

.bottom-contact-btn-link {
    position: relative;
    left:     -50%;
}

.jl-tag-box {
    margin-bottom:  0;
    padding-bottom: 60px;
    height:         100%;
}

/* https://philipwalton.com/articles/what-no-one-told-you-about-z-index/ */
.bg-color-light {
    opacity: 0.99;
}

#mvpImg {
    padding-right: 30px;
    margin-top:    60px;
}

#desarrollo .list-unstyled li {
    margin-left: 30px;
}

.who li i {
    font-size: 18px;
}

#formacion img {
    max-height: 288px;
}

.view-tenth:hover img {
    opacity: 0.07;
}

@media (min-width: 1800px) {
    #sobre-nosotros .container.about-us {
        width: 1770px;
    }
}
