:root {
  --border-radius: 5px;
  --dark-grey: #737373;
  --darkest-grey: #0a073a;
  --darkest-hover-grey: #0f0b58;
  --light-grey: #f3f6fa;
  --light-lila: #f5f8ff;
  --lightest-grey: #fafcfe;
  --primary-brand-color: #2fade2;
  --primary-brand-hover-dark-color: #0e9edc;
  --secondary-brand-color: #d3efff;
  --text-2-xl: 2.5em;
  --text-normal: 1em;
  --text-xl-normal: 1.438em;
  --white: #ffffff;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
}

.title {
  color: var(--darkest-grey);
  font-size: 2.5em;
  font-style: normal;
  font-weight: bold;
  line-height: 2.94em;
}

.small-title {
  color: var(--darkest-grey);
  font-size: 1.438em;
  font-style: normal;
  font-weight: bold;
  line-height: 1.25em;
}

.button {
  border: 1px solid transparent;
  border-radius: 5px;
  line-height: 1.5;
  outline: none;
  padding: 15px 40px;
  text-align: center;
  white-space: nowrap;
}

.button--primary {
  color: var(--white);
  background-color: var(--primary-brand-color);
}
.button--primary:hover {
  background-color: var(--primary-brand-hover-dark-color);
}
.button--primary:disabled {
  background-color: var(--secondary-brand-color);
}

.button--outline {
  background-color: transparent;
  border-color: var(--primary-brand-color);
  color: var(--primary-brand-color);
}

.card {
  background: #ffffff;
  border-radius: 5px;
  padding: 16px 32px;
  text-align: center;
}

.card__header {
  color: var(--primary-brand-color);
  font-size: 32px;
  margin-bottom: 8px;
  text-align: center;
}

.card__title {
  color: var(--darkest-grey);
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.card__text {
  color: var(--dark-grey);
  font-size: 16px;
  margin-bottom: 8px;
}

.card__image {
  border-radius: 50%;
  max-width: 150px;
}

.card--large .card__header {
  font-size: 72px;
  margin-bottom: 16px;
}
.card--large .card__title {
  font-size: var(--text-xl-normal);
  margin-bottom: 16px;
}
.card--large .card__text {
  margin-bottom: 16px;
}

.card--personal .card__title {
  color: var(--primary-brand-color);
  font-size: var(--text-xl-normal);
}

.card__footer {
  margin-top: 16px;
  text-align: center;
}

.card__icons {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.card__icon {
  margin-right: 8px;
  font-size: 24px;
}
.card__icon i {
  color: var(--primary-brand-color);
}
.card__icon i:hover {
  color: var(--primary-brand-hover-dark-color);
}
.card__icon:hover {
  cursor: pointer;
}

.card__professional {
  color: var(--primary-brand-hover-dark-color);
  font-size: 14px;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .card {
    padding: 32px;
  }

  .card__header {
    margin-bottom: 20px;
  }

  .card__title {
    margin-bottom: 20px;
  }

  .card__text {
    margin-bottom: 20px;
  }

  .card--large .card__header {
    margin-bottom: 30px;
  }
  .card--large .card__title {
    margin-bottom: 30px;
  }
  .card--large .card__text {
    margin-bottom: 30px;
  }
  .card--large .card__footer {
    margin-top: 0;
  }
}
.header {
  background-color: var(--darkest-grey);
  box-sizing: border-box;
}

.header__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1280px;
  width: 100%;
}

.header__image {
  height: 28.66px;
  padding-left: 24px;
  width: 125px;
}

.header__icon {
  display: none;
}

.navbar {
  color: var(--white);
}

.navbar__list {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navbar__item {
  margin-right: 15px;
}

@media all and (max-width: 768px) {
  .header__wrapper {
    padding: 11px 0;
    position: relative;
  }

  .header__icon {
    color: var(--white);
    display: inline-block;
    font-size: 24px;
    margin-right: 15px;
  }

  .navbar {
    background-color: var(--darkest-grey);
    display: none;
    position: absolute;
    top: 50px;
    width: 100%;
  }

  .navbar__list {
    align-items: flex-start;
    flex-direction: column;
  }

  .navbar__item {
    margin-bottom: 16px;
  }
  .navbar__item:last-child {
    margin-bottom: 0;
  }

  .is-visible {
    display: block;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 568px;
  height: 100vh;
  background: linear-gradient(260.14deg, #2A3367 2.4%, #0A073A 100%);
}
.hero__title {
  color: var(--white);
  font-size: 2.5em;
  line-height: 1.94em;
  font-style: normal;
  font-weight: bold;
  text-align: center;
}
.hero__subtitle {
  font-size: 1.438em;
  color: var(--white);
  line-height: 1.25em;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 90px;
}

/*# sourceMappingURL=site.css.map */
