/* Colors */

:root {
    --primary-brand-color: #2FADE2;
    --primary-brand-hover-dark-color: #0E9EDC;
    --secondary-brand-color: #D3EFFF;
    --darkest-grey: #0A073A;
    --light-grey: #F3F6FA;
    --lightest-grey: #FAFCFE;
    --white: #fff;
    --dark-grey: #737373;
    --darkest-hover-grey: #0F0B58;
    --light-lila: #F5F8FF;
}

.title {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 2.5em;
    color: var(--darkest-grey);
    line-height: 2.94em;
    font-style: normal;
    font-weight: bold;
}

.small-title {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1.438em;
    color: var(--darkest-grey);
    line-height: 1.25em;
    font-style: normal;
    font-weight: bold;
}

.button {
    outline: none;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.5;
    padding: 15px 40px;
    border-radius: 5px;
    text-align: center;
}

.button--primary {
    color: var(--white);
    background-color: var(--primary-brand-color);
}

.button--primary:hover {
    background-color: var(--primary-brand-hover-dark-color);
}

.button--primary:disabled {
    background-color: var(--secondary-brand-color);
}

.button--outline {
    color: var(--primary-brand-color);
    background-color: transparent;
    border-color: var(--primary-brand-color);
}

