body {
  font-family: "Open Sans", Arial, sans-serif;
}

.title {
  color: #0a073a;
  font-size: 2.5em;
  font-style: normal;
  font-weight: bold;
  line-height: 2.94em;
}

.small-title {
  color: #0a073a;
  font-size: 1.438em;
  font-style: normal;
  font-weight: bold;
  line-height: 1.25em;
}

.button {
  border: 1px solid transparent;
  border-radius: 5px;
  line-height: 1.5;
  outline: none;
  padding: 15px 40px;
  text-align: center;
  white-space: nowrap;
}

.button--primary {
  color: #ffffff;
  background-color: #2fade2;
}
.button--primary:hover {
  background-color: #0e9edc;
}
.button--primary:disabled {
  background-color: #d3efff;
}

.button--outline {
  background-color: transparent;
  border-color: #2fade2;
  color: #2fade2;
}

.card {
  background: #ffffff;
  border-radius: 5px;
  padding: 16px 32px;
  text-align: center;
}

.card__header {
  color: #2fade2;
  font-size: 32px;
  margin-bottom: 8px;
  text-align: center;
}

.card__title {
  color: #0a073a;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.card__text {
  color: #737373;
  font-size: 16px;
  margin-bottom: 8px;
}

.card__image {
  border-radius: 50%;
  max-width: 150px;
}

.card--large .card__header {
  font-size: 72px;
  margin-bottom: 16px;
}
.card--large .card__title {
  font-size: 1.438em;
  margin-bottom: 16px;
}
.card--large .card__text {
  margin-bottom: 16px;
}

.card--personal .card__title {
  color: #2fade2;
  font-size: 1.438em;
}

.card__footer {
  margin-top: 16px;
  text-align: center;
}

.card__icons {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.card__icon {
  margin-right: 8px;
  font-size: 24px;
}
.card__icon i {
  color: #2fade2;
}
.card__icon i:hover {
  color: #0e9edc;
}
.card__icon:hover {
  cursor: pointer;
}

.card__professional {
  color: #0e9edc;
  font-size: 14px;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .card {
    padding: 32px;
  }

  .card__header {
    margin-bottom: 20px;
  }

  .card__title {
    margin-bottom: 20px;
  }

  .card__text {
    margin-bottom: 20px;
  }

  .card--large .card__header {
    margin-bottom: 30px;
  }
  .card--large .card__title {
    margin-bottom: 30px;
  }
  .card--large .card__text {
    margin-bottom: 30px;
  }
  .card--large .card__footer {
    margin-top: 0;
  }
}
.header {
  background-color: #0a073a;
  box-sizing: border-box;
}

.header__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1280px;
  width: 100%;
}

.header__image {
  height: 28.66px;
  padding-left: 24px;
  width: 125px;
}

.header__icon {
  display: none;
}

.navbar {
  color: #ffffff;
}

.navbar__list {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navbar__item {
  margin-right: 15px;
}

@media all and (max-width: 768px) {
  .header__wrapper {
    padding: 11px 0;
    position: relative;
  }

  .header__icon {
    color: #ffffff;
    display: inline-block;
    font-size: 24px;
    margin-right: 15px;
  }

  .navbar {
    background-color: #0a073a;
    display: none;
    position: absolute;
    top: 50px;
    width: 100%;
  }

  .navbar__list {
    align-items: flex-start;
    flex-direction: column;
  }

  .navbar__item {
    margin-bottom: 16px;
  }
  .navbar__item:last-child {
    margin-bottom: 0;
  }

  .is-visible {
    display: block;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 568px;
  height: 100vh;
  background: linear-gradient(260.14deg, #2A3367 2.4%, #0A073A 100%);
}
.hero__title {
  color: #ffffff;
  font-size: 2.5em;
  line-height: 1.94em;
  font-style: normal;
  font-weight: bold;
  text-align: center;
}
.hero__subtitle {
  font-size: 1.438em;
  color: #ffffff;
  line-height: 1.25em;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 90px;
}

/*# sourceMappingURL=site.css.map */
