
#landing {
    background-image: url("../img/tdd/landing.jpg");
    background-size:  cover;
    height:           580px;
}

#landing h1,
#landing h2,
#landing p {
    color: #FFFFFF;
}

#tdd-contact-form {
    border:     none;
    background: rgba(0, 0, 0, 0.6);
    padding:    24px;
}

#tdd-contact-form input,
#tdd-contact-form button {
    -webkit-border-radius: 15px;
    -moz-border-radius:    15px;
    border-radius:         15px;
}

#tdd-contact-form .icon-prepend {
    padding-right: 3px;
}

#contact-form-footer {
    background: rgba(52, 152, 219, 0.6);
    text-align: center;
    padding:    10px 0;
    color:      #FFFFFF;
}

.summary-icon {
    padding-top: 10px;
    text-align:  right;
}

.bg-color-light {
    color: #555555;
}

.timeline-v2 > li .cbp_tmtime span:first-child {
    color:       #585f69;
    font-size:   20px;
    font-weight: normal;
}

.timeline-v2 > li .cbp_tmtime span:last-child {
    color:       #999;
    font-size:   14px;
    line-height: 0.9;
    padding-top: 10px;
}

.timeline-v2 > li .cbp_tmlabel h2 {
    text-transform: none;
}

.timeline-v2 > li .cbp_tmlabel {
    line-height: 1.8;
}
