
#landing {
    background-image: url("../img/tdd/landing-skis.jpg");
    background-size:  cover;
}

#landing h1,
#landing h2,
#landing p {
    color: #FFFFFF;
}

#landing .content-sm {
    padding-top:    30px;
    padding-bottom: 30px;
}

#tdd-contact {
    padding-top: 30px;
}

#main-title {
    font-size:     40px;
    margin-bottom: 20px;
    text-align:    center;
}

#main-title span {
    color: #0aa0f4;
}

#slogan {
    font-size:     30px;
    margin-bottom: 20px;
    text-align:    center;
}

.landing-box {
    border:     none;
    background: rgba(0, 0, 0, 0.6);
    padding:    24px;
}

#tdd-contact-form input,
#tdd-contact-form button {
    -webkit-border-radius: 15px;
    -moz-border-radius:    15px;
    border-radius:         15px;
}

#tdd-contact-form .icon-prepend {
    padding-right: 3px;
}

#contact-form-footer {
    background: #0aa0f4;
    padding:    10px 0;
    text-align: center;
    color:      #FFFFFF;
}

#summary {
    background: rgba(255, 255, 255, 0.8);
    width:      100%;
}

#summary,
#summary h2,
#summary p {
    color: #555555;
}

#summary h2 {
    margin-bottom: 0px;
}

.summary-icon {
    padding-top: 10px;
    text-align:  right;
}

.bg-color-light {
    color: #555555;
}

.timeline-v2 > li .cbp_tmtime span:first-child {
    color:       #585f69;
    font-size:   20px;
    font-weight: normal;
}

.timeline-v2 > li .cbp_tmtime span:last-child {
    color:       #999;
    font-size:   14px;
    line-height: 0.9;
    padding-top: 10px;
}

.timeline-v2 > li .cbp_tmlabel h2 {
    text-transform: none;
}

.timeline-v2 > li .cbp_tmlabel {
    line-height: 1.8;
}

.lists-v1 li {
    margin-left: 30px;
}

.vcenter {
    display:        inline-block;
    vertical-align: middle;
    float:          none;
}

.service .service-icon {
    padding-top: 2px;
}

.testimonials {
    margin-bottom: 0;
}

.testimonials-bg-dark .item p {
    background-color: #0aa0f4;
    font-size:        18px;
}

.testimonials.testimonials-bg-dark .item p:after {
    border-top-color: #0aa0f4;
}

.testimonials .testimonial-info span {
    color: #ffffff;
}

#gracias-contacto-tdd {
    display: none;
}

.about-us-panel {
    background: rgba(0, 0, 0, 0.6);
}

#next-trainings {
    font-size:    18px;
    margin-left:  auto;
    margin-right: auto;
}

#next-trainings .training-location {
    color:          #0aa0f4;
    text-transform: uppercase;
    font-weight:    bolder;
}

#next-trainings tbody tr {
    border-bottom: 2px solid #ddd;
}

#next-trainings tbody tr:last-of-type {
    border: none;
}

#testimonials {
    position:  absolute;
    bottom:    240px;
    left:      40px;
    max-width: 600px;
}

#testimonials .testimonials-info {
    opacity: 0.9;
    padding: 16px 20px;
}

#testimonials p {
    color:      #555;
    font-style: italic;
}

#testimonials strong,
#testimonials span {
    display: inline;
}

#testimonials p:before {
    color:       #bbb;
    font-size:   50px;
    content:     "\201C";
    position:    absolute;
    margin:      -20px 0 0 -25px;
    font-family: Georgia, serif;
}

#testimonials p:after {
    color:       #bbb;
    font-size:   50px;
    content:     "\201D";
    position:    absolute;
    margin:      -20px 0 0 0;
    font-family: Georgia, serif;
}

#testimonials .carousel-control {
    width: 10%;
}

#testimonials .carousel-control .icon-next,
#testimonials .carousel-control .icon-prev {
    margin-top: -20px;
    font-size:  40px;
}

#testimonials .carousel-control .icon-next {
    right:        50%;
    margin-right: -30px;
}

#testimonials .carousel-control .icon-prev {
    left:        50%;
    margin-left: -30px;
}


/* Extra small devices */
@media (max-width: 767px) {
    .headline-center-v2 p {
        padding: 0 8px;
    }
}

@media (min-width: 992px) {
    #summary {
        position: absolute;
        bottom:   0;
    }
}

@media (max-width: 991px) {
    #testimonials {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #testimonials {
        max-width: 500px;
    }
}

/*
    Max width before this PARTICULAR table gets nasty
    This query will take effect for any screen smaller than 760px
*/
@media only screen and (max-width: 760px) {
    /* Force table to not be like tables anymore */
    table.responsive-table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    table.responsive-table thead tr {
        position: absolute;
        top:      -9999px;
        left:     -9999px;
    }

    table.responsive-table tbody tr {
        margin-top:  1.333rem;
        padding-top: 1.333rem;
    }

    table.responsive-table tbody td:last-of-type {
        margin-bottom:  1.333rem;
        padding-bottom: 1.333rem;
    }

    table.responsive-table td {
        /* Behave  like a "row" */
        border:       none;
        position:     relative;
        padding-left: 40%;
        min-height:   50px;
    }

    table.responsive-table td:before {
        /* Now like a table header */
        position:      absolute;
        /* Top/left values mimic padding */
        left:          6px;
        width:         55%;
        padding-right: 10px;
        white-space:   nowrap;
    }

    /* Label the data */
    table.responsive-table td:nth-of-type(1):before {
        content: "Empresa";
    }

    table.responsive-table td:nth-of-type(2):before {
        content: "Localidad";
    }

    table.responsive-table td:nth-of-type(3):before {
        content: "Fechas";
    }

    table.responsive-table td:nth-of-type(4):before {
        content: "";
    }

}

@media only screen and (min-width: 761px) {
    table.responsive-table th {
        color: #777777;
    }

    table.responsive-table th,
    table.responsive-table td {
        text-align: center;
        padding:    0 20px;
    }

    table.responsive-table td:nth-of-type(3) {
        padding-top:    10px;
        padding-bottom: 10px;
    }
}
