@import 'core/variables';

.resume-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;

}

.bg-white {
  background-color: #fff;
}

.resume {
  &__title {
    font-weight: bold;
    font-size: 14px;
    margin: 0;
  }

  &__text {
    margin-top: 0.5rem;
    font-size: 14px;
    color: $dark-grey;
    margin-bottom: 0.5em;
  }
}


@media (min-width: 768px) {
  .resume-wrapper {
    gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
    .resume {
      &__title {
        margin: 1rem 0 0;
      }

      &__text {
        margin-bottom: 1em;
      }
    }
  }
}
