@import 'core/variables', 'block', 'course/circle', 'course/team',
  'course/calendar', 'course/tdd-value';

.resume-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.text-center {
  text-align: center;
}

.text-dark-grey {
  color: $dark-grey;
}

.bg-white {
  background-color: #fff;
}

.resume {
  &__title {
    font-weight: bold;
    font-size: 14px;
    margin: 0;
  }

  &__text {
    margin-top: 0.5rem;
    font-size: 14px;
    color: $dark-grey;
    margin-bottom: 0.5em;
  }
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.question-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 2rem 0;
}

.question {
  padding: 16px;
}

.sumary-numbers {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  padding-top: 48px;

  &__item {
    flex: 0 0 100%;

    &--circles {
      display: flex;
      flex-direction: column;
      position: relative;
      padding-bottom: 4rem;
    }
  }
}

.sumary-numbers__item {
  .circle {
    &:nth-child(2) {
      position: absolute;
      bottom: -30px;
      left: -60px;
    }

    &:nth-child(3) {
      position: absolute;
      bottom: -30px;
      right: -60px;
    }
  }
}

@media (min-width: 768px) {
  .resume-wrapper {
    gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
    .resume {
      &__title {
        margin: 1rem 0 0;
      }

      &__text {
        margin-bottom: 1em;
      }
    }
  }

  .question-wrapper {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4rem;
    gap: 2rem;
  }

  .question {
    padding: 0 32px 0 0;
  }

  .sumary-numbers {
    flex-direction: row;
    overflow-x: hidden;

    &__item {
      &:last-child {
        flex: 0 1 60%;
      }

      &:first-child {
        margin-right: 1.5em;
        flex: 0 1 40%;
      }

      &--circles {
        padding-left: 4em;
        justify-content: center;
        flex-direction: row;
      }

      & .circle {
        &:nth-child(2) {
          position: relative;
          top: -3rem;
          left: -3rem;
        }

        &:nth-child(3) {
          position: relative;
          top: 5em;
          right: 10rem;
        }
      }
    }
  }
}
