@import 'core/container', 'core/variables', 'core/normalize', 'layout/header',
  'layout/hero', 'layout/main', 'buttons', 'block';

.title {
  color: $darkest-grey;
  font-size: 2.5em;
  font-style: normal;
  font-weight: bold;
  line-height: 2.94em;
  margin: 0;
}

.small-title {
  color: $darkest-grey;
  font-size: 1.438em;
  font-style: normal;
  font-weight: bold;
  line-height: 1.25em;
  margin: 0;
}

.m-0 {
  margin: 0;
}
