.hero-wrapper {
  background: $lightest-grey;
  padding-top: 5rem;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 568px;
  height: 100vh;
  padding: 0 24px;

  &__title {
    color: $darkest-grey;
    font-size: 2.5em;
    line-height: 47px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5em;
  }

  &__subtitle {
    text-align: center;
    font-size: 1.438em;
    color: $darkest-grey;
    line-height: 1.25em;
    font-style: normal;
    margin-bottom: 90px;
    margin-top: 0;
  }

  &__image {
    max-width: 250px;
  }
}

@media all and (min-width: 768px) {
  .hero-wrapper {
    padding-top: 2rem;
  }

  .hero {
    &__image {
      margin-top: 2rem;
      max-width: 350px;
    }
  }
}

@media all and (max-width: 768px) {
  .hero {
    max-height: 400px;

    &__title {
      font-size: $text-xl-normal;
      line-height: 30px;
    }

    &__subtitle {
      font-size: $text-normal;
      line-height: 19px;
    }
  }
}
