<div class="container">
    <h2 class="title"><t>Conoce al equipo</t></h2>
    <div class="section__grid section__grid--team section__max">
        <%- include('../../partials/cards/card-team', {
            name: 'Luis Rovirosa',
            position: 'Back-end Developer',
            imageUrl: '/img/about-us/luis.jpg',
            twitterUrl: 'https://twitter.com/luisrovirosa',
            linkedinUrl: 'https://linkedin.com/in/luisrovirosa/',
            githubUrl: 'https://github.com/luisrovirosa'
        }) %>

        <%- include('../../partials/cards/card-team', {
            name: 'Jordi Anguela',
            position: 'Front-end Developer',
            imageUrl: '/img/about-us/jordi.jpg',
            twitterUrl: 'http://twitter.com/jordianguela',
            linkedinUrl: 'https://linkedin.com/in/jordianguela/',
            githubUrl: 'https://github.com/jordianguela'
        }) %>

    </div>
</div>
