<div class="container">
  <h2 class="text-center title text--summary">¿Qué recibirás si nos contratas?</h2>
  <p class="text--summary text-center text-dark-grey">Ponemos el foco en crear software que dure, sea fácil de cambiar, barato de mantener y aspiramos a que no tenga defectos.</p>
  <article class="tdd-value">
      <div class="text-center tdd-value__item">
      <img
        src="/img/illustrations/development/agreement.svg"
        class="tdd-value__image"
        alt="Dos personas firmando un contrato"
      />
    </div>
    <aside class="tdd-value__item">
      <div>
        <h3>Un equipo centrado crear productos que enamoren.</h3>
        <ul class="course-calendar__items">
          <li class="text-dark-grey">
            Implementando sólo lo imprescindible para los requisitos actuales (diseño incremental)
          </li>
          <li class="text-dark-grey">
            Evitando complejidades innecesarias
          </li>
        </ul>
      </div>

      <div>
        <h3>Un equipo con gran experiencia técnica, cohesionado y mentalidad lean.</h3>
        <ul class="course-calendar__items">
          <li class="text-dark-grey">
            Capaces de minimizar las incidencias en producción
          </li>
          <li class="text-dark-grey">
            Mejorando la moral y motivación del equipo
          </li>
           <li class="text-dark-grey">
            Capaces de reducir el testeo manual de la aplicación
          </li>
        </ul>
      </div>

      <div>
        <h3>Un software de alta calidad que se adaptará a tus necesidades que funcionará desde la primera entrega.</h3>
        <ul class="course-calendar__items">
          <li class="text-dark-grey">
            Aumentando la seguridad de los desarrolladores al introducir cambios en el código
          </li>
          <li class="text-dark-grey">
            Mejorando la moral y motivación del equipo
          </li>
        </ul>
      </div>
    </aside>
  </article>

</div>

