<div class="container">
  <h2 class="text-center title text--summary"><t>¿Qué recibirás si nos contratas?</t></h2>
  <p class="text--summary text-center text-dark-grey"><t>Ponemos el foco en crear software que dure, sea fácil de cambiar, barato de mantener y aspiramos a que no tenga defectos.</t></p>
  <article class="tdd-value">
      <div class="text-center tdd-value__item">
      <img
        src="/img/illustrations/development/agreement.svg"
        class="tdd-value__image"
        alt="<%= __('Dos personas firmando un contrato') %>"
      />
    </div>
    <aside class="tdd-value__item">
      <div>
        <h3><t>Un equipo centrado crear productos que enamoren.</t></h3>
        <ul class="course-calendar__items">
          <li class="text-dark-grey">
            <t>Implementando sólo lo imprescindible para los requisitos actuales (diseño incremental)</t>
          </li>
          <li class="text-dark-grey">
            <t>Evitando complejidades innecesarias</t>
          </li>
        </ul>
      </div>

      <div>
        <h3><t>Un equipo con gran experiencia técnica, cohesionado y mentalidad lean.</t></h3>
        <ul class="course-calendar__items">
          <li class="text-dark-grey">
            <t>Capaces de minimizar las incidencias en producción</t>
          </li>
          <li class="text-dark-grey">
            <t>Mejorando la moral y motivación del equipo</t>
          </li>
           <li class="text-dark-grey">
             <t>Capaces de reducir el testeo manual de la aplicación</t>
          </li>
        </ul>
      </div>

      <div>
        <h3><t>Un software de alta calidad que se adaptará a tus necesidades que funcionará desde la primera entrega.</t></h3>
        <ul class="course-calendar__items">
          <li class="text-dark-grey">
            <t>Aumentando la seguridad de los desarrolladores al introducir cambios en el código</t>
          </li>
          <li class="text-dark-grey">
            <t>Mejorando la moral y motivación del equipo</t>
          </li>
        </ul>
      </div>
    </aside>
  </article>

</div>

