<div class="hero-wrapper">
  <div class="container course-hero">
    <%- include('pages-content/curso-common/hero-block', {
      title: `Aceleración técnica para nuevas contrataciones`,
      subtitle: 'Formamos con el objetivo de que al incorporarse a tus equipos de desarrollo sean productivas, sigan las convenciones y prácticas de equipo y empresa.',
      image: './img/illustrations/bootcamp.svg'
    }) %>

    <%- include('pages-content/curso-common/course-card-information', {
      hours: '3 meses',
      hoursDesc: '(full time)',
      fromWhere: 'Remoto',
      languages: 'Java, Python, PHP, Js, C#',
      availableInLanguages: 'También en inglés',
    }) %>
  </div>
</div>
