<div class="container">
    <h2 class="text-center title text--summary"><t>¿Por qué contar con Codium para  desarrollar tu producto?</t></h2>
    <p class="text--summary text-center text-dark-grey"><t>Trabajamos contigo para destilar lo que más valor aporta e implementarlo con buenas prácticas y estándares de calidad.</t></p>
  <article class="tdd-value">
      <div class="text-center tdd-value__item">
      <img
        src="/img/illustrations/development/team_spirit.svg"
        class="tdd-value__image"
        alt="<%- __('Tres personas de píe') %>"
      />
    </div>
    <aside class="tdd-value__item">
      <div>
          <h3><t>Codium es tu equipo.</t></h3>
        <ul class="course-calendar__items">
          <li class="text-dark-grey">
              <t>Porque buscas un equipo de confianza</t>
          </li>
          <li class="text-dark-grey">
              <t>Porque te ayudaremos a simplificar e invertir en lo que más importa</t>
          </li>
           <li class="text-dark-grey">
               <t>Porque desarrollamos software flexible a cambios</t>
          </li>
           <li class="text-dark-grey">
               <t>Porque te ayudaremos a simplificar e invertir en lo que más importa</t>
          </li>
           <li class="text-dark-grey">
               <t>Porque te entregamos valor continuamente</t>
          </li>
        </ul>
      </div>

      <div>
          <h3><t>¿Cuál es el formato de la colaboración?</t></h3>
        <ul class="course-calendar__items">
          <li class="text-dark-grey">
              <t>Duración <strong>entre 3 meses y 1 año</strong> prolongables</t>
          </li>
          <li class="text-dark-grey">
              <t>Entre <strong>150 y 500 horas al mes</strong></t>
          </li>
           <li class="text-dark-grey">
               <t>De <strong>forma remota</strong> con <strong>mucha comunicación</strong></t>
          </li>
          <li class="text-dark-grey">
              <t>Acordamos las funcionalidades y entregamos valor de forma continua</t>
          </li>
        </ul>
      </div>
    </aside>
  </article>

  <div class="button__wrapper">
    <a
      class="button button--primary"
      href="#contactForm"
      data-trackevent="contact_us.show_form.course_value"
    >
        <t>¡Me interesa!</t>
    </a>
  </div>
</div>
