<div class="container">
  <h2 class="text-center title text--summary">¿Por qué contar con Codium para  desarrollar tu producto?</h2>
  <p class="text--summary text-center text-dark-grey">Trabajamos contigo para destilar lo que más valor aporta e implementarlo con buenas prácticas y estándares de calidad.</p>
  <article class="tdd-value">
      <div class="text-center tdd-value__item">
      <img
        src="/img/illustrations/development/team_spirit.svg"
        class="tdd-value__image"
        alt="Tres personas de píe "
      />
    </div>
    <aside class="tdd-value__item">
      <div>
        <h3>Codium es tu equipo.</h3>
        <ul class="course-calendar__items">
          <li class="text-dark-grey">
            Porque buscas un equipo de confianza
          </li>
          <li class="text-dark-grey">
            Porque te ayudaremos a simplificar e invertir en lo que más importa
          </li>
          <li class="text-dark-grey">
            Porque desarrollamos software flexible a cambios
          </li>
           <li class="text-dark-grey">
            Porque te entregamos valor continuamente
          </li>
        </ul>
      </div>

      <div>
        <h3>¿Cuál es el formato de la colaboración?</h3>
        <ul class="course-calendar__items">
          <li class="text-dark-grey">
            Duración <strong>entre 3 meses y 1 año</strong> prolongables
          </li>
          <li class="text-dark-grey">
            Entre <strong>150 y 500 horas al mes</strong>
          </li>
           <li class="text-dark-grey">
            De <strong>forma remota</strong> con <strong>mucha comunicación</strong>
          </li>
          <li class="text-dark-grey">
            Acordamos las funcionalidades y entregamos valor de forma continua
          </li>
        </ul>
      </div>
    </aside>
  </article>

  <div class="button__wrapper">
    <a
      class="button button--primary"
      href="#contactForm"
      data-trackevent="contact_us.show_form.course_value"
    >
      ¡Me interesa!
    </a>
  </div>
</div>
