<div class="dropdown">
  <span>Cursos</span>
  <ul class="options">
    <li>
      <a href="/curso-legacy-code.html">Legacy</a>
    </li>
    <li><a href="/curso-tdd.html">TDD</a></li>
    <li><a href="/curso-docker.html">Docker</a></li>
  </ul>
</div>
