<%- include('header', {
  menu: [
    ...menu,
    {
      title: __('Servicios'),
      children: [
        {
          title: 'Desarrollo',
          url: '/desarrollo.html',
        },
        {
          title: 'Curso Working with Legacy',
          url: '/curso-legacy-code.html',
        },
        {
          title: 'Curso de TDD',
          url: '/curso-tdd.html',
        },
        {
          title: 'Curso de Patrones',
          url: '/curso-refactoring-a-patrones.html',
        },
        {
          title: 'Curso de Docker',
          url: '/curso-docker.html',
        },
        {
          title: 'Curso Quality Assurance',
          url: '/curso-quality-assurance.html',
        },
        {
          title: 'Taller de Front-end <span class="badge bg-primary">online</span>',
          url: 'https://online-trainings.codium.team/',
        },
        {
          title: 'Programa de aceleración',
          url: '/programa-de-aceleracion.html',
        },
      ]
    },
  ]
}) %>
