<%- include('header', {
  menu: [
    ...menu,
    {
      title: __('Servicios'),
      children: [
        {
          title: __('Desarrollo'),
          url: url('/desarrollo.html'),
        },
        {
          title: __('Curso de Product Engineer'),
          url: url('/curso-product-engineer.html'),
        },
        {
          title: __('Curso Working with Legacy'),
          url: url('/curso-legacy-code.html'),
        },
        {
          title: __('Curso de TDD'),
          url: url('/curso-tdd.html'),
        },
        {
          title: __('Curso de Patrones'),
          url: url('/curso-refactoring-a-patrones.html'),
        },
        {
          title: __('Curso de Docker'),
          url: url('/curso-docker.html'),
        },
        {
          title: __('Curso Quality Assurance'),
          url: url('/curso-quality-assurance.html'),
        },
        {
          title: __('Taller de Front-end <span class="badge bg-primary">online</span>'),
          url: 'https://online-trainings.codium.team/',
          newTab: true
        },
        {
          title: __('Programa de aceleración'),
          url: url('/programa-de-aceleracion.html'),
        },
      ]
    },
  ]
}) %>
