<section class="block">
  <div class="container">
    <h2>Blocks</h2>
    <div class="block block--white">
      <h2>White block <code>.block .block--white</code></h2>
    </div>
    <div class="block block--grey">
      <h2>Grey block <code>.block .block--grey</code></h2>
    </div>
    <div class="block block--lila">
      <h2>Lila block <code>.block .block--lila</code></h2>
    </div>
  </div>
</section>
