<section class="section block block--white">
  <div class="container">
    <h1>Botones</h1>
    <div class="section">
      <button type="button" class="button button--primary">Botón</button>
      <p><code>.button .button--primary</code></p>
    </div>
    <div>
      <button type="button" class="button button--primary" disabled>
        Botón
      </button>
      <p><code>disabled</code></p>
    </div>
    <div>
      <button type="button" class="button button--outline">Botón</button>
      <p><code>.button .button--outline</code></p>
    </div>
  </div>
</section>
