 <section class="section block block--white">
   <div class="container">
     <h1 class="title">Tipos de texto</h1>
     <p class="title">Texto para títulos <code>.title</code></p>
     <p class="small-title">
       Texto para títulos pequeños <code>.small-title</code>
     </p>
     <p>
       Luis Rovirosa es desarrollador de aplicaciones web y formador desde
       hace más de 10 años. Trabaja habitualmente con startups y grandes
       empresas ayudando a transformar sus equipos de programación. En su
       día a día dedica buena parte de su tiempo al desarrollo y también
       ayuda a las empresas a simplificar y priorizar sus productos.
     </p>
   </div>

   <div class="container">
     <h1 class="title">Colores de texto</h1>
     <p class="title text-primary">Texto primary <code>.text-primary</code></p>
      <p> <small>Recomendamos utilizarlo en sólo algunos puntos de la web debido a su color
       "pasteloso" o "chillón"</small> </p>
     <p class="title text-logo-color">Texto logo.<code>.text-primary</code></p>
   </div>
 </section>
