.dropdown {
  position: relative;
  user-select: none;

  @media screen and (min-width: 768px) {
    &:hover {
      .options {
        display: block;
      }

      &::before {
        transform: rotate(135deg);
        top: 7px;
      }
    }
  }
}

.dropdown::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 90px;
  z-index: 1000;
  width: 8px;
  height: 8px;
  border: 2px solid $darkest-grey;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(-45deg);
  transition: 0.2s;
  pointer-events: none;
}

.dropdown.active::before {
  transform: rotate(135deg);
  top: 7px;
}

.dropdown .options {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: none;
  min-width: 180px;
  list-style: none;
  padding: 1rem 0.5rem;
}

.dropdown.active .options {
  display: block;
}

.dropdown .options li {
  cursor: pointer;

  a {
    display: block;
    padding: 12px 20px;
  }
}

.dropdown .options li:hover {
  background-color: #fff;
}

@media (min-width: 768px) {
  .dropdown .options {
    user-select: none;
    position: absolute;
    right: -15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    background: $lightest-grey;
  }
}
