$secondary-brand-color: #d3efff;
$logo-color: #0ba1f4;
$primary-brand-color: #2fade2;
$primary-brand-hover-dark-color: #0e9edc;
$dark-grey: #737373;
$light-grey: #f3f6fa;
$light-lila: #f5f8ff;
$darkest-grey: #1a1919;
$lightest-grey: #fafcfe;
$white: #ffffff;
$bg: #f6f8fb;

$border-radius: 5px;

$text-2-xl: 2.5em;
$text-normal: 1em;
$text-xl-normal: 1.438em;
