@import './icomoon/style';

.text-center {
  text-align: center;
}

.text-dark-grey {
  color: $dark-grey;
}

.text-right {
  text-align: right;
}

.success-check {
  font-size: $text-2-xl;
  margin-bottom: 1rem;
  color: #5ab45e;
}

.hidden {
  display: none;
}

.fa-stack {
  height: 2em;
  line-height: 2em;
  position: relative;
  width: 2em;
  border-radius: 50%;
  background-color: #fff;
  display: block;
  text-align: center;
  padding-top: 2px;

  .icon {
    font-size: 1rem;
  }
}
