$icomoon-font-family: 'icomoon' !default;
$icomoon-font-path: './fonts' !default;

$icon-language: '\e900';
$icon-location: '\e901';
$icon-droplet: '\e90b';
$icon-coin-euro: '\e93c';
$icon-bubbles2: '\e96d';
$icon-users: '\e972';
$icon-spinner4: '\e97d';
$icon-zoom-in: '\e987';
$icon-equalizer: '\e992';
$icon-hammer: '\e996';
$icon-briefcase: '\e9ae';
$icon-heart: '\e9da';
$icon-circle-right: '\ea42';
$icon-circle-left: '\ea44';
$icon-embed2: '\ea80';
$icon-twitter: '\ea96';
$icon-youtube: '\ea9d';
$icon-github: '\eab0';
$icon-linkedin2: '\eaca';
$icon-hourglass: '\e902';
