<div id="value">
    <div class="container content-sm">
        {{ include('components/block_header.html.twig', { name: '¿Por qué Docker?' }) }}

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3>Docker soluciona algunos de los problemas de infraestructura más comunes. Permite casi eliminar el famoso <i>"en mi máquina funciona"</i>.</h3>
                <h3>¿Cómo? Homogeneizando los entornos.</h3>
                <h3>¿Pero cómo? Pues tratando la infraestructura como código.</h3>
                <br>
                <h3>Problemas comunes:</h3>
                <ul class="list-unstyled lists-v1">
                    <li><i class="fa fa-angle-right"></i>Los desarrolladores tienen máquinas distintas con sistemas operativos diversos.</li>
                    <li><i class="fa fa-angle-right"></i>Diferentes versiones del software en entornos locales, test y producción. Esta situación además provoca que no podamos reproducir ciertos problemas por culpa de que los entornos son distintos.</li>
                    <li><i class="fa fa-angle-right"></i>Diferentes versiones instaladas de librerías y paquetes.</li>
                    <li><i class="fa fa-angle-right"></i>A medida que el tiempo pasa, el conocimiento sobre el software se va perdiendo. Esto puedo provocar fácilmente que la instalación del software sea compleja y manual.</li>
                    <li><i class="fa fa-angle-right"></i>Diferentes configuraciones entre desarrolladores.</li>
                    <li><i class="fa fa-angle-right"></i>Sobrecostes por infrautilización los recursos de los servidores o de las máquinas virtuales.</li>
                </ul>
                <br>
                <h3>Problemas con el despliegue:</h3>
                <ul class="list-unstyled lists-v1">
                    <li><i class="fa fa-angle-right"></i>Alguien del equipo se conecta a un servidor y configura lo que sea o sube a mano un binario/artefacto, etc.</li>
                    <li><i class="fa fa-angle-right"></i>Sysadmins tardan tiempo en desplegar, es complicado hacer cambios en la infraestructura o simplemente escalar.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
