@import 'core/variables', 'core/container', 'block', 'title', 'layout/footer',
  'core/utilities', 'course/hero', 'core/normalize', 'layout/header',
  'layout/hero', 'layout/main', 'buttons', 'core/dropdown';

html,
body,
main {
  height: 100%;
}

.block.block--white {
  padding-bottom: 0;
  overflow: hidden;
}

.not-found {
  z-index: 4;
  max-width: 100%;
}

.unit {
  display: block;
  font-size: 1rem;
}

.container-item {
  min-width: 300px;
  background: white;
  overflow: hidden;
  position: relative;
  text-align: center;
  margin-left: -32px;
  margin-right: -32px;
  min-height: 100%;
  padding-top: 3rem;
}

.fade-in {
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
