.block {
  padding: 3rem 25px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2;
    margin: 0;
  }

  &--white {
    background: #fff;
  }

  &--lila {
    background: $light-lila;
  }

  &--grey {
    background: $lightest-grey;
  }
}

.button__wrapper {
  margin-top: 1rem;
  text-align: center;

  @media (min-width: 768px) {
    margin-top: 3rem;
  }
}
