.card {
  background: $white;
  border-radius: 5px;
  padding: 16px 32px;
  text-align: center;
  white-space: normal;

  &__list {
    text-align: left;
    padding-left: 1rem;
    min-height: 150px;

    li {
      margin: 0.7rem 0;
    }
  }

  &__name,
  &__profession {
    margin: 0;
  }

  &__profession {
    font-size: 14px;
    color: #737373;
  }
}

.card__header {
  color: $primary-brand-color;
  font-size: 32px;
  margin-bottom: 8px;
  text-align: center;
}

.card__title {
  color: $darkest-grey;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.card__text {
  color: $dark-grey;
  font-size: 16px;
  margin-bottom: 8px;

  &--left {
    text-align: left;
  }
}

.card__image {
  max-width: 200px;
  width: 100%;

  &--rounded {
    max-width: 150px;
    border-radius: 50%;
  }
}

.card--large {
  box-shadow: rgb(16 24 40 / 30%) 0px 0.5px 2px;

  .card__header {
    font-size: 72px;
    height: 200px;
  }

  .card__title {
    font-size: $text-xl-normal;
    margin-bottom: 16px;
    margin-top: 0;
  }

  .card__text {
    margin-bottom: 16px;
  }

  .card__image {
    min-height: 180px;
  }
}

.card--personal {
  background-color: $light-lila;
  .card__title {
    font-size: $text-xl-normal;
    margin-bottom: 0;
  }
}

.card.card--opinion {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 1rem;
  flex-direction: column;
  border: 1px solid #f4f4f4;

  .card__header {
    margin-right: 1rem;
    margin-top: 0;
    margin-bottom: 0;

    .card__image {
      max-width: 100px;
      min-width: 100px;
    }
  }

  .card__text {
    margin: 0;
  }
}

.card__footer {
  margin-top: 16px;
  text-align: center;

  .card__view-info {
    margin-top: 1rem;
    display: inline-block;
    color: $dark-grey;
  }
}

.card__icons {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.card__icon {
  margin-right: 8px;
  font-size: 24px;

  i {
    color: $primary-brand-color;

    &:hover {
      color: $primary-brand-hover-dark-color;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.card__professional {
  color: $dark-grey;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 768px) {
  .card {
    padding: 32px;
  }

  .card__header {
    margin-bottom: 20px;
  }

  .card__title {
    margin-bottom: 20px;
  }

  .card--large {
    .card__title {
      margin-bottom: 30px;
    }

    .card__text {
      margin-bottom: 30px;
    }

    .card__footer {
      margin-top: 0;
    }
  }

  .card.card--opinion {
    flex-direction: row;
    height: 100%;
  }
}

.card.card--success {
  max-width: 500px;
  margin: 2rem auto;
}
