.card.card--services {
  $size-space: 16px;
  min-width: 190px;
  padding: $size-space;
  position: relative;
  margin-top: 32px;
  transform: scale(1);
  animation: all 0.3s ease-in-out;

  &:hover {
    .card__image {
      filter: none;
    }
  }

  @media all and (min-width: 580px) {
    max-width: 16.75rem; // 220px
    margin-left: 16px;
  }

  &:first-child {
    margin-left: 0;
  }

  .card--services__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.15s ease-out;
  }

  .card__image {
    min-height: 140px;
    width: 100%;
    margin-top: $size-space * -1;
    margin-left: $size-space * -1;
    max-width: none;
    box-sizing: content-box;
    padding-right: $size-space * 2;
    margin-bottom: $size-space;
    background-position: center;
    background-size: cover;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
    position: relative;
    filter: grayscale(1);
    position: relative;
    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      pointer-events: none;
      opacity: 1;
      background: rgba(62, 162, 253, 0.2);
    }
  }

  .card__type {
    display: block;
    background-color: $primary-brand-color;
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 8px;
    color: #fff;
    font-size: 0.85em;
    border-radius: 4px 0 0 4px;

    &--Taller {
      background-color: #57b894;
    }

    &--Consultoría {
      background-color: #6c63ff;
    }
  }

  .small-title {
    position: relative;
    padding-right: 20px;

    .icon {
      font-size: 2rem;
      position: absolute;
      right: -16px;
      top: -3px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .card__information {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 1.5rem 1rem;
    text-align: left;

    .icon {
      font-size: 1.2rem;
    }

    &-text {
      margin: 0 0.8rem;
      font-size: 1em;
    }

    &-desc {
      font-size: 14px;
      color: #737373;
      margin: 0 0.8rem;
    }
  }

  .button__wrapper {
    margin-top: 16px;
  }
}

.card.card--services.card--open {
  max-width: 100%;
  .card--services__content {
    max-height: 500px;
    transition: max-height 0.25s ease-in;
  }

  .card__image {
    filter: none;
  }
}

.information-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}
