@import 'core/variables', 'core/normalize', 'core/container', 'buttons', 'title',
  'core/dropdown', 'block', 'layout/header', 'layout/hero', 'layout/main',
  'course/circle', 'course/team', 'course/calendar', 'course/tdd-value',
  'core/carousel', 'layout/footer', 'core/inputs', 'core/utilities',
  'course/hero', 'course/question', 'core/animation';

.sumary-numbers {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  padding-top: 48px;

  &__item {
    flex: 0 0 100%;

    &--circles {
      display: flex;
      flex-direction: column;
      position: relative;
      padding-bottom: 4rem;
    }
  }
}

.sumary-numbers__item {
  .circle {
    &:nth-child(2) {
      position: absolute;
      bottom: -30px;
      left: -60px;
    }

    &:nth-child(3) {
      position: absolute;
      bottom: -30px;
      right: -60px;
    }
  }
}

@media (min-width: 768px) {
  .sumary-numbers {
    flex-direction: row;
    overflow-x: hidden;

    &__item {
      &:last-child {
        flex: 0 1 60%;
      }

      &:first-child {
        margin-right: 1.5em;
        flex: 0 1 40%;
      }

      &--circles {
        padding-left: 4em;
        justify-content: center;
        flex-direction: row;
      }

      & .circle {
        &:nth-child(2) {
          position: relative;
          top: -3rem;
          left: -3rem;
        }

        &:nth-child(3) {
          position: relative;
          top: 5em;
          right: 10rem;
        }
      }
    }
  }
}
