@import 'core/container', 'core/variables', 'core/normalize', 'layout/header',
  'layout/footer', 'block', 'core/utilities', 'core/dropdown', 'core/inputs';

.main {
  padding-top: 3.5rem;
}

.block h2,
h3,
h4 {
  margin: 1.5rem 0 0.5rem 0 !important;
}

.legacy {
  img {
    max-width: 100%;
  }
}

.flex,
.row {
  display: flex;

  .col-md-4 {
    flex: 0 0 25%;
    margin: 1.5rem 1.5rem 0 0;
  }
}

.dark {
  background-color: $darkest-grey;

  h2,
  h3,
  p {
    color: white !important;
  }
}
