@import 'core/container', 'core/variables', 'core/normalize', 'layout/header',
  'layout/footer', 'layout/hero', 'layout/main', 'buttons', 'block',
  'core/utilities', 'core/dropdown', 'core/inputs', 'title', 'course/carousel',
  'course/circle';

.main {
  padding-top: 3.5rem;
}

.block h2,
h3,
h4 {
  margin: 1.5rem 0 0.5rem 0 !important;
}

.legacy {
  img {
    max-width: 100%;
  }
}

code {
  font-size: 1rem;
  color: #e83e8c;
  word-break: break-word;
}

.flex {
  display: flex;
  justify-content: space-between;

  .col-md-4 {
    flex: 0 0 25%;
    margin-bottom: 1.5rem;
  }
}
