<article class="card card--services">
  <div class="card__image" style="background-image: url('https://via.placeholder.com/450');"></div>

  <div>
     <p class="small-title text--left"><%= title %></p>
     <p class="text--left card__more-info"><span>Más información</span></p>
  </div>

</article>
