<article class="card card--small">
  <div class="card__header">
    <i class="icon <%= icon %>"></i>
  </div>
  <p class="card__title"><%= title %></p>
  <p class="card__text"><%= description %></p>
</article>
