{% set urls = { 'TDD': '/curso-tdd.html', 'Legacy code': '/curso-legacy-code.html' } %}

<td data-header="Curso" nowrap>
{% if training != currentPage %}
    <a href="{{ urls[training] }}"><span>{{ training }}</span></a>
{% else %}
    <span>{{ training }}</span>
{% endif %}
</td>