{% set urls = {
    'TDD': '/curso-tdd.html',
    'Legacy code': '/curso-legacy-code.html',
    'Docker': '/curso-docker.html'
} %}

<td data-header="Curso" nowrap>
{% if training != currentPage and training in urls|keys %}
    <a href="{{ urls[training] }}"><strong><span>{{ training }}</span></strong></a>
{% else %}
    <span><strong>{{ training }}</strong></span>
{% endif %}
</td>