<div id="{{ id }}">
    <div class="container content-sm hidden-xs">
        {{ include('components/block_header.html.twig', { name: title }) }}
        <div class="row">
            <div class="text-center">
                <table id="next-trainings" class="responsive-table">
                    <thead>
                    <tr>
                        <th>Curso</th>
                        <th>Empresa</th>
                        <th>Localidad</th>
                        <th>Fechas</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% block nextTrainings %}{% endblock %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>