<section class="card">
  <img src="./img/illustrations/bootcamp/katas.png">
  <h2>¡Mucha suerte!</h2>

  <h3>Recuerda</h3>
  <div class="issues">
    <ul>
      <li>
       Añadir un <strong>tests en rojo</strong>
      </li>
      <li>
       Añadir el <strong>mínimo código necesario</strong> para hacer pasar el test
      </li>
      <li><strong>Refactorizar</strong> si lo requiere.</li>
    </ul>
  </div>
</section>
