<section class="card">
  <h2 class="text-center tab-header">Tdd es...</h2>
  <div class="options" data-answer-value="3">
    <button class="options__option">
      <span class="options__number">1</span>
      <span>Hacer primero tests</span>
    </button>
    <button class="options__option">
      <span class="options__number">2</span>
      <span>Hacer primero tests</span>
    </button>
    <button class="options__option">
      <span class="options__number">3</span>
      <span>Hacer primero tests</span>
    </button>
    <button class="options__option">
      <span class="options__number">4</span>
      <span>Hacer primero tests</span>
    </button>
  </div>
</section>
