<div class="card">
  <div>
    <img src="/img/challenges/welcome_cats.svg" width="300" height="200" alt="Welcome to codium" />
  </div>
  <h2 class="text-center tab-header">¡Bienvenide al challenge de TDD de Codium!</h2>
  <p>Antes de empezar la prueba. Repasemos primero unos conceptos básicos de TDD :)</p>
  <div class="button__wrapper">
    <button class="button button--primary">Continuar</button>
  </div>
</div>
