
<div class="container">
  <h2 class="text-center title">El valor del curso</h2>
  <p class="text-center text-dark-grey">
    Aprende dos pilares imprescindibles: a desacoplar tu código y a
    testear tu producto.
  </p>

  <article class="tdd-value">
    <div class="text-center tdd-value__item">
      <img
        width="400"
        height="337"
        src="/img/fast-cheap-good-v2.svg"
        class="tdd-value__image"
        alt="El valor del curso explicado con bueno-bonito-barato"
      />
    </div>

    <aside class="tdd-value__item">
      <div>
        <h3>Ayuda a reducir los costes de mantenimiento</h3>
        <ul class="course-calendar__items">
          <li class="text-dark-grey">
            Al reducir la complejidad y acoplamiento del código
          </li>
          <li class="text-dark-grey">
            Minimizando las incidencias en producción
          </li>
        </ul>
      </div>

      <div>
        <h3>Ayuda a reducir los costes de desarrollo</h3>
        <ul class="course-calendar__items">
          <li class="text-dark-grey">
            Mejorando la base de código sobre la que trabajar
          </li>
          <li class="text-dark-grey">
            Aumentando la seguridad de los desarrolladores al introducir
            nueva funcionalidad
          </li>
        </ul>
      </div>

      <div>
        <h3>Transforma al desarrollador</h3>
        <ul class="course-calendar__items">
          <li class="text-dark-grey">
            Sensibilizándole sobre los múltiples problemas del código
          </li>
          <li class="text-dark-grey">
            Dotándole de herramientas para hacer mejor su trabajo
          </li>
          <li class="text-dark-grey">
            Mejorando la moral y motivación del equipo al reducir la
            deuda técnica
          </li>
          <li class="text-dark-grey">
            Aprendiendo mecanismos para migrar el software de forma
            segura
          </li>
        </ul>
      </div>
    </aside>
  </article>

  <div class="button__wrapper">
    <a
      class="button button--primary"
      href="#contactForm"
      data-trackevent="contact_us.show_form.course_value"
    >
      Contactar
    </a>
  </div>
</div>
