
 <% var opinionAboutThisCourse = [
  {
    avatar: './img/testimonials/luis_ruiz_pavon.jpeg',
    opinion: __(`Ha cumplido con todas mis expectativas. El formato es perfecto donde se mezclan teoría y práctica. Programar con otras personas te abre la mente y genera debates muy interesantes. Ahora puedo decir que tengo una navaja suiza para enfrentarme al monstruo del Legacy.`),
    name: 'Luis Ruiz Pavón',
    profession: __('Principal Software Engineer en Eventbrite'),
  },  {
    avatar: './img/testimonials/francois.png',
    opinion: __(`Un curso práctico basado en una filosofía sólida. El equipo salió con más ganas de trabajar sobre un legacy. Al día siguiente empezamos ya a mejorar nuestras prácticas. ¡Exitazo!`),
    name: 'François Delaunay',
    profession: __('GE Renewable Energy'),
  },
  {
    avatar: './img/testimonials/jorgeSanchez.jpeg',
    opinion: __(`Curso fundamental para sensibilizar al equipo con problemas del Legacy Code, los cuales no siempre son vistos como tal, a la par de alinear al equipo en cómo abordarlos. Apropiado para ya no sólo trabajar con Legacy Code si no ¡para dejar de generarlo!`),
    name: 'Jorge Sánchez',
    profession: __('Software Architect en Digi Spain Telecom'),
  },
  {
    avatar: './img/testimonials/OriolTorne.png',
    opinion: __(`El curso fue un punto de inflexión para atrevernos a hacer las cosas de otra forma: con más seguridad y más calidad. Un año después del curso, hemos notado una mejoría importante en el código y las metodologías que aplicamos.`),
    name: 'Oriol Torné',
    profession: __('Dev en Esblada Medical'),
  },
  {
    avatar: './img/testimonials/logedo.jpg',
    opinion: __(`Una formación imprescindible para enfrentarte a ese gran monstruo que es el legacy code. Con formaciones así es imposible no apasionarse por nuestro trabajo.`),
    name: 'Juan Carlos Logedo',
    profession: __('Sr. Dev en Hotelbeds'),
  },
  {
    avatar: './img/testimonials/alberto-de-la-cruz.jpg',
    opinion: __(`¡Salimos con las pilas cargadas!. Trabajar con Legacy no es fácil pero gracias a este curso ahora el equipo comparte herramientas, vocabulario y otra perspectiva de cara a enfrentarse a él. Estamos encantados.`),
    name: 'Alberto de la Cruz Grijalvo',
    profession: __('Allroad en Alea Soluciones'),
  },
  {
    avatar: './img/testimonials/joseIgnacioDominguez.jpg',
    opinion: __(`Ha sido una oportunidad magnífica para aprender,
          trabajar como un equipo, compartir
          y validar ideas.
          Es muy práctico y se favorecen las
          conversaciones sobre distintas soluciones a un mismo
          problema. ¡Salimos con ganas de mejorar nuestro código!`),
    name: 'Jose Ignacio Domínguez',
    profession: __('Staff Software Engineer en Clarity AI'),
  },
] %>

<section class="block block--white">
  <div class="container">
    <h2 class="text-center title"><t>Testimonios</t></h2>
    <p class="text-center">
      <t>Conoce qué han dicho los alumnos sobre este curso</t>
    </p>

    <%- include('../../partials/carousel/opinion', {
      opinions: opinionAboutThisCourse
    })  %>
  </div>
</section>
