<section class="block block--lila">
  <div class="container">
    <h2 class="text-center title" id="training-content-timeline">
      Contenido del curso
    </h2>

    <div class="calendar">
      <div>
        <article class="course-calendar">
          <div class="course-calendar__day">
            <p class="small-title">Día 1</p>
            <p class="text-dark-grey course-calendar__day-item">Mañana</p>
          </div>
          <div class="course-calendar__list">
            <p class="small-title">Cambiando el software con prisas</p>
            <ul class="course-calendar__items">
              <li class="text-dark-grey">
                Qué es el código legado y qué lo origina
              </li>
              <li class="text-dark-grey">
                Cómo añadir funcionalidad sin aumentar la complejidad
              </li>
              <li class="text-dark-grey">Sprout method / Sprout class</li>
              <li class="text-dark-grey">Wrap method / Wrap class</li>
            </ul>
            <p class="small-title course-calendar__title">
              Detectando y resolviendo problemas
            </p>
            <ul class="course-calendar__items">
              <li class="text-dark-grey">Bad smells</li>
              <li class="text-dark-grey">
                Cómo definimos estándares de código
              </li>
              <li class="text-dark-grey">
                Cómo mejoramos la cultura del equipo
              </li>
              <li class="text-dark-grey">
                Técnicas para reducir la complejidad
              </li>
              <li class="text-dark-grey">Beneficios del refactoring</li>
            </ul>
          </div>
        </article>
        <article class="course-calendar">
          <div class="course-calendar__day">
            <p class="text-dark-grey course-calendar__day-item">Tarde</p>
          </div>
          <div class="course-calendar__list">
            <p class="small-title course-calendar__title">
              Desacoplando nuestro código
            </p>
            <ul class="course-calendar__items">
              <li class="text-dark-grey">Acoplamiento y cohesión</li>
              <li class="text-dark-grey">
                Cómo desacoplarnos del framework
              </li>
              <li class="text-dark-grey">
                Cómo desacoplarnos de la base de datos y librerías
              </li>
              <li class="text-dark-grey">
                Interfaces e inversión de dependencias
              </li>
              <li class="text-dark-grey">El patrón Adapter</li>
            </ul>
          </div>
        </article>
      </div>

      <div>
        <article class="course-calendar">
          <div class="course-calendar__day">
            <p class="small-title">Día 2</p>
            <p class="text-dark-grey course-calendar__day-item">Mañana</p>
          </div>
          <div class="course-calendar__list">
            <p class="small-title">Escribiendo los primeros tests</p>
            <ul class="course-calendar__items">
              <li class="text-dark-grey">La importancia del testing</li>
              <li class="text-dark-grey">
                Qué es el arnés de tests y la cobertura
              </li>
              <li class="text-dark-grey">Tipos de tests</li>
              <li class="text-dark-grey">Tests de caracterización</li>
            </ul>
            <p class="small-title course-calendar__title">
              Probando un código acoplado
            </p>
            <ul class="course-calendar__items">
              <li class="text-dark-grey">
                Entender los problemas del código acoplado
              </li>
              <li class="text-dark-grey">
                Cómo probamos código acoplado
              </li>
              <li class="text-dark-grey">
                Técnica de extract and override
              </li>
              <li class="text-dark-grey">
                Transformar tests de integración en unitarios
              </li>
            </ul>
          </div>
        </article>

        <article class="course-calendar">
          <div class="course-calendar__day">
            <p class="text-dark-grey course-calendar__day-item">Tarde</p>
          </div>
          <div class="course-calendar__list">
            <p class="small-title course-calendar__title">
              Probando código complejo
            </p>
            <ul class="course-calendar__items">
              <li class="text-dark-grey">
                Cómo probamos un código sin entenderlo
              </li>
              <li class="text-dark-grey">Técnica Golden Master</li>
            </ul>

            <p class="small-title">
              Escribiendo tests como un profesional
            </p>
            <ul class="course-calendar__items">
              <li class="text-dark-grey">
                Qué son y para qué sirven los tests dobles
              </li>
              <li class="text-dark-grey">
                Cómo y cuándo usar los dobles de pruebas
              </li>
              <li class="text-dark-grey">
                Mocks, spies, stubs, fakes y dummies
              </li>
              <li class="text-dark-grey">Otras técnicas de testing</li>
            </ul>
          </div>
        </article>
      </div>
    </div>

    <div class="button__wrapper">
      <a
        class="button button--primary"
        href="#contactForm"
        data-trackevent="contact_us.show_form.course_index"
      >
        Contactar
      </a>
    </div>
  </div>
</section>
