<div class="container">
  <h2 class="text-center title">
    <t>Contenido del curso</t>
  </h2>

  <div class="calendar">
      <article class="course-calendar">
        <div class="course-calendar__day">
          <p class="small-title"><t>Bloque 1</t></p>
        </div>
        <div class="course-calendar__list">
          <p class="small-title"><t>Cambiando el software con prisas</t></p>
          <ul class="course-calendar__items">
            <li class="text-dark-grey">
              <t>Qué es el código legado y qué lo origina</t>
            </li>
            <li class="text-dark-grey">
              <t>Cómo añadir funcionalidad sin aumentar la complejidad</t>
            </li>
            <li class="text-dark-grey"><t>Sprout method / Sprout class</t></li>
            <li class="text-dark-grey"><t>Wrap method / Wrap class</t></li>
          </ul>
          <p class="small-title course-calendar__title">
            <t>Detectando y resolviendo problemas</t>
          </p>
          <ul class="course-calendar__items">
            <li class="text-dark-grey"><t>Bad smells</t></li>
            <li class="text-dark-grey">
              <t>Cómo definimos estándares de código</t>
            </li>
            <li class="text-dark-grey">
              <t>Cómo mejoramos la cultura del equipo</t>
            </li>
            <li class="text-dark-grey">
              <t>Técnicas para reducir la complejidad</t>
            </li>
            <li class="text-dark-grey"><t>Beneficios del refactoring</t></li>
          </ul>
        </div>
      </article>
      <article class="course-calendar">
        <div class="course-calendar__day">
          <p class="small-title"><t>Bloque 2</t></p>
        </div>
        <div class="course-calendar__list">
          <p class="small-title course-calendar__title">
            <t>Desacoplando nuestro código</t>
          </p>
          <ul class="course-calendar__items">
            <li class="text-dark-grey"><t>Acoplamiento y cohesión</t></li>
            <li class="text-dark-grey">
              <t>Cómo desacoplarnos del framework</t>
            </li>
            <li class="text-dark-grey">
              <t>Cómo desacoplarnos de la base de datos y librerías</t>
            </li>
            <li class="text-dark-grey">
              <t>Interfaces e inversión de dependencias</t>
            </li>
            <li class="text-dark-grey"><t>El patrón Adapter</t></li>
          </ul>
        </div>
      </article>
      <article class="course-calendar">
        <div class="course-calendar__day">
          <p class="small-title"><t>Bloque 3</t></p>
        </div>
        <div class="course-calendar__list">
          <p class="small-title"><t>Escribiendo los primeros tests</t></p>
          <ul class="course-calendar__items">
            <li class="text-dark-grey">La importancia del testing</li>
            <li class="text-dark-grey">
              <t>Qué es el arnés de tests y la cobertura</t>
            </li>
            <li class="text-dark-grey"><t>Tipos de tests</t></li>
            <li class="text-dark-grey"><t>Tests de caracterización</t></li>
          </ul>
          <p class="small-title course-calendar__title">
            <t>Probando un código acoplado</t>
          </p>
          <ul class="course-calendar__items">
            <li class="text-dark-grey">
              <t>Entender los problemas del código acoplado</t>
            </li>
            <li class="text-dark-grey">
              <t>Cómo probamos código acoplado</t>
            </li>
            <li class="text-dark-grey">
              <t>Técnica de extract and override</t>
            </li>
            <li class="text-dark-grey">
              <t>Transformar tests de integración en unitarios</t>
            </li>
          </ul>
        </div>
      </article>
      <article class="course-calendar">
       <div class="course-calendar__day">
          <p class="small-title"><t>Bloque 4</t></p>
        </div>
        <div class="course-calendar__list">
          <p class="small-title course-calendar__title">
            <t>Probando código complejo</t>
          </p>
          <ul class="course-calendar__items">
            <li class="text-dark-grey">
              <t>Cómo probamos un código sin entenderlo</t>
            </li>
            <li class="text-dark-grey"><t>Técnica Golden Master</t></li>
          </ul>

          <p class="small-title">
            <t>Escribiendo tests como un profesional</t>
          </p>
          <ul class="course-calendar__items">
            <li class="text-dark-grey">
              <t>Qué son y para qué sirven los tests dobles</t>
            </li>
            <li class="text-dark-grey">
              <t>Cómo y cuándo usar los dobles de pruebas</t>
            </li>
            <li class="text-dark-grey">
              <t>Mocks, spies, stubs, fakes y dummies</t>
            </li>
            <li class="text-dark-grey"><t>Otras técnicas de testing</t></li>
          </ul>
        </div>
      </article>
  </div>

  <div class="button__wrapper">
    <a
      class="button button--primary"
      href="#contactForm"
      data-trackevent="contact_us.show_form.course_index"
    >
      <t>¡Me interesa!</t>
    </a>
  </div>
</div>
