<div class="hero-wrapper">
  <div class="container course-hero">
    <section class="hero">
      <h2 class="hero__title">Working with Legacy code</h2>
      <p class="hero__subtitle">Recupera el control de tu producto</p>
      <div>
        <img
          src="/img/legacy-code.svg"
          alt="Legacy code logo"
          class="hero__image"
        />
      </div>
    </section>

   <%- include('../curso-common/course-card-information', {
     hours: '16 horas',
     hoursDesc: '(2 días o 4 medios días)',
     fromWhere: 'Remoto o presencial',
     languages: 'Java, Python, PHP, Js, C#, C++, ...',
     availableInLanguages: 'También en inglés',
     price: 'A partir de 650 € + IVA por persona.'
   }) %>
  </div>
</div>
