<section class="block block--white">
  <div class="container">
    <h2 class="text-center title">Testimonios</h2>
    <p class="text-center">
      Conoce qué han dicho los alumnos sobre éste curso
    </p>

    <%- include('../../partials/carousel/opinion')  %>
  </div>
</section>
