 <section class="legacy">

   <div class="logos">

    <div class="block block--white">
      <div class="container">
         <h2>Logo con fondo transparente para fondo claro</h2>

         <div class="flex">
           <div class="col-md-4 logo-codium">
             <h3>Codium formato rectangular</h3>
             <a class="js-image">
               <img src="/img/resources/codium-brand-rectangle-black.svg" class="img-responsive" alt="Brand black" />
             </a>
           </div>
           <div class="col-md-4 logo-codium">
             <h3>Codium formato cuadrado</h3>
             <a class="js-image">
               <img src="/img/resources/codium-all-square-black.svg" class="img-responsive" alt="Icon + brand black" />
             </a>
           </div>
           <div class="col-md-4 logo-codium">
             <h3>Icono Codium</h3>
             <a class="js-image">
               <img src="/img/resources/codium-icon-black.svg" class="img-responsive" />
             </a>
           </div>
         </div>
      </div>
    </div>

     <div class="block dark">
       <div class="container">
         <h2>Logo con fondo transparente para fondo oscuro</h2>
         <div class="row flex">
           <div class="col-md-4 logo-codium">
             <h3>Codium formato rectangular</h3>
             <a class="js-image">
               <img src="/img/resources/codium-brand-rectangle-white.svg" class="img-responsive" />
             </a>
           </div>
           <div class="col-md-4 logo-codium">
             <h3>Codium formato cuadrado</h3>
             <a class="js-image">
               <img src="/img/resources/codium-all-square-white.svg" class="img-responsive" />
             </a>
           </div>
           <div class="col-md-4 logo-codium">
             <h3>Icono Codium</h3>
             <a class="js-image">
               <img src="/img/resources/codium-icon-white.svg" class="img-responsive" />
             </a>
           </div>
         </div>
       </div>
     </div>
   </div>

   <div class="block block--white">
     <div class="container">
       <h2>Descripción corta de Codium</h2>
       En Codium formamos y acompañamos a equipos de programación.
       Especializados en Clean code, TDD y Legacy code.
       <h2>Fotos de Codium</h2>
       <div class="row">
         <div class="col-md-4">
           <a class="js-image" target="_blank">
             <img class="big-img thumbnail img-responsive" src="https://pbs.twimg.com/media/DQ3KEJKW4AAvjrx.jpg" />
           </a>
         </div>
         <div class="col-md-4">
           <a class="js-image" target="_blank">
             <img class="big-img thumbnail img-responsive" src="/img/resources/luis_and_jordi_scbcn2017.jpg" />
           </a>
         </div>
         <div class="col-md-4">
           <a class="js-image" target="_blank">
             <img class="big-img thumbnail img-responsive" src="/img/resources/luis_and_jordi_scpamplona2018.jpg" />
           </a>
         </div>
       </div>
     </div>

     <div class="block">
       <h2>Descripción conjunta de Luis y Jordi</h2>
       <h2>Descripción de Luis</h2>
       <p>
         Luis Rovirosa es desarrollador de aplicaciones web y formador desde
         hace más de 10 años. Trabaja habitualmente con startups y grandes
         empresas ayudando a transformar sus equipos de programación. En su
         día a día dedica buena parte de su tiempo al desarrollo y también
         ayuda a las empresas a simplificar y priorizar sus productos.
       </p>
       <p>
         En 2017 montó Codium, una empresa especializada en formación y
         acompañamiento de empresas de desarrollo donde imparte formaciones
         de TDD, Clean Code, Patrones de diseño y de cómo trabajar con Legacy
         code.
       </p>
       <p>
         Twitter:
         <a aria-label="Twitter link" href="https://twitter.com/luisrovirosa">https://twitter.com/luisrovirosa</a><br />
         LinkedIn:
         <a aria-label="Linkedin link"
           href="https://www.linkedin.com/in/luisrovirosa">https://www.linkedin.com/in/luisrovirosa</a>
       </p>
       <h2>Fotos de Luis</h2>
       <div class="row">
         <div class="col-md-4">
           <a class="js-image" target="_blank">
             <img class="big-img thumbnail img-responsive" src="img/resources/luis_cas2018.jpg" />
           </a>
         </div>
       </div>
       <h2>Descripción de Jordi</h2>
       <p>
         Jordi Anguela es desarrollador de aplicaciones web y formador desde
         hace más de 10 años. Trabaja habitualmente con startups y grandes
         empresas ayudando a transformar sus equipos de programación. En su
         día a día dedica buena parte de su tiempo al desarrollo y también
         ayuda a las empresas a simplificar y priorizar sus productos.
       </p>
       <p>
         En 2017 montó Codium, una empresa especializada en formación y
         acompañamiento de empresas de desarrollo donde imparte formaciones
         de TDD, Clean Code, Patrones de diseño y de cómo trabajar con Legacy
         code.
       </p>
       <p>
         Twitter:
         <a aria-label="Twitter link" href="https://twitter.com/jordianguela">https://twitter.com/jordianguela</a><br />
         LinkedIn:
         <a aria-label="Linkedin link"
           href="https://www.linkedin.com/in/jordianguela">https://www.linkedin.com/in/jordianguela</a>
       </p>
       <h1>Fotos de Jordi</h1>
       <div class="row">
         <div class="col-md-4">
           <a class="js-image" target="_blank">
             <img class="big-img thumbnail img-responsive" src="/img/resources/jordi2.png" />
           </a>
         </div>
         <div class="col-md-4">
           <a class="js-image" target="_blank">
             <img class="big-img thumbnail img-responsive" src="/img/resources/jordi1.jpeg" />
           </a>
         </div>
       </div>
     </div>
   </div>

 </section>
