<div id="sobre-nosotros">
    <div class="flat-testimonials bg-image-v1 parallaxBg1" style="background-position: 50% 241px;">
        <div class="container">
            <div class="headline-center-v2 headline-light color-white margin-bottom-60">
                <h2>Sobre nosotros</h2>
                <span class="bordered-icon"><img src="img/favicons/favicon-16x16-white.png"></span>
                <p class="about-us-description">Somos un equipo que llevamos trabajando juntos los últimos 5 años:
                    uno es especialista en desarrollo front-end y el otro en back-end.<br>
                    No comprometemos la <span class="color-green">calidad</span>. Estamos enfocados a
                    <span class="color-green">resultados</span>, buscando además <span
                            class="color-green">mejorar</span>
                    las habilidades y motivación de los equipos.<br>
                    Con nuestra <span class="color-green">experiencia demostrable</span> en tomar el control de
                    proyectos en marcha.</p>
            </div>

            <div class="row equal-height">
                <div class="col-md-6">
                    <div class="about-us-panel md-margin-bottom-50">
                        <img alt="" src="img/about-us/luis.jpg" class="rounded-x img-responsive">
                        <h3>Luis Rovirosa</h3>
                        <span class="color-green">Desarrollador back-end | Coach en desarrollo de software</span>
                        <div class="margin-bottom-20">
                            <p>Luis es calmado, una persona de confianza y que tiene un gran afán por probar y
                                aprender cosas nuevas.</p>
                            <p>Es un ‘doer’, enfocado a producir y sacar el trabajo adelante sabiendo captar los
                                momentos en los que hay que parar y pensar.</p>
                            <p>Pasión por la calidad y el trabajo bien hecho. Le preocupa la calidad del código.<br>
                                Le gustan las cosas buenas y no le importa pagar su precio si sabe que lo va a
                                disfrutar.</p>
                            <p>Le gusta viajar, las series de TV y la buena comida</p>
                            <p>Tiene interiorizado que los libros son una fuente inagotable de sabiduría aunque es
                                crítico con lo lee y forma su propia opinión. De ellos aprende rápido y lo aplica en
                                su día a día.
                                Disfruta compartiendo sus conocimientos y le gusta que la gente aprenda y mejore.
                                Gran habilidad para mediar en los conflictos.</p>
                            <p>Sabe escuchar y mide las palabras antes de hablar para dar una respuesta
                                ajustada.</p>
                            <p>Su máxima: <em>"Atrévete a salir de tu zona de confort"</em></p>

                            <p>Película: Interstate 60 - Bob Gale<br>
                                Libro: The prayer of the frog - Anthony de Mello<br>
                                Canción: Mis cenizas - Sôber</p>
                        </div>

                        <ul class="list-inline team-social">
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="li white tooltips"
                                   data-original-title="LinkedIn" href="http://linkedin.com/in/luisrovirosa"
                                   onclick="socialNetwork('Luis', 'LinkedIn')" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tw white tooltips"
                                   data-original-title="Twitter" href="http://twitter.com/luisrovirosa"
                                   onclick="socialNetwork('Luis', 'Twitter')" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="gh white tooltips"
                                   data-original-title="Github" href="http://github.com/luisrovirosa"
                                   onclick="socialNetwork('Luis', 'GitHub')" target="_blank">
                                    <i class="fa fa-github"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-us-panel md-margin-bottom-50">
                        <img alt="" src="img/about-us/jordi.jpeg" class="rounded-x img-responsive">
                        <h3>Jordi Anguela</h3>
                        <span class="color-green">Desarrollador front-end | Coach en desarrollo de software</span>
                        <div class="margin-bottom-20">
                            <p>Jordi es muy sociable, alegre y calmado. Destaca por su facilidad de integración en
                                cualquier ambiente y trabajar en equipo. Tiene una gran capacidad para aprender y le
                                entusiasma compartir sus conocimientos.</p>
                            <p>Le gusta profundizar y entender los por qués de las cosas y hace énfasis en que si no
                                está subido a producción no sirve de nada.</p>
                            <p>Dedica mucho tiempo a jugar con sus hijos y a cocinar. Utiliza sus dotes de artesano
                                para crear nuevos juguetes o hacer pan.</p>
                            <p>Le encanta viajar y es un apasionado de la cocina hecha con amor, los vinos y las
                                cervezas artesanas.</p>
                            <p>Amante del mar y el océano donde aprovecha para practicar surf y recargarse de
                                energía.</p>

                            <p>Su máxima: <em>"En la vida hay que saber montárselo bien"</em></p>

                            <p>Película: The Matrix - the Wachowski Brothers<br>
                                Libro: The Kingkiller Chronicle - Patrick Rothfuss<br>
                                Canción: The Golden Path - The Chemical Brothers</p>
                        </div>
                        <ul class="list-inline team-social">
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="li white tooltips"
                                   data-original-title="LinkedIn" href="http://linkedin.com/in/jordianguela"
                                   onclick="socialNetwork('Jordi', 'LinkedIn')" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tw white tooltips"
                                   data-original-title="Twitter" href="http://twitter.com/jordianguela"
                                   onclick="socialNetwork('Jordi', 'Twitter')" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="gh white tooltips"
                                   data-original-title="Github" href="http://github.com/jordianguela"
                                   onclick="socialNetwork('Jordi', 'GitHub')" target="_blank">
                                    <i class="fa fa-github"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!--/end row-->
        </div><!--/end container-->
    </div>
</div>
