<div id="sobre-nosotros">
    <div class="flat-testimonials bg-image-v1 parallaxBg1" style="background-position: 50% 241px;">
        <div class="container content-sm about-us">
            <div class="container content-sm">
                <div class="headline-center-v2 headline-light color-white margin-bottom-30">
                    <h2>Sobre nosotros</h2>
                    <span class="bordered-icon"><img src="/img/resources/codium-icon-white.svg"></span>
                    <p class="about-us-description">
                        En Codium somos un equipo con más de 15 años de experiencia profesional en desarrollo web y más de cinco años como formadores.
                        <br>
                        El objetivo de Codium es ayudar a las empresas a desarrollar un software <span
                                class="color-green">sostenible</span> de <span class="color-green">calidad</span>.
                        Enseñamos a programar mientras trabajamos codo a codo a tu lado.
                        Nos adaptamos al código existente, buscamos la simplicidad de las cosas y la manera de reparar
                        lo que no funciona para ofrecer <span class="color-green">resultados</span> que acerquen hacia
                        los objetivo.
                        En Codium trabajamos desde la honestidad y el respeto en el desarrollo de un software que se
                        adapte a las necesidades cambiantes.
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        {{ include('main/components/video.html.twig', { videoId: 'wqBfpbXBwfE' }) }}
                    </div>
                </div>
            </div>

            <div class="row equal-height">
                <div class="col-md-3 about-us-container">
                    <div class="about-us-panel md-margin-bottom-50">
                        <img alt="" src="/img/about-us/luis.jpg" class="rounded-x img-responsive">
                        <h3>Luis Rovirosa Mairlot</h3>

                        <ul class="list-inline team-social">
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="li white tooltips"
                                   data-original-title="LinkedIn" href="http://linkedin.com/in/luisrovirosa/"
                                   onclick="socialNetwork('Luis', 'LinkedIn')" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tw white tooltips"
                                   data-original-title="Twitter" href="http://twitter.com/luisrovirosa"
                                   onclick="socialNetwork('Luis', 'Twitter')" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="gh white tooltips"
                                   data-original-title="Github" href="http://github.com/luisrovirosa"
                                   onclick="socialNetwork('Luis', 'GitHub')" target="_blank">
                                    <i class="fa fa-github"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 about-us-container">
                    <div class="about-us-panel md-margin-bottom-50">
                        <img alt="" src="/img/about-us/jordi.jpeg" class="rounded-x img-responsive">
                        <h3>Jordi Anguela</h3>
                        <ul class="list-inline team-social">
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="li white tooltips"
                                   data-original-title="LinkedIn" href="http://linkedin.com/in/jordianguela/"
                                   onclick="socialNetwork('Jordi', 'LinkedIn')" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tw white tooltips"
                                   data-original-title="Twitter" href="http://twitter.com/jordianguela"
                                   onclick="socialNetwork('Jordi', 'Twitter')" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="gh white tooltips"
                                   data-original-title="Github" href="http://github.com/jordianguela"
                                   onclick="socialNetwork('Jordi', 'GitHub')" target="_blank">
                                    <i class="fa fa-github"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 about-us-container">
                    <div class="about-us-panel md-margin-bottom-50">
                        <img alt="" src="/img/about-us/hugo.jpeg" class="rounded-x img-responsive">
                        <h3>Hugo Chinchilla</h3>
                        <ul class="list-inline team-social">
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="li white tooltips"
                                   data-original-title="LinkedIn" href="http://linkedin.com/in/hugo-chinchilla-carbonell/"
                                   onclick="socialNetwork('Hugo', 'LinkedIn')" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tw white tooltips"
                                   data-original-title="Twitter" href="http://twitter.com/hchinchilla_"
                                   onclick="socialNetwork('Hugo', 'Twitter')" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="gh white tooltips"
                                   data-original-title="Github" href="http://github.com/hugochinchilla"
                                   onclick="socialNetwork('Hugo', 'GitHub')" target="_blank">
                                    <i class="fa fa-github"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 about-us-container">
                    <div class="about-us-panel md-margin-bottom-50">
                        <img alt="" src="/img/about-us/concha.jpg" class="rounded-x img-responsive">
                        <h3>Concha Asensio</h3>
                        <ul class="list-inline team-social">
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="li white tooltips"
                                   data-original-title="LinkedIn" href="http://linkedin.com/in/conchaasensio/"
                                   onclick="socialNetwork('Concha', 'LinkedIn')" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tw white tooltips"
                                   data-original-title="Twitter" href="http://twitter.com/conchaasensio"
                                   onclick="socialNetwork('Concha', 'Twitter')" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="gh white tooltips"
                                   data-original-title="Github" href="http://github.com/conchaasensio"
                                   onclick="socialNetwork('Concha', 'GitHub')" target="_blank">
                                    <i class="fa fa-github"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!--/end container-->
    </div>
</div>
