<div id="sobre-nosotros">
    <div class="flat-testimonials bg-image-v1 parallaxBg1" style="background-position: 50% 241px;">
        <div class="container content-sm">
            <div class="headline-center-v2 headline-light color-white margin-bottom-30">
                <h2>Sobre nosotros</h2>
                <span class="bordered-icon"><img src="/img/resources/codium-icon-white.svg"></span>
                <p class="about-us-description">
                    En Codium somos un equipo con más de 10 años de experiencia profesional en desarrollo front-end y back-end y más de cinco años como formadores.
                    <br>
                    El objetivo de Codium es ayudar a las empresas a desarrollar un software <span class="color-green">sostenible</span> de <span class="color-green">calidad</span>.
                    Enseñamos a programar mientras trabajamos codo a codo a tu lado.
                    Nos adaptamos al código existente, buscamos la simplicidad de las cosas y la manera de reparar lo que no funciona para ofrecer <span class="color-green">resultados</span> que acerquen hacia los objetivo.
                    En Codium trabajamos desde la honestidad y el respeto en el desarrollo de un software que se adapte a las necesidades cambiantes.
                </p>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    {{ include('main/components/video.html.twig', { videoId: 'wqBfpbXBwfE' }) }}
                </div>
            </div>

            <div class="row equal-height">
                <div class="col-md-4">
                    <div class="about-us-panel md-margin-bottom-50">
                        <img alt="" src="/img/about-us/luis.jpg" class="rounded-x img-responsive">
                        <h3>Luis Rovirosa Mairlot</h3>
                        <div class="margin-bottom-20">
                            <p>Luis es un desarrollador back-end principalmente en el mundo PHP. Ha trabajado durante más de diez años y ha participado en la creación de varias start-ups. En su anterior aventura fundó Codesai junto a otros compañeros.
                                Además desde hace cinco años trabaja como coach en desarrollo de software.</p>
                            <p>Por sus vastos conocimientos, su gran abanico de trucos y su espíritu “doer”, Luis comparte rasgos característicos con Gandalf.
                                Es una persona calmada y sensata, que evalúa cuidadosamente los pasos y toma decisiones rápidas para ir construyendo. Luis es  alguien de confianza y un gran mediador. Además siempre busca dejar las cosas mejor de lo que las ha encontrado, no solo en el trabajo si no en todo lo que le rodea.</p>
                            <p>Aunque parezca mentira, dentro de Luis habita un alma rock-metal. Desde Sober a In Extremo forman parte de la banda sonora de sus días.
                                Le dedica mucho tiempo a las comunidades de desarrollo de software intercambiando conocimientos.  Descansa viendo series a la vez que las utiliza como inspiración y fuente de nuevas ideas. Aprovecha cada oportunidad que tiene para viajar y conocer nuevos lugares en compañía de su mujer.</p>

                            <p>Su máxima: <em>"Primero simple y luego smart"</em></p>

                            <p>Película: Interstate 60 - Bob Gale<br>
                                Libro: The prayer of the frog - Anthony de Mello<br>
                                Canción: Mis cenizas - Sôber</p>
                        </div>

                        <ul class="list-inline team-social">
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="li white tooltips"
                                   data-original-title="LinkedIn" href="http://linkedin.com/in/luisrovirosa/"
                                   onclick="socialNetwork('Luis', 'LinkedIn')" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tw white tooltips"
                                   data-original-title="Twitter" href="http://twitter.com/luisrovirosa"
                                   onclick="socialNetwork('Luis', 'Twitter')" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="gh white tooltips"
                                   data-original-title="Github" href="http://github.com/luisrovirosa"
                                   onclick="socialNetwork('Luis', 'GitHub')" target="_blank">
                                    <i class="fa fa-github"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-us-panel md-margin-bottom-50">
                        <img alt="" src="/img/about-us/jordi.jpeg" class="rounded-x img-responsive">
                        <h3>Jordi Anguela</h3>
                        <div class="margin-bottom-20">
                            <p>Jordi es un desarrollador front-end que viene del mundo Java. Ha trabajado durante más de diez años en proyectos como el sistema de reserva de hoteles de Amadeus o la digitalización de los procesos de Macquarie University en Sydney. Además desde hace cinco años trabaja como coach en desarrollo de software.</p>

                            <p>Si buscas a tu señor Miyagi particular acabas de encontrarlo. Jordi es una persona sociable y alegre, reflexivo y calmado, con paciencia para enseñar y verdadero amor por compartir conocimientos y resultados. Jordi es aquel que te pide que pares, respires y que intentes ver el problema desde otro ángulo. Su filosofía vital es contestar al porqué de las cosas: por qué hago esto, cuál es el problema que estoy intentando resolver, quién va a usarlo... Construye equipo y se vuelca en sacar lo mejor de todos.</p>

                            <p>En la calma del guerrero le gusta escuchar Daft Punk y Justice mientras cocina. Ha decidido invertir tiempo en el yoga y la meditación ya que le permiten encontrar el equilibrio con su día a día además de seguir con su crecimiento personal. Nada en el mundo le apetece más que jugar con sus hijos; bueno, quizá jugar con sus hijos en el mar.</p>

                            <p>Su máxima: <em>"En la vida hay que saber montárselo bien"</em></p>

                            <p>Película: The Matrix - the Wachowski Brothers<br>
                                Libro: The Kingkiller Chronicle - Patrick Rothfuss<br>
                                Canción: We Are Your Friends - Justice Vs Simian</p>
                        </div>
                        <ul class="list-inline team-social">
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="li white tooltips"
                                   data-original-title="LinkedIn" href="http://linkedin.com/in/jordianguela/"
                                   onclick="socialNetwork('Jordi', 'LinkedIn')" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tw white tooltips"
                                   data-original-title="Twitter" href="http://twitter.com/jordianguela"
                                   onclick="socialNetwork('Jordi', 'Twitter')" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="gh white tooltips"
                                   data-original-title="Github" href="http://github.com/jordianguela"
                                   onclick="socialNetwork('Jordi', 'GitHub')" target="_blank">
                                    <i class="fa fa-github"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-us-panel md-margin-bottom-50">
                        <img alt="" src="/img/about-us/isidro.jpg" class="rounded-x img-responsive">
                        <h3>Isidro López</h3>
                        <div class="margin-bottom-20">
                            <p>Isidro es un desarrollador de producto que viene del mundo Java y python. Ha vivido en múltiples países y trabajado en empresas como Form3, Spotify o Alea. En estos sitios, y en sus retiros, es donde ha forjado su espíritu y sus habilidades.</p>

                            <p>Por su gran sabiduría y calma espiritual es nuestro monje budista. Isidro es una persona tranquila, reflexiva y empática. Es el que se toma el tiempo para ver si realmente todo está como debería estar.</p>

                            <p>También es nuestro maestro agile, el que te dice que te centres en una sola cosa, la que tiene más valor y que trabajes en ella hasta que se termine o deje de ser la más importante.</p>

                            <p>Dedica mucho tiempo a seguir aprendiendo, a descansar y meditar. Es desde esa tranquilidad desde donde construye sus fortalezas y las comparte con los demás.</p>

                            <p>Su máxima: <em>"Esto también pasará"</em></p>

                            <p>Película: Amanece que no es poco - José Luis Cuerda<br>
                                Libro: Los detectives salvajes - Roberto Bolaño<br>
                                Canción: Life on Mars? - David Bowie
                            </p>
                        </div>
                        <ul class="list-inline team-social">
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="li white tooltips"
                                   data-original-title="LinkedIn" href="http://linkedin.com/in/islomar/"
                                   onclick="socialNetwork('Isidro', 'LinkedIn')" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tw white tooltips"
                                   data-original-title="Twitter" href="http://twitter.com/islomar"
                                   onclick="socialNetwork('Isidro', 'Twitter')" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="gh white tooltips"
                                   data-original-title="Github" href="http://github.com/islomar"
                                   onclick="socialNetwork('Isidro', 'GitHub')" target="_blank">
                                    <i class="fa fa-github"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!--/end row-->
        </div><!--/end container-->
    </div>
</div>
