<div id="clientes" class="bg-color-light">
    <div class="container content-sm no-padding-bottom">
        <div class="headline-center-v2 headline-center-v2-dark">
            <h2>Clientes</h2>
            <span class="bordered-icon"><img src="img/favicons/favicon-16x16.png"></span>
        </div>

        <!-- Portfolio Sorting Blocks -->
        <div class="sorting-block">
            <div class="content-xs">
                <div class="sorting-nav sorting-nav-v1 text-center">
                    <a class="filter btn-u btn-brd btn-brd-hover rounded"
                       data-filter="category_training">Formación</a>
                    <a class="filter btn-u btn-brd btn-brd-hover rounded" data-filter="category_coaching">Acompañamiento</a>
                    <a class="filter btn-u btn-brd btn-brd-hover rounded" data-filter="category_development">Desarrollo</a>
                </div>
            </div>

            <ul class="row sorting-grid">
                <li class="col-md-3 col-xs-6 mix category_training" data-cat="1">
                    <div class="view view-tenth">
                        <img class="img-responsive" src="img/clients/ironhack.png" alt=""/>
                        <div class="mask">
                            <h2>Ironhack</h2>
                            <p>Formación jQuery en Barcelona and Madrid</p>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-xs-6 mix category_training" data-cat="1">
                    <div class="view view-tenth">
                        <img class="img-responsive" src="img/clients/hotelbeds.jpg" alt=""/>
                        <div class="mask">
                            <h2>Hotelbeds</h2>
                            <p>Formación en TDD</p>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-xs-6 mix category_training" data-cat="1">
                    <div class="view view-tenth">
                        <img class="img-responsive" src="img/clients/logitravel.png" alt=""/>
                        <div class="mask">
                            <h2>Logitravel</h2>
                            <p>Formación en TDD + Formación en Working with legacy code</p>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-xs-6 mix category_training" data-cat="1">
                    <div class="view view-tenth">
                        <img class="img-responsive" src="img/clients/ustglobal.jpg" alt=""/>
                        <div class="mask">
                            <h2>UST Global</h2>
                            <p>Formación en TDD</p>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-xs-6 mix category_development category_training" data-cat="1">
                    <div class="view view-tenth">
                        <img class="img-responsive" src="img/clients/idiada.jpg" alt=""/>
                        <div class="mask">
                            <h2>Idiada</h2>
                            <p>Formación en buenas prácticas de Front-end + Desarrollos Java Full-stack</p>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-xs-6 mix category_training" data-cat="1">
                    <div class="view view-tenth">
                        <img class="img-responsive" src="img/clients/schibsted.png" alt=""/>
                        <div class="mask">
                            <h2>Schibsted</h2>
                            <p>Formación en TDD</p>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-xs-6 mix category_training" data-cat="1">
                    <div class="view view-tenth">
                        <img class="img-responsive" src="img/clients/habitissimo.png" alt=""/>
                        <div class="mask">
                            <h2>Habitissimo</h2>
                            <p>Formación en TDD</p>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-xs-6 mix category_training category_coaching" data-cat="1">
                    <div class="view view-tenth">
                        <img class="img-responsive" src="img/clients/ccma.jpg" alt=""/>
                        <div class="mask">
                            <h2>TV3</h2>
                            <p>Formación en TDD + Acompañamiento en PHP y cliclo de vida del desarrollo</p>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-xs-6 mix category_training" data-cat="1">
                    <div class="view view-tenth">
                        <img class="img-responsive" src="img/clients/generali.jpg" alt=""/>
                        <div class="mask">
                            <h2>Generali</h2>
                            <p>Desarrollo de aplicaciones basadas en procesos + Formación avanzada de integración de
                                BonitaBPM</p>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-xs-6 mix category_coaching" data-cat="1">
                    <div class="view view-tenth">
                        <img class="img-responsive" src="img/clients/decathlon.png" alt=""/>
                        <div class="mask">
                            <h2>Decathlon</h2>
                            <p>Consultoría en historias de usuario y código legado</p>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-xs-6 mix category_coaching" data-cat="1">
                    <div class="view view-tenth">
                        <img class="img-responsive" src="img/clients/bankinter.jpg" alt=""/>
                        <div class="mask">
                            <h2>Bankinter</h2>
                            <p>Consultoría en buenas prácticas de desarrollo y cíclo de vida del desarrollo de
                                software.</p>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-xs-6 mix category_training category_coaching category_development"
                    data-cat="1">
                    <div class="view view-tenth">
                        <img class="img-responsive" src="img/clients/talentclue.png" alt=""/>
                        <div class="mask">
                            <h2>TalentClue</h2>
                            <p>Formación en TDD, BDD y Front-end + Acompañamiento en buenas práctica de desarrollo +
                                Desarrollo en Angular y PHP</p>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-xs-6 mix category_coaching" data-cat="1">
                    <div class="view view-tenth">
                        <img class="img-responsive" src="img/clients/globalo2.jpg" alt=""/>
                        <div class="mask">
                            <h2>Global O2</h2>
                            <p>Due diligence técnica y asesoramiento tecnológico.</p>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-xs-6 mix category_coaching" data-cat="1">
                    <div class="view view-tenth">
                        <img class="img-responsive" src="img/clients/meta4.png" alt=""/>
                        <div class="mask">
                            <h2>Meta 4</h2>
                            <p>Consultoría en TDD</p>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-xs-6 mix category_training" data-cat="1">
                    <div class="view view-tenth">
                        <img class="img-responsive" src="img/clients/coches.com.png" alt=""/>
                        <div class="mask">
                            <h2>Coches.com</h2>
                            <p>Formación en TDD</p>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-xs-6 mix category_training" data-cat="1">
                    <div class="view view-tenth">
                        <img class="img-responsive" src="img/clients/oesia.png" alt=""/>
                        <div class="mask">
                            <h2>Oesia</h2>
                            <p>Formación en TDD</p>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-xs-6 mix category_development" data-cat="1">
                    <div class="view view-tenth">
                        <img class="img-responsive" src="img/clients/bonitasoft.png" alt=""/>
                        <div class="mask">
                            <h2>Bonitasoft</h2>
                            <p>Formador oficial + Desarrollo de conectores para integrar con múltiples servicios y
                                plugins maven</p>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-xs-6 mix category_development" data-cat="1">
                    <div class="view view-tenth">
                        <img class="img-responsive" src="img/clients/avanzaentucarrera.gif" alt=""/>
                        <div class="mask">
                            <h2>Avanza en tu carrera</h2>
                            <p>Arquitectura y desarrollo en PHP</p>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-xs-6 mix category_coaching category_development" data-cat="1">
                    <div class="view view-tenth">
                        <img class="img-responsive" src="img/clients/canoe.png" alt=""/>
                        <div class="mask">
                            <h2>Canoe</h2>
                            <p>Acompañamiento de stack tecnológico + Integraciones de back-end con dropbox y
                                frontend en Angular</p>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-xs-6 mix category_development" data-cat="1">
                    <div class="view view-tenth">
                        <img class="img-responsive" src="img/clients/lahuella.png" alt=""/>
                        <div class="mask">
                            <h2>La huella</h2>
                            <p>Desarrollo en React y Javascript.</p>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-xs-6 mix category_development" data-cat="1">
                    <div class="view view-tenth">
                        <img class="img-responsive" src="img/clients/deutschetelekom.jpg" alt=""/>
                        <div class="mask">
                            <h2>Deutche Telekom</h2>
                            <p>Desarrollo front-end en Angular</p>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-xs-6 mix category_development" data-cat="1">
                    <div class="view view-tenth">
                        <img class="img-responsive" src="img/clients/inditex.png" alt=""/>
                        <div class="mask">
                            <h2>Inditex</h2>
                            <p>Arquitectura y desarrollo en PHP</p>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-xs-6 mix category_development" data-cat="1">
                    <div class="view view-tenth">
                        <img class="img-responsive" src="img/clients/lobster.jpg" alt=""/>
                        <div class="mask">
                            <h2>Lobster</h2>
                            <p>Arquitectura y desarrollo front-end en React y Flux</p>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-xs-6 mix category_development" data-cat="1">
                    <div class="view view-tenth">
                        <img class="img-responsive" src="img/clients/irchispano.jpg" alt=""/>
                        <div class="mask">
                            <h2>IRC Hispano</h2>
                            <p>Desarrollo front-end en Angular e Ionic</p>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-xs-6 mix category_development" data-cat="1">
                    <div class="view view-tenth">
                        <img class="img-responsive" src="img/clients/wouzee.jpg" alt=""/>
                        <div class="mask">
                            <h2>Wouzee</h2>
                            <p>Arquitectura y desarrollo en PHP</p>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- End Portfolio Sorting Blocks -->
    </div>
</div>
