<div id="continuous-learning" class="bg-color-light">
    <div class="container content-sm">
        {{ include('components/extended_block_header.html.twig', {
            name: 'Acompañamiento',
            summary: '<p>Ponemos toda nuestra experiencia a tu disposición para mentorizar a tu equipo.
            Trabajamos de forma sostenible y honesta en mejorar tus resultados ya seas una multinacional o una startup.</p>'
        }) }}

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {{ include('main/components/video.html.twig', { videoId: 'SBgvUGFLRsc' }) }}
            </div>
        </div>

        <div class="row equal-height equal-height margin-top-60">
            <div class="col-md-6 md-margin-bottom-50">
                {{ include('/main/services/coaching/mentoring.html.twig') }}
            </div>
            <div class="col-md-6 md-margin-bottom-50">
                {{ include('/main/services/coaching/consulting.html.twig') }}
            </div>
        </div>
    </div>
</div>
