<div id="colaboradores">
    <div class="container content-sm">
        <div class="headline-center-v2 headline-center-v2-dark">
            <h2>Colaboradores</h2>
            <span class="bordered-icon"><img src="img/favicons/favicon-16x16.png"></span>
        </div>
        <div class="text-center">
            <img src="img/codesai.jpeg">
        </div>
    </div>
</div>