<div id="colaboradores">
    <div class="container content-sm">
        {{ include('components/block_header.html.twig', { name: 'Colaboradores' }) }}
        <div class="text-center">
            <img src="/img/codesai.jpeg">
        </div>
    </div>
</div>