<div id="colaboradores">
    <div class="container content-sm">
        {{ include('components/block_header.html.twig', { name: 'Colaboradores' }) }}
        <div class="text-center">
            <a href="https://www.leanmind.es/es/" target="_blank">
                <img src="/img/leanmind.png" alt="Lean Mind">
            </a>
            <a href="https://codesai.com" target="_blank">
                <img src="/img/codesai.jpeg" alt="Codesai">
            </a>
        </div>
    </div>
</div>
