<div id="continuous-learning" class="bg-color-light">
    <div class="container content-sm">
        {{ include('components/extended_block_header.html.twig', {
            name: 'Formación continua',
            summary: '<p>Ponemos toda nuestra experiencia a tu disposición para mentorizar a tu equipo durante un año.
            Está pensado para que asistan todos los desarrolladores del equipo y tener un impacto en la cultura de equipo.
            , pudiendo cada uno elegir cada mes la temática que
             más le interese. Trabajamos de forma sostenible, honesta y respetuosa para mejorar las habilidades de tu equipo</p>'
        }) }}

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {{ include('main/components/video.html.twig', { videoId: 'SBgvUGFLRsc' }) }}
            </div>
        </div>

        <div class="row margin-bottom-50 margin-top-60">
            <div class="col-md-6">
                <h3>¿Qué temáticas se tratarán en las sesiones?</h3>
                <ul class="list-unstyled lists-v1">
                    <li><i class="fa fa-angle-right"></i>Testing (unitario, integración, aceptación, front-end...)</li>
                    <li><i class="fa fa-angle-right"></i>Desacoplamiento (de librerías, base de datos, frameworks...)</li>
                    <li><i class="fa fa-angle-right"></i>Patrones de diseño</li>
                    <li><i class="fa fa-angle-right"></i>Buenas prácticas de programación</li>
                    <li><i class="fa fa-angle-right"></i>Automatización e infraestructura como código (Docker, CI/CD con Gitlab, Kubernetes...)</li>
                    <li><i class="fa fa-angle-right"></i>Developer eXperience (IDE's, Linters, Git...)</li>
                    <li><i class="fa fa-angle-right"></i>Producto (Simplificación, cortes verticales, priorización...)</li>
                    <li><i class="fa fa-angle-right"></i>Metodologías y mentalidad (Scrum, Devops, Kanban, Pair programming, Integración continua, Limitar el WIP...)</li>
                    <li><i class="fa fa-angle-right"></i>Cualquier otro tema que te interese</li>
                </ul>
                <br>
                <h3>¿Qué formato tendrá la formación continua?</h3>
                <ul class="list-unstyled lists-v1">
                    <li><i class="fa fa-angle-right"></i>1 o 2 sesiones al mes durante 1 año</li>
                    <li><i class="fa fa-angle-right"></i>Cada mes habrán varias sesiones ofertadas entre las que cada participante elegirá la que prefiera</li>
                    <li><i class="fa fa-angle-right"></i>2 horas por sesión en horario laboral</li>
                    <li><i class="fa fa-angle-right"></i>Remotas</li>
                    <li><i class="fa fa-angle-right"></i>Práctica y participativa haciendo Mob programming y debates</li>
                    <li><i class="fa fa-angle-right"></i>Grupos reducidos: entre 4 y 6 asistentes</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img id="mvpImg" src="img/continuous-learning.png" class="img-responsive">
            </div>
        </div><!--/end row-->

        <div class="row">
            {{ include('main/components/contact_us_button.html.twig', { actionName: 'Formación continua'}) }}
        </div>
        </div>
    </div>
</div>
