<div id="acompanamiento" class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center-v2 headline-center-v2-dark margin-bottom-60">
            <h2>Acompañamiento</h2>
            <span class="bordered-icon"><img src="img/favicons/favicon-16x16.png"></span>
            <p>Buscas transformar tu equipo incorporando experiencia y conocimiento para afrontar las dificultades
                de tu día a día.<br/>
                Llevamos más de 10 años desarrollando aplicaciones web y acompañando equipos tanto en startups como
                en multinacionales en varios países.</p>
        </div><!--/Headline Center v2-->

        <div class="row equal-height">
            <div class="col-md-6 md-margin-bottom-50">
                <div class="tag-box tag-box-v1 box-shadow shadow-effect-2 jl-tag-box">
                    <img class="img-responsive center-block" src="img/accompaniment/mentor.jpg" alt="">
                    <h3 class="text-center">Mentorización</h3>
                    <p>El objetivo es transformar al equipo transmitiendo nuestros conocimientos trabajando codo con
                        codo. Estamos convencidos que esa es la mejor forma de consolidar el aprendizaje.</p><br>
                    <ul class="list-unstyled lists-v1">
                        <li><i class="fa fa-angle-right"></i>Integración con el equipo</li>
                        <li><i class="fa fa-angle-right"></i>Aumentar la calidad y los resultados</li>
                        <li><i class="fa fa-angle-right"></i>Feedback constante para mejorar</li>
                        <li><i class="fa fa-angle-right"></i>Compromiso a medio y largo plazo</li>
                    </ul>
                    <div class="bottom-contact-btn page-scroll">
                        <a href="#contacto" class="btn-u bottom-contact-btn-link"
                           onclick="setContactAction('Mentorización')">Contáctanos</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 md-margin-bottom-50">
                <div class="tag-box tag-box-v1 box-shadow shadow-effect-2 jl-tag-box">
                    <img class="img-responsive center-block" src="/img/accompaniment/consulting.png" alt="">
                    <h3 class="text-center">Consultoría</h3>
                    <p>Quieres validar cómo trabajas o implantar nuevas ideas con la ayuda de alguien que conoce el
                        camino y tiene experiencia en ese campo.</p><br>
                    <ul class="list-unstyled lists-v1">
                        <li><i class="fa fa-angle-right"></i>Desencallar un problema</li>
                        <li><i class="fa fa-angle-right"></i>Resolución de dudas</li>
                        <li><i class="fa fa-angle-right"></i>Intervenciones puntuales y efectivas</li>
                        <li><i class="fa fa-angle-right"></i>Identificar problemas estructurales desapercibidos</li>
                    </ul>
                    <div class="bottom-contact-btn page-scroll">
                        <a href="#contacto" class="btn-u bottom-contact-btn-link"
                           onclick="setContactAction('Consultoría')">Contáctanos</a>
                    </div>
                </div>
            </div>
        </div><!--/end row-->
    </div>
</div>
