<div id="desarrollo">
    <div class="container content-sm" id="effect-2">
        {{ include('components/extended_block_header.html.twig', {
            name: 'Desarrollo de un MVP',
            summary: '<p>Si eres un emprendedor con una idea de negocio, ganas, voluntad
             y recursos para llevarla a cabo pero te falta a un socio tecnológico:
             Codium es tu equipo.<br />
             Trabajamos contigo para destilar la esencia de la idea de negocio y poner en producción el mínimo
             producto viable para que puedas validarla.</p>'
        }) }}

        <div class="row margin-bottom-50 margin-top-60">
            <div class="col-md-6">
                <img id="mvpImg" src="img/mvp/mvp.png" class="img-responsive">
            </div>
            <div class="col-md-6">
                <h3>¿Qué recibirás si nos contratas?</h3>
                <p>En el plazo de 1 a 3 meses transformaremos tu idea de negocio en un MVP que te permita
                    validarla. Si tus hipótesis iniciales se cumplen y tu idea de negocio tiene éxito,
                    podrás buscar una ronda de financiación para montar un equipo de desarrollo para
                    explotar todo el potencial de tu producto.</p>
                <br>
                <h3>¿Por qué contar con Codium para este primera fase?</h3>
                <ul class="list-unstyled lists-v1">
                    <li><i class="fa fa-angle-right"></i>Porque buscas a alguien con garantías para ejecutarla</li>
                    <li><i class="fa fa-angle-right"></i>Porque te ayudaremos a simplificar y sólo invertir en aquello que realmente importa</li>
                    <li><i class="fa fa-angle-right"></i>Porque desarrollamos software flexible a cambios</li>
                    <li><i class="fa fa-angle-right"></i>Porque programamos con calidad y pruebas automáticas</li>
                    <li><i class="fa fa-angle-right"></i>Porque quieres una experiencia de usuario impecable</li>
                    <li><i class="fa fa-angle-right"></i>Porque te entregamos valor cada 2 semanas</li>
                    <li><i class="fa fa-angle-right"></i>Porque sólo pagas por software entregado</li>
                </ul>
            </div>
        </div><!--/end row-->

        <div class="row">
            {{ include('main/components/contact_us_button.html.twig', { actionName: 'Desarrollo back-end'}) }}
        </div>
    </div>
</div>
