<div id="desarrollo">
    <div class="container content-sm" id="effect-2">
        {{ include('components/extended_block_header.html.twig', {
            name: 'Desarrollo',
            summary: '<p>¿Tienes un producto tecnológico que evolucionar o un MVP validado que implementar?<br />¿Buscas un equipo
            de alto rendimiento? <b>Codium es tu equipo</b>.<br />
            Trabajamos contigo para destilar lo que más valor aporta e implementarlo con buenas prácticas y
            estándares de calidad.<br />
            Ponemos el foco en crear software que dure, sea fácil de cambiar, barato de mantener
            y aspiramos a que no tenga defectos.</p>'
        }) }}

        <div class="row margin-bottom-50 margin-top-60">
            <div class="col-md-6">
                <img id="mvpImg" data-src="img/mvp/mvp.png" class="img-responsive lazy">
            </div>
            <div class="col-md-6">
                <h3>¿Qué recibirás si nos contratas?</h3>
                <ul class="list-unstyled lists-v1">
                    <li><i class="fa fa-angle-right"></i>Un equipo centrado crear productos que enamoren.</li>
                    <li><i class="fa fa-angle-right"></i>Un equipo con gran experiencia técnica, cohesionado y mentalidad lean.</li>
                    <li><i class="fa fa-angle-right"></i>Un software de alta calidad que se adaptará a tus necesidades que funcionará desde la primera entrega.</li>
                </ul>
                <h3>¿Por qué contar con Codium para desarrollar tu producto?</h3>
                <ul class="list-unstyled lists-v1">
                    <li><i class="fa fa-angle-right"></i>Porque buscas un equipo de confianza</li>
                    <li><i class="fa fa-angle-right"></i>Porque te ayudaremos a simplificar e invertir en lo que más importa</li>
                    <li><i class="fa fa-angle-right"></i>Porque desarrollamos software flexible a cambios</li>
                    <li><i class="fa fa-angle-right"></i>Porque programamos con calidad y pruebas automáticas</li>
                    <li><i class="fa fa-angle-right"></i>Porque quieres una experiencia de usuario impecable</li>
                    <li><i class="fa fa-angle-right"></i>Porque te entregamos valor continuamente</li>
                </ul>
                <h3>¿Cuál es el formato de la colaboración?</h3>
                <ul class="list-unstyled lists-v1">
                    <li><i class="fa fa-angle-right"></i>Duración entre 3 meses y 1 año prolongables</li>
                    <li><i class="fa fa-angle-right"></i>Entre 150 y 300 horas al mes</li>
                    <li><i class="fa fa-angle-right"></i>De forma remota con visitas presenciales periódicas</li>
                    <li><i class="fa fa-angle-right"></i>Definición de requisitos y entrega semanal</li>
                </ul>
            </div>
        </div><!--/end row-->

        <div class="row">
            {{ include('main/components/contact_us_button.html.twig', { actionName: 'Desarrollo back-end'}) }}
        </div>
    </div>
</div>
