<nav id="navbar" class="one-page-header navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="menu-container page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#body">
                <img height="30px" src="/resources/codium-brand-rectangle-white.svg" />
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <div class="menu-container">
                <ul class="nav navbar-nav">
                    <li class="page-scroll">
                        <a href="/#values" onclick="navigateTo('Valores')" title="Conoce nuestros valores">Valores</a>
                    </li>
                    <li class="dropdown page-scroll">
                        <a href="/#servicios" class="dropdown-toggle" onclick="navigateTo('Servicios')" title="Lo que ofrecemos">Servicios</a>
                        <ul class="dropdown-menu">
                            <li class="page-scroll">
                             <a href="/#formacion" onclick="navigateTo('Formacion')" title="Nuestros cursos">Formación</a>
                            </li>
                            <li class="page-scroll">
                                <a href="/#acompanamiento" onclick="navigateTo('Acompanamiento')" title="Acompañamiento">Acompañamiento</a>
                            </li>
                            <li class="page-scroll">
                                <a href="/#desarrollo" onclick="navigateTo('Desarrollo')" title="Desarrollo del Mínimo Producto Viable">Desarrollo de un MVP</a>
                            </li>
                        </ul>
                    </li>
                    <li class="page-scroll">
                        <a href="/curso-legacy-code.html" title="Curso Working with Legacy code"><span class="fa fa-graduation-cap"></span> Legacy Code</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/curso-tdd.html" title="Curso de TDD"><span class="fa fa-graduation-cap"></span> TDD</a>
                    </li>                    <!--<li class="page-scroll">-->
                    <!--<a href="#">Projects</a>-->
                    <!--</li>-->
                    <li class="page-scroll">
                        <a href="/#sobre-nosotros" onclick="navigateTo('Nosotros')" title="Conócenos">Equipo</a>
                    </li>
                    <li class="page-scroll">
                        <a href="https://blog.codium.team" title="Blog de Codium"><span class="fa fa-book"></span> Blog</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/#contacto" onclick="setContactAction('Navbar')" title="Contáctanos"><span class="fa fa-envelope"></span> Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
