<div id="introduction" class="bg-color-light">
    <div class="container content-sm">
        {{ include('components/block_header.html.twig', { name: 'Introducción' }) }}

        {{ include('main/components/video.html.twig', { videoUrl: 'https://www.youtube.com/embed/I5QFzjIBwPY' }) }}
    </div>
</div>
