<div id="landing-screen" class="fullscreen-static-image1 fullheight bg-color-darker">
    <div id="slogan" class="container landing-horizontal">
        <div class="row">
            <p>Formamos y acompañamos a equipos de programación.</p>
            <p>Especializados en <span title="Buenas prácticas de programación">Clean code</span>, <span title="Test driven development">TDD</span> y <span title="Código en mal estado">Legacy code</span>.</p>
        </div>
    </div>
    <div class="container landing-horizontal hidden-xs">
        <div class="row">
            <div class="col-xs-4 content-boxes-v6 reason-why">
                <i class="rounded-x icon-trophy" title="Priorizamos lo que más valor aporta y nos comprometemos en la entrega"></i>
                <h2 class="title-v3-md text-uppercase margin-bottom-10 color-corp">Resultados</h2>
            </div>
            <div class="col-xs-4 content-boxes-v6 reason-why">
                <i class="rounded-x icon-diamond" title="Prestamos gran atención al detalle y nos adaptamos a tus necesidades"></i>
                <h2 class="title-v3-md text-uppercase margin-bottom-10 color-corp">Calidad</h2>
            </div>
            <div class="col-xs-4 content-boxes-v6 reason-why">
                <i class="rounded-x icon-refresh" title="Trabajamos de forma honesta y respetuosa para crear software duradero"></i>
                <h2 class="title-v3-md text-uppercase margin-bottom-10 color-corp">Sostenibilidad</h2>
            </div>
        </div>
    </div>
    <div class="container landing-mobile-vertical">
        <div id="slogan-mobile" class="row">
            <p>Formamos y acompañamos a equipos de programación.</p>
            <p>Especializados en <span title="Buenas prácticas de programación">Clean code</span>, <span title="Test driven development">TDD</span> y <span title="Código en mal estado">Legacy code</span>.</p>
        </div>
    </div>
</div>
