<div id="landing-screen" class="fullscreen-static-image1 fullheight bg-color-darker">
    <div id="slogan" class="container landing-horizontal">
        <div class="row">
            <p>Formamos y acompañamos a equipos de programación.</p>
            <p>Especializados en Clean code, TDD y Legacy code.</p>
        </div>
    </div>
    <div class="container landing-horizontal hidden-xs">
        <div class="row">
            <div class="col-xs-4 content-boxes-v6 reason-why">
                <i class="rounded-x icon-trophy"></i>
                <h2 class="title-v3-md text-uppercase margin-bottom-10 color-corp">Resultados</h2>
                <h4 class="reasons-subtitle hidden-xs">Priorizamos lo que más valor aporta y nos comprometemos en la entrega</h4>
            </div>
            <div class="col-xs-4 content-boxes-v6 reason-why">
                <i class="rounded-x icon-diamond"></i>
                <h2 class="title-v3-md text-uppercase margin-bottom-10 color-corp">Calidad</h2>
                <h4 class="reasons-subtitle hidden-xs">Prestamos gran atención al detalle y nos adaptamos a tus necesidades</h4>
            </div>
            <div class="col-xs-4 content-boxes-v6 reason-why">
                <i class="rounded-x icon-refresh"></i>
                <h2 class="title-v3-md text-uppercase margin-bottom-10 color-corp">Sostenibilidad</h2>
                <h4 class="reasons-subtitle hidden-xs">Trabajamos de forma honesta y respetuosa para crear software sostenible</h4>
            </div>
        </div>
    </div>
    <div class="container landing-mobile-vertical">
        <div id="slogan-mobile" class="row">
            <p>Formamos y acompañamos a equipos de programación.</p>
            <p>Especializados en Clean code, TDD y Legacy code.</p>
        </div>
    </div>
</div>
