<div id="metodologia" class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center-v2 headline-center-v2-dark margin-bottom-60">
            <h2>Metodología</h2>
            <span class="bordered-icon"><img src="/img/favicons/favicon-16x16.png"></span>
            <p>Como <strong>Software Craftsmen</strong> desarrollamos <strong>software bien elaborado</strong>
                y formamos parte de una <strong>comunidad excepcional de profesionales</strong></p>
            <p>Nuestro principio clave: <em>Primero simple y luego smart</em></p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="content-boxes-v5 margin-bottom-30">
                    <i class="rounded-x icon-loop"></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">Metodología Lean</h3>
                        <p>Reducimos el desperdicio con procesos cortos e iterativos</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-boxes-v5 margin-bottom-30">
                    <i class="rounded-x icon-bulb"></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">Los 5 porqués</h3>
                        <p>Buscamos la raíz de los problemas para simplificar la solución</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-boxes-v5 margin-bottom-30">
                    <i class="rounded-x icon-graduation"></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">Enseñando y liderando</h3>
                        <p>Enseñando y liderando generamos un gran impacto en los que nos rodean</p>
                    </div>
                </div>
            </div>
        </div><!--/end row-->

        <div class="row margin-bottom-40">
            <div class="col-md-4">
                <div class="content-boxes-v5 margin-bottom-30">
                    <i class="rounded-x icon-heart "></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">Craftsmanship</h3>
                        <p>Nuestro impulso y deseo de hacer bien el trabajo por el simple placer de hacerlo</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-boxes-v5 margin-bottom-30">
                    <i class="rounded-x icon-wrench"></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">Practicando TDD</h3>
                        <p>Desarrollamos usando Desarrollo dirigido por pruebas en nuestro día a día</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-boxes-v5 margin-bottom-30">
                    <i class="rounded-x icon-globe"></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">En tus oficinas y en remoto</h3>
                        <p>Nos adaptamos a tus necesidades</p>
                    </div>
                </div>
            </div>
        </div><!--/end row-->

        {{ include('main/component/contact_us_button.html.twig', { actionName: 'Metodología'}) }}
    </div>
</div>
