<div id="servicios" class="bg-color-light">
    <div class="container content-sm">
        {{ include('components/block_header.html.twig', { name: 'Servicios' }) }}

        <div class="row pricing-table-v4 no-space-pricing">
            {{ include('main/services/summary/training.html.twig') }}
            {{ include('main/services/summary/coaching.html.twig') }}
            {{ include('main/services/summary/development.html.twig') }}
        </div>
    </div>
</div>
