<div id="redes-sociales">
    <div class="container content-sm">
        {{ include('components/block_header.html.twig', { name: 'Nuestras redes sociales' }) }}

        <div class="row equal-height text-center">
            <div class="col-md-3">
                <h3>Twitter</h3>
                <p>Si quieres saber más de nuestros día a día, los que nos importa, los eventos a los que asistimos, los cursos que impartimos...</p>
                <br>
                <a href="https://twitter.com/codiumteam" target="_blank">
                    <button class="btn btn-u btn-primary">Síguenos en Twitter</button>
                </a>
            </div>
            <div class="col-md-3">
                <h3>Blog</h3>
                <p>Accede a nuestras publicaciones sobre cómo trabajamos, artículos sobre la empresa, casos de éxito y artículos motivacionales.</p>
                <br>
                <a href="https://blog.codium.team/" target="_blank">
                    <button class="btn btn-u btn-primary">Leer el Blog</button>
                </a>
            </div>
            <div class="col-md-3">
                <h3>Youtube</h3>
                <p>Visualiza nuestras charlas y conferencias, sesiones de live coding y los vídeos donde presentamos quiénes somos, cómo trabajamos y qué hacemos.</p>
                <br>
                <a href="https://www.youtube.com/channel/UC_G24eVjh5ZBownNfIh2lxw" target="_blank">
                    <button class="btn btn-u btn-primary">Ver nuestros vídeos</button>
                </a>
            </div>
            <div class="col-md-3">
                <h3>Newsletter</h3>
                <p>Subscríbete a nuestra Newsletter mensual para recibir en tu correo un resumen de todas nuestras actividades del último mes y la agenda para el mes siguiente.</p>
                <br>
                <a href="https://team.us20.list-manage.com/subscribe?u=13d69f9b710506811a9c84ffc&id=eccad064f9" target="_blank">
                    <button class="btn btn-u btn-primary">Subscríbete</button>
                </a>
            </div>
        </div>
    </div>
</div>
