<div id="formacion">
    <div class="container content-sm">
        {{ include('components/extended_block_header.html.twig', {
            name: 'Formación',
            summary: '<p>En Codium somos formadores profesionales que mentorizamos a tu equipo para que logre alcanzar
                la excelencia en sus resultados. Nuestros cursos prácticos se centran en aprender una habilidad específica.
                Después de la formación acompañamos a tu equipo a poner en práctica en su día a día lo que han
                aprendido.</p>'
        }) }}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {{ include('main/components/video.html.twig', { videoId: '2QPU8bPMnHI' }) }}
            </div>
        </div>

        <div class="row margin-bottom-30 equal-height margin-top-60">
            <div class="col-md-6 md-margin-bottom-50">
                {{ include('main/services/training/legacy.html.twig') }}
            </div>
            <div class="col-md-6 md-margin-bottom-50">
                {{ include('main/services/training/tdd.html.twig') }}
            </div>
        </div>
    </div>
</div>
