<div id="formacion">
    <div class="container content-sm">
        <div class="headline-center-v2 headline-center-v2-dark margin-bottom-60">
            <h2>Formación</h2>
            <span class="bordered-icon"><img src="/img/favicons/favicon-16x16.png"></span>
            <p>Como formadores profesionales enseñamos a tu equipo todos los temas relacionados con el ciclo de
                desarrollo del software. Nuestros cursos prácticos se centran en aprender una habilidad específica.
                Después de la formación acompañamos a tu equipo a poner en práctica en su día a día lo que han
                aprendido.</p>
        </div><!--/Headline Center v2-->

        <div class="row margin-bottom-30 equal-height">
            <div class="col-md-6 md-margin-bottom-50">
                <div class="tag-box tag-box-v1 box-shadow shadow-effect-2 jl-tag-box">
                    <img class="img-responsive center-block margin-bottom-30" src="/img/trainings/tdd_flow.gif"
                         alt="">
                    <h3 class="text-center">TDD</h3>
                    <p>Cambia la forma en la que piensas para simplificar el desarrollo y asegurar la calidad.</p>
                    <br>
                    <ul class="list-unstyled lists-v1">
                        <li><i class="fa fa-angle-right"></i>Ciclo de desarrollo usando TDD</li>
                        <li><i class="fa fa-angle-right"></i>Test dobles para aislar capas</li>
                        <li><i class="fa fa-angle-right"></i>Buenas prácticas y olores en el código</li>
                        <li><i class="fa fa-angle-right"></i>Cómo testear código legado</li>
                    </ul>
                    <div class="bottom-contact-btn">
                        <a href="/curso-tdd.html" class="btn-u bottom-contact-btn-link">Más información</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 md-margin-bottom-50">
                <div class="tag-box tag-box-v1 box-shadow shadow-effect-2 jl-tag-box">
                    <img class="img-responsive center-block margin-bottom-30"
                         src="/img/trainings/refactoring_to_patterns.jpg" alt="">
                    <h3 class="text-center">Working with Legacy Code</h3>
                    <p>Desacopla tu código para reducir los costes de desarrollo y mantimiento.</p><br>

                    <ul class="list-unstyled lists-v1">
                        <li><i class="fa fa-angle-right"></i>Aprende a desacoplar las dependencias.</li>
                        <li><i class="fa fa-angle-right"></i>Identifica los problemas en el código.</li>
                        <li><i class="fa fa-angle-right"></i>De código spagetti a uno bien diseñado.</li>
                        <li><i class="fa fa-angle-right"></i>Estrategias para transformar tu monolito.</li>
                    </ul>
                    <div class="bottom-contact-btn page-scroll">
                        <a href="#contacto" class="btn-u bottom-contact-btn-link"
                           onclick="setContactAction('Legacy Code')">Contáctanos</a>
                    </div>
                </div>
            </div>
        </div><!--/end row-->
    </div>
</div>
