<div id="values" class="">
    <div class="container content-sm">
        {{ include('components/block_header.html.twig', { name: 'Valores y metodología' }) }}

        <div class="row margin-top-60">
            <div class="col-md-4">
                <div class="content-boxes-v5 margin-bottom-30">
                    <i class="rounded-x icon-drop"></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">Simplicidad</h3>
                        <p>Lo bueno, si es simple, dos veces bueno.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-boxes-v5 margin-bottom-30">
                    <i class="rounded-x icon-bubbles"></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">Respeto</h3>
                        <p>Creemos que el respeto a los demás y a uno mismo es la base todo.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="content-boxes-v5 margin-bottom-30">
                    <i class="rounded-x icon-equalizer"></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">Pragmatismo</h3>
                        <p>Huimos de los dogmas buscando el equilibrio entre el coste y el beneficio.</p>
                    </div>
                </div>
            </div>
        </div><!--/end row-->

        <div class="row">
            <div class="col-md-4">
                <div class="content-boxes-v5 margin-bottom-30">
                    <i class="rounded-x icon-loop"></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">Metodología Lean</h3>
                        <p>Reducimos el desperdicio con ciclos cortos que minimizan el riesgo.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-boxes-v5 margin-bottom-30">
                    <i class="rounded-x icon-wrench"></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">eXtreme Programming</h3>
                        <p>Practicamos TDD, Pair programming, Refactoring, Integración continua...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-boxes-v5 margin-bottom-30">
                    <i class="rounded-x icon-heart "></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">Software Crafters</h3>
                        <p>Mejoramos nuestras habilidades y compartimos lo aprendido.</p>
                    </div>
                </div>
            </div>
        </div><!--/end row-->
        <div class="row margin-bottom-40">
            <div class="col-md-4">
                <div class="content-boxes-v5 margin-bottom-30">
                    <i class="rounded-x icon-magnifier"></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">Análisis en profundidad</h3>
                        <p>Buscamos el origen de los problemas para ofrecer la mejor la solución.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-boxes-v5 margin-bottom-30">
                    <i class="rounded-x icon-briefcase"></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">Mentalidad emprendedora</h3>
                        <p>Hemos creado startups y entendemos las necesidades de negocio.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-boxes-v5 margin-bottom-30">
                    <i class="rounded-x fa fa-code"></i>
                    <div class="overflow-h">
                        <h3 class="no-top-space">Visión de desarrollador</h3>
                        <p>Como programadores, comprendemos las implicaciones técnicas del producto.</p>
                    </div>
                </div>
            </div>
        </div><!--/end row-->

        {{ include('main/components/contact_us_button.html.twig', { actionName: 'Metodología'}) }}
    </div>
</div>
