.dropdown {
  position: relative;
}

.dropdown::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 4.6rem;
  z-index: 1000;
  width: 8px;
  height: 8px;
  border: 2px solid $darkest-grey;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(135deg);
  transition: 0.5s;
  pointer-events: none;
}

.dropdown.active::before {
  transform: rotate(-45deg);
  top: 5px;
}

.dropdown .options {
  width: 100%;
  background: $lightest-grey;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
  display: none;
  min-width: 150px;
  list-style: none;
  padding: 1rem 0.5rem;
}

.dropdown.active .options {
  display: block;
}

.dropdown .options li {
  padding: 12px 20px;
  cursor: pointer;
}

.dropdown .options li:hover {
  color: #fff;
}

@media (min-width: 768px) {
  .dropdown .options {
    position: absolute;
  }
}
