<div id="trainings" class="bg-color-light">
    <div class="container content-sm">
        <div class="headline-center-v2 headline-center-v2-dark margin-bottom-20">
            <h2>Próximos cursos de TDD</h2>
            <span class="bordered-icon"><img src="/img/favicons/favicon-16x16.png"></span>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-3">
                <table id="next-trainings" class="responsive-table">
                    <thead>
                    <tr>
                        <th>Localidad</th>
                        <th>Fechas</th>
                        <th>Descripción</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td data-header="Localidad" nowrap><span class="training-location"><s>Madrid</s></span></td>
                        <td data-header="Fechas" nowrap><strong><s>11 y 12 de diciembre de 2017</s></strong></td>
                        <td data-header="Descripción"><a href="https://twitter.com/codiumteam/status/941259927984713729" target="_blank"><button class="btn-u btn-lg btn-u-blue" type="button"><i class="fa fa-camera"></i> Imágenes</button></a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td data-header="Localidad" nowrap><span class="training-location"><s>Mallorca</s></span></td>
                        <td data-header="Fechas" nowrap><strong><s>19 y 20 de febrero de 2018</s></strong></td>
                        <td data-header="Descripción"><a href="https://twitter.com/codiumteam/status/966399073745080320" target="_blank"><button class="btn-u btn-lg btn-u-blue" type="button"><i class="fa fa-camera"></i> Imágenes</button></a></td>
                    </tr>
                    <tr>
                        <td data-header="Localidad" nowrap><span class="training-location"><s>Habitissimo</s></span></td>
                        <td data-header="Fechas" nowrap><strong><s>21 y 22 de febrero de 2018</s></strong></td>
                        <td data-header="Descripción"><a href="https://twitter.com/codiumteam/status/968415419055923200" target="_blank"><button class="btn-u btn-lg btn-u-blue" type="button"><i class="fa fa-camera"></i> Imágenes</button></a></td>
                    </tr>
                    <tr>
                        <td data-header="Localidad" nowrap><span class="training-location"><s>Hotelbeds</s></span></td>
                        <td data-header="Fechas" nowrap><strong><s>5 y 6 de marzo de 2018</s></strong></td>
                        <td data-header="Descripción"><a href="https://twitter.com/codiumteam/status/973865688938008576" target="_blank"><button class="btn-u btn-lg btn-u-blue" type="button"><i class="fa fa-camera"></i> Imágenes</button></a></td>
                    </tr>
                    <tr>
                        <td data-header="Localidad" nowrap><span class="training-location"><s>Hotelbeds</s></span></td>
                        <td data-header="Fechas" nowrap><strong><s>7 y 8 de marzo de 2018</s></strong></td>
                        <td data-header="Descripción"><a href="https://twitter.com/codiumteam/status/973865688938008576" target="_blank"><button class="btn-u btn-lg btn-u-blue" type="button"><i class="fa fa-camera"></i> Imágenes</button></a></td>
                    </tr>
                    <tr>
                        <td data-header="Localidad" nowrap><span class="training-location"><s>Hotelbeds</s></span></td>
                        <td data-header="Fechas" nowrap><strong><s>16 y 17 de abril de 2018</s></strong></td>
                        <td data-header="Descripción"><a href="https://twitter.com/codiumteam/status/989047672245014529" target="_blank"><button class="btn-u btn-lg btn-u-blue" type="button"><i class="fa fa-camera"></i> Imágenes</button></a></td>
                    </tr>
                    <tr>
                        <td data-header="Localidad" nowrap><span class="training-location"><s>Hotelbeds</s></span></td>
                        <td data-header="Fechas" nowrap><strong><s>18 y 19 de abril de 2018</s></strong></td>
                        <td data-header="Descripción"><a href="https://twitter.com/codiumteam/status/989049083187924992" target="_blank"><button class="btn-u btn-lg btn-u-blue" type="button"><i class="fa fa-camera"></i> Imágenes</button></a></td>
                    </tr>
                    <tr>
                        <td data-header="Localidad" nowrap><span class="training-location"><s>Hotelbeds</s></span></td>
                        <td data-header="Fechas" nowrap><strong><s>28 y 29 de mayo de 2018</s></strong></td>
                        <td data-header="Descripción"><a href="https://twitter.com/codiumteam/status/1001755414403452928" target="_blank"><button class="btn-u btn-lg btn-u-blue" type="button"><i class="fa fa-camera"></i> Imágenes</button></a></td>
                    </tr>
                    <tr>
                        <td data-header="Localidad" nowrap><span class="training-location"><s>Vigo</s></span></td>
                        <td data-header="Fechas" nowrap><strong><s>11 y 12 de junio de 2018</s></strong></td>
                        <td data-header="Descripción"><a href="https://twitter.com/codiumteam/status/1006872671454486528" target="_blank"><button class="btn-u btn-lg btn-u-blue" type="button"><i class="fa fa-camera"></i> Imágenes</button></a></td>
                    </tr>
                    <tr>
                        <td data-header="Localidad" nowrap><span class="training-location">Mallorca</span></td>
                        <td data-header="Fechas" nowrap><strong>18 y 19 de Septiembre de 2018</strong></td>
                        <td data-header="Descripción"><button class="btn-u btn-lg btn-u-blue" type="button">Próximante</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
