<div class="col-md-3 col-xs-6 mix {{ categories }}" data-cat="1">
    <div class="view view-tenth">
        <img class="img-responsive lazy" data-src="{{ image }}" alt=""/>
        <div class="mask">
            <h2>{{ name }}</h2>
            <p>{{ description }}</p>
        </div>
    </div>
</div>
