<div class="container">


  <h2 class="text-center title">El valor de TDD</h2>

  <p class="text-center text-dark-grey">
    El simple hecho de pensar y escribir un test antes que el código de
    producción, representa un cambio de paradigma en el desarrollo de
    software y un salto de calidad inimaginable en tu código.
  </p>

  <article class="tdd-value">
    <div class="text-center tdd-value__item">
      <img src="/img/fast-cheap-good-v2.svg" class="tdd-value__image"
        alt="El valor del curso explicado con bueno-bonito-barato" />
    </div>

    <aside class="tdd-value__item">
      <h2 class="tdd-value__title" id="what-is-tdd">¿Qué es TDD?</h2>
      <p class="text-dark-grey">
        TDD son las siglas de Test Driven Development o desarrollo dirigido por pruebas.
      </p>
      <p class="text-dark-grey">
         Es una metodología de
        desarrollo. Esta metodología no se basa en realizar una enorme batería de tests y después escribir el código, sino que es ir realizando pequeños ciclos de testing e ir escribiendo a su vez el código necesario para poner el test en verde.
      </p>
      <p class="text-dark-grey">Una vez lo tenemos en verde, quitar duplicación y refactorizar. Este ciclo es conocido como RED · GREEN ·
        REFACTOR
      </p>
      <p class="text-dark-grey">Puedes leer <a href="https://blog.codium.team/2022-05_que-es-tdd">más sobre TDD en nuestro blog</a></p>
      <div>
        <h2>Beneficios del TDD</h2>

        <h3>Ayuda a reducir los costes de desarrollo</h3>
        <ul class="course-calendar__items">
          <li class="text-dark-grey">
            Implementando sólo lo imprescindible para los requisitos
            actuales (diseño incremental)
          </li>
          <li class="text-dark-grey">
            Evitando complejidades innecesarias
          </li>
        </ul>
      </div>

      <div>
        <h3>Ayuda a reducir los costes de mantenimiento</h3>
        <ul class="course-calendar__items">
          <li class="text-dark-grey">
            Al reducir el testeo manual de la aplicación
          </li>
          <li class="text-dark-grey">
            Minimizando las incidencias en producción
          </li>
          <li class="text-dark-grey">
            Gracias a soluciones más simples
          </li>
          <li class="text-dark-grey">
            Al poder cambiar fácilmente decisiones que ya no son válidas
          </li>
          <li class="text-dark-grey">
            Al tener una documentación ejecutable
          </li>
        </ul>
      </div>

      <div>
        <h3>Transforma al desarrollador</h3>
        <ul class="course-calendar__items">
          <li class="text-dark-grey">
            Aumentando la seguridad de los desarrolladores al introducir
            cambios en el código
          </li>
          <li class="text-dark-grey">
            Mejorando la moral y motivación del equipo
          </li>
        </ul>
      </div>
    </aside>
  </article>

  <div class="button__wrapper">
    <a class="button button--primary" href="#contactForm"
      data-trackevent="contact_us.show_form.course_value">Contactar</a>
  </div>
</div>
