<div class="container">


  <h2 class="text-center title"><t>El valor de TDD</t></h2>

  <p class="text-center text-dark-grey">
    <t>El simple hecho de pensar y escribir un test antes que el código de
    producción, representa un cambio de paradigma en el desarrollo de
    software y un salto de calidad inimaginable en tu código.</t>
  </p>

  <article class="tdd-value">
    <div class="text-center tdd-value__item">
      <img src="/img/fast-cheap-good-v2.svg" class="tdd-value__image"
        alt="<%= __('El valor del curso explicado con bueno-bonito-barato') %>" />
    </div>

    <aside class="tdd-value__item">
      <h2 class="tdd-value__title" id="what-is-tdd"><t>¿Qué es TDD?</t></h2>
      <p class="text-dark-grey">
        <t>TDD son las siglas de Test Driven Development o desarrollo dirigido por pruebas.</t>
      </p>
      <p class="text-dark-grey">
         <t>Es una metodología de desarrollo. Esta metodología no se basa en realizar una enorme batería de tests y después escribir el código, sino que es ir realizando pequeños ciclos de testing e ir escribiendo a su vez el código necesario para poner el test en verde.</t>
      </p>
      <p class="text-dark-grey">
        <t>Una vez lo tenemos en verde, quitar duplicación y refactorizar. Este ciclo es conocido como RED · GREEN · REFACTOR</t>
      </p>
      <p class="text-dark-grey"><t>Puedes leer <a href="https://blog.codium.team/2022-05_que-es-tdd" target="_blank">más sobre TDD en nuestro blog</a>.</t></p>
      <p class="text-dark-grey"><t>También puede interesarte el post sobre <a href="https://blog.codium.team/2022-05_tdd-en-react-js" target="_blank">cómo aplicar TDD en el front con React JS</a>.</t></p>
      <div>
        <h2><t>Beneficios del TDD</t></h2>

        <h3><t>Ayuda a reducir los costes de desarrollo</t></h3>
        <ul class="course-calendar__items">
          <li class="text-dark-grey">
            <t>Implementando sólo lo imprescindible para los requisitos actuales (diseño incremental)</t>
          </li>
          <li class="text-dark-grey">
            <t>Evitando complejidades innecesarias</t>
          </li>
        </ul>
      </div>

      <div>
        <h3><t>Ayuda a reducir los costes de mantenimiento</t></h3>
        <ul class="course-calendar__items">
          <li class="text-dark-grey">
            <t>Al reducir el testeo manual de la aplicación</t>
          </li>
          <li class="text-dark-grey">
            <t>Minimizando las incidencias en producción</t>
          </li>
          <li class="text-dark-grey">
            <t>Gracias a soluciones más simples</t>
          </li>
          <li class="text-dark-grey">
            <t>Al poder cambiar fácilmente decisiones que ya no son válidas</t>
          </li>
          <li class="text-dark-grey">
            <t>Al tener una documentación ejecutable</t>
          </li>
        </ul>
      </div>

      <div>
        <h3><t>Transforma al desarrollador</t></h3>
        <ul class="course-calendar__items">
          <li class="text-dark-grey">
            <t>Aumentando la seguridad de los desarrolladores al introducir cambios en el código</t>
          </li>
          <li class="text-dark-grey">
            <t>Mejorando la moral y motivación del equipo</t>
          </li>
        </ul>
      </div>
    </aside>
  </article>

  <div class="button__wrapper">
    <a class="button button--primary" href="#contactForm"
      data-trackevent="contact_us.show_form.course_value"><t>Contactar</t></a>
  </div>
</div>
