<% var opinionAboutThisCourse = [
  {
    avatar: './img/testimonials/HelderDOliveira.jpg',
    opinion: `Pragmático, directo, en la misma línea de la propia
          filosofía de TDD​.​ ​M​e ha ayudado a desarrollar de
          forma más segura y limpia, ​descubriendo a la vez
          otras formas de hacer TDD que desconocía y siempre
          guiado desde ejercicios muy potentes.
    `,
    name: 'Helder De Oliveira',
    profession: 'Software Craftsman',
  },
  {
    avatar: './img/testimonials/JoanMiralles.jpg',
    opinion: `Aunque conocía TDD a nivel teórico, después de
          realizar este curso, ha sido cuándo he entendido cómo
          llevarlo a mi día a día.`,
    name: 'Joan Miralles',
    profession: 'Software Architect en Brújula Tecnologías de la Información',
  },
  {
    avatar: './img/testimonials/ilya.png',
    opinion: `El curso ha sido un buen punto de inflexión para
          empezar a usar TDD en mi día a día y profundizar en
          todo lo aprendido. Las katas guiadas por el equipo de
          Codium le dan muchísimo valor al curso y están muy
          bien escogidas para remarcar los fallos que se suelen
          cometer al empezar con TDD.`,
    name: 'Ilya Kabushko',
    profession: 'Software developer en Travel Compositor',
  },
] %>

<section class="block block--white">
  <div class="container">
    <h2 class="text-center title">Testimonios</h2>
    <p class="text-center">
      Conoce qué han dicho los alumnos sobre éste curso
    </p>

    <%- include('../../partials/carousel/opinion', {
      opinions: opinionAboutThisCourse
    })  %>
  </div>
</section>
