<section class="block block--white block--small">
  <div class="container client">
    <div class="carousel">
      <div class="glide" id="clients">
        <div class="glide__arrows">
          <p
            class="glide__arrow glide__arrow--left js-clients-arrow"
            data-glide-dir="<"
          >
            <i class="icon icon-circle-left"></i>
          </p>
        </div>
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides slides">
            <li class="glide__slide">
              <div class="client__item client__item--roiback">
                <img src="./img/clients/roiback.png" alt="Roiback logo" />
              </div>
            </li>

            <li class="glide__slide">
              <div class="client__item client__item--ge">
                <img
                  src="./img/clients/generalelectric.png"
                  alt="General electric logo"
                />
              </div>
            </li>

            <li class="glide__slide">
              <div class="client__item client__item client__item--glovo">
                <img src="./img/clients/glovo.png" alt="Glovo logo" />
              </div>
            </li>

            <li class="glide__slide">
              <div class="client__item client__item client__item--glovo">
                <img src="./img/clients/avoris.png" alt="Avoris logo" />
              </div>
            </li>
            <li class="glide__slide">
              <div class="client__item client__item client__item--glovo">
                <img src="./img/clients/melia.png" alt="Meliá logo" />
              </div>
            </li>

            <li class="glide__slide">
              <div class="client__item">
                <img
                  src="./img/clients/hotelbeds.png"
                  alt="Hotelbeds logo"
                />
              </div>
            </li>

            <li class="glide__slide">
              <div class="client__item">
                <img src="./img/clients/zooplus.svg" alt="Zooplus logo" />
              </div>
            </li>
            <li class="glide__slide">
              <div class="client__item">
                <img
                  src="./img/clients/habitissimo.png"
                  alt="Habitissimo logo"
                />
              </div>
            </li>
          </ul>
          <div class="glide__arrows">
            <p
              class="glide__arrow glide__arrow--right js-clients-arrow"
              data-glide-dir=">"
            >
              <i class="icon icon-circle-right"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
