<section class="block block--lila" id="training-content-timeline">
  <div class="container">
    <h2 class="text-center title">
      Contenido del curso
    </h2>

    <div class="calendar">
      <div>
        <article class="course-calendar">
          <div class="course-calendar__day">
            <p class="small-title">Día 1</p>
            <p class="text-dark-grey course-calendar__day-item">Mañana</p>
          </div>
          <div class="course-calendar__list">
            <p class="small-title">
              Introducción a Test-Driven Development
            </p>
            <ul class="course-calendar__items">
              <li class="text-dark-grey">
                Tipos de tests y costes asociados
              </li>
              <li class="text-dark-grey">
                Ciclo de desarrollo: red, green, refactor
              </li>
              <li class="text-dark-grey">
                Reglas de TDD y las pruebas unitarias
              </li>
              <li class="text-dark-grey">
                Estructura y convenciones de los tests
              </li>
              <li class="text-dark-grey">Arnés y cobertura de test</li>
              <li class="text-dark-grey">
                Kata (o ejercicio) introductoria
              </li>
            </ul>
          </div>
        </article>
        <article class="course-calendar">
          <div class="course-calendar__day">
            <p class="text-dark-grey course-calendar__day-item">Tarde</p>
          </div>
          <div class="course-calendar__list">
            <p class="small-title course-calendar__title">
              Beneficios de TDD
            </p>
            <ul class="course-calendar__items">
              <li class="text-dark-grey">Por qué hacer TDD</li>
              <li class="text-dark-grey">Economía de TDD</li>
              <li class="text-dark-grey">Kata</li>
            </ul>

            <p class="small-title">Contexto de TDD y Test smells</p>
            <ul class="course-calendar__items">
              <li class="text-dark-grey">Agile Manifesto</li>
              <li class="text-dark-grey">
                Software Craftsmanship Manifesto
              </li>
              <li class="text-dark-grey">eXtreme Programming (XP)</li>
              <li class="text-dark-grey">Kata tests smells</li>
            </ul>
          </div>
        </article>
      </div>

      <div>
        <article class="course-calendar">
          <div class="course-calendar__day">
            <p class="small-title">Día 2</p>
            <p class="text-dark-grey course-calendar__day-item">Mañana</p>
          </div>
          <div class="course-calendar__list">
            <p class="small-title">Dobles de pruebas</p>
            <ul class="course-calendar__items">
              <li class="text-dark-grey">
                Para qué sirven los tests dobles
              </li>
              <li class="text-dark-grey">Cómo y cuándo usarlos</li>
              <li class="text-dark-grey">
                Tipos de dobles: mock, spy, stub, fake y dummy
              </li>
              <li class="text-dark-grey">Cómo funcionan internamente</li>
              <li class="text-dark-grey">Kata historia de usuario</li>
            </ul>
          </div>
        </article>

        <article class="course-calendar">
          <div class="course-calendar__day">
            <p class="text-dark-grey course-calendar__day-item">Tarde</p>
          </div>
          <div class="course-calendar__list">
            <p class="small-title course-calendar__title">
              Consejos para hacer TDD
            </p>
            <ul class="course-calendar__items">
              <li class="text-dark-grey">Testing en el front-end</li>
              <li class="text-dark-grey">Testing con base de datos</li>
              <li class="text-dark-grey">Builders de test</li>
            </ul>

            <p class="small-title">TDD Outside-in</p>
            <ul class="course-calendar__items">
              <li class="text-dark-grey">
                Test-Driven Development outside-in
              </li>
              <li class="text-dark-grey">Cómo desarrollamos en Codium</li>
              <li class="text-dark-grey">Kata iterativa</li>
            </ul>
          </div>
        </article>
      </div>
    </div>

    <div class="button__wrapper">
      <a
        class="button button--primary"
        href="#contactForm"
        data-trackevent="contact_us.show_form.course_index"
      >
        Contactar
      </a>
    </div>
  </div>
</section>
