<section class="block block--white">
  <div class="container">
    <h2 class="text-center title">Testimonios</h2>
    <p class="text-center">
      Conoce qué han dicho los alumnos sobre éste curso
    </p>

    <div class="carousel">
      <div class="glide" id="opinion">
        <div class="glide__arrows">
          <p
            class="glide__arrow glide__arrow--left js-opinion-arrow"
            data-glide-dir="<"
          >
            <i class="icon icon-circle-left"></i>
          </p>
        </div>
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <li class="glide__slide">
              <div class="card card--opinion">
                <div class="card__header">
                  <div class="card__image-wrapper">
                    <img
                      src="/img/testimonials/HelderDOliveira.jpg"
                      alt="Avatar"
                      class="card__image card__image--rounded"
                    />
                  </div>
                </div>
                <div class="card__text card__text--left">
                  <p>
                    Pragmático, directo, en la misma línea de la propia
                    filosofía de TDD​.​ ​M​e ha ayudado a desarrollar de
                    forma más segura y limpia, ​descubriendo a la vez
                    otras formas de hacer TDD que desconocía y siempre
                    guiado desde ejercicios muy potentes.
                  </p>
                  <p class="text-bold card__name">Helder De Oliveira</p>
                  <p class="card__profession">Software Craftsman</p>
                </div>
              </div>
            </li>
            <li class="glide__slide">
              <div class="card card--opinion">
                <div class="card__header">
                  <div class="card__image-wrapper">
                    <img
                      src="/img/testimonials/JoanMiralles.jpg"
                      alt="Avatar"
                      class="card__image card__image--rounded"
                    />
                  </div>
                </div>
                <div class="card__text card__text--left">
                  <p>
                    Aunque conocía TDD a nivel teórico, después de
                    realizar este curso, ha sido cuándo he entendido cómo
                    llevarlo a mi día a día.
                  </p>
                  <p class="text-bold card__name">Joan Miralles</p>
                  <p class="card__profession">
                    Software Architect en Brújula Tecnologías de la
                    Información
                  </p>
                </div>
              </div>
            </li>
            <li class="glide__slide">
              <div class="card card--opinion">
                <div class="card__header">
                  <div class="card__image-wrapper">
                    <img
                      src="/img/testimonials/ilya.png"
                      alt="Avatar"
                      class="card__image card__image--rounded"
                    />
                  </div>
                </div>
                <div class="card__text card__text--left">
                  <p>
                    El curso ha sido un buen punto de inflexión para
                    empezar a usar TDD en mi día a día y profundizar en
                    todo lo aprendido. Las katas guiadas por el equipo de
                    Codium le dan muchísimo valor al curso y están muy
                    bien escogidas para remarcar los fallos que se suelen
                    cometer al empezar con TDD.
                  </p>
                  <p class="text-bold card__name">Ilya Kabushko</p>
                  <p class="card__profession">
                    Software developer en Travel Compositor
                  </p>
                </div>
              </div>
            </li>
          </ul>
          <div class="glide__arrows">
            <p
              class="glide__arrow glide__arrow--right js-opinion-arrow"
              data-glide-dir=">"
            >
              <i class="icon icon-circle-right"></i>
            </p>
          </div>
        </div>

        <div class="glide__bullets" data-glide-el="controls[nav]">
          <span class="glide__bullet" data-glide-dir="=0"></span>
          <span class="glide__bullet" data-glide-dir="=1"></span>
          <span class="glide__bullet" data-glide-dir="=2"></span>
        </div>
      </div>
    </div>
  </div>
</section>
