<div class="container">
  <h1 class="title text-center">Consultoría técnica</h1>
  <p class="text--summary text-center">The path of the righteous man is beset on all sides by the iniquities of the
    selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak
    through the valley of darkness, for he is truly his brother's keeper and the finder of lost children.</p>

  <section class="information-wrapper">
    <%- include('../../partials/cards/card-services', {
      title: 'Mentalidad',
      description: `
          <p class="text-dark-grey text--left">
          EPIC WIN is part of an on-going series of work by artist William Waterhouse, and is the result of a series of
          one-to-one “play dates” with colleagues and friends. Low-fi, painted, MDF cut-outs form the building blocks of
          shanty structures
        </p>
        <p class="text-dark-grey text--left">
          EPIC WIN is part of an on-going series of work by artist William Waterhouse, and is the result of a series of
          one-to-one “play dates” with colleagues and friends. Low-fi, painted, MDF cut-outs form the building blocks of
          shanty structures
        </p>
      `,
      image: './img/illustrations/bootcamp/lean.png',
      serviceType: 'Consultoría',
        icons: [
        {
          icon: 'icon-embed2',
          text: 'Java, Python, Js, PHP, C#, C++, ...'
        },
        {
          icon: 'icon-location',
          text: 'Remoto o presencial'
        },
        {
          icon: 'icon-language',
          text: 'También en inglés'
        },
      ]
    }) %>

    <%- include('../../partials/cards/card-services', {
      title: 'Mentalidad',
      description: `
          <p class="text-dark-grey text--left">
          EPIC WIN is part of an on-going series of work by artist William Waterhouse, and is the result of a series of
          one-to-one “play dates” with colleagues and friends. Low-fi, painted, MDF cut-outs form the building blocks of
          shanty structures
        </p>
        <p class="text-dark-grey text--left">
          EPIC WIN is part of an on-going series of work by artist William Waterhouse, and is the result of a series of
          one-to-one “play dates” with colleagues and friends. Low-fi, painted, MDF cut-outs form the building blocks of
          shanty structures
        </p>
      `,
      image: './img/illustrations/bootcamp/lean.png',
      serviceType: 'Consultoría',
        icons: [
        {
          icon: 'icon-embed2',
          text: 'Java, Python, Js, PHP, C#, C++, ...'
        },
        {
          icon: 'icon-location',
          text: 'Remoto o presencial'
        },
        {
          icon: 'icon-language',
          text: 'También en inglés'
        },
      ]
    }) %>

    <%- include('../../partials/cards/card-services', {
      title: 'Mentalidad',
      description: `
          <p class="text-dark-grey text--left">
          EPIC WIN is part of an on-going series of work by artist William Waterhouse, and is the result of a series of
          one-to-one “play dates” with colleagues and friends. Low-fi, painted, MDF cut-outs form the building blocks of
          shanty structures
        </p>
        <p class="text-dark-grey text--left">
          EPIC WIN is part of an on-going series of work by artist William Waterhouse, and is the result of a series of
          one-to-one “play dates” with colleagues and friends. Low-fi, painted, MDF cut-outs form the building blocks of
          shanty structures
        </p>
      `,
      image: './img/illustrations/bootcamp/lean.png',
      serviceType: 'Consultoría',
        icons: [
        {
          icon: 'icon-embed2',
          text: 'Java, Python, Js, PHP, C#, C++, ...'
        },
        {
          icon: 'icon-location',
          text: 'Remoto o presencial'
        },
        {
          icon: 'icon-language',
          text: 'También en inglés'
        },
      ]
    }) %>

    <%- include('../../partials/cards/card-services', {
      title: 'Mentalidad',
      description: `
          <p class="text-dark-grey text--left">
          EPIC WIN is part of an on-going series of work by artist William Waterhouse, and is the result of a series of
          one-to-one “play dates” with colleagues and friends. Low-fi, painted, MDF cut-outs form the building blocks of
          shanty structures
        </p>
        <p class="text-dark-grey text--left">
          EPIC WIN is part of an on-going series of work by artist William Waterhouse, and is the result of a series of
          one-to-one “play dates” with colleagues and friends. Low-fi, painted, MDF cut-outs form the building blocks of
          shanty structures
        </p>
      `,
      image: './img/illustrations/bootcamp/lean.png',
      serviceType: 'Consultoría',
        icons: [
        {
          icon: 'icon-embed2',
          text: 'Java, Python, Js, PHP, C#, C++, ...'
        },
        {
          icon: 'icon-location',
          text: 'Remoto o presencial'
        },
        {
          icon: 'icon-language',
          text: 'También en inglés'
        },
      ]
    }) %>
  </section>
</div>
