<h1>Información para la prensa y eventos</h1>

<p><strong>Nombre:</strong> Codium</p>

<p><strong>Nombre registrado:</strong> Codium Team S.L.</p>

<p><strong>Administradores de la compañía:</strong> Jordi Anguela y Luis Rovirosa</p>

<p><strong>Descripción corta de Codium:</strong> {% include 'components/company_description.html.twig' %}</p>

<p><strong>Descriptión de los facilitadores del evento:</strong> <br>
    Luis (<a href="https://twitter.com/luisrovirosa">@luisrovirosa</a>) y Jordi (<a href="https://twitter.com/jordianguela">@jordianguela</a>) son desarrolladores de aplicaciones web y formadores
    desde hace más de 10 años. Trabajan habitualmente con startups y grandes empresas ayudando a transformar
    sus equipos de programación. En su día a día dedican buena parte de su tiempo al desarrollo y
    también ayudan a las empresas a simplificar y priorizar sus productos.</p>

<p>En 2017 montaron Codium (<a href="https://www.codium.team">https://www.codium.team</a>), una empresa especializada en formación y acompañamiento de empresas de desarrollo donde imparten formaciones de TDD, Clean Code, Patrones de diseño y de cómo trabajar con Legacy code.</p>

<p><strong>Foto para el evento:</strong> <a href="https://pbs.twimg.com/media/DQ3KEJKW4AAvjrx.jpg" target="_blank">https://pbs.twimg.com/media/DQ3KEJKW4AAvjrx.jpg</a> </p>
<img class="big-img thumbnail" src="https://pbs.twimg.com/media/DQ3KEJKW4AAvjrx.jpg">
