{% extends "components/block_faq.html.twig" %}

{% set question = '¿Puedo apuntarme yo sólo?'  %}
{% set answer = [
    'Aunque el curso está diseñado para impartirse en empresas a grupos de hasta 16 personas
    también ofrecemos cursos en abierto donde cualquiera puede apuntarse.',
    '<a href="#landing">Inscríbete</a> y te informaremos de los próximos cursos cerca de ti.'
] %}