{% extends "components/block_faq.html.twig" %}

{% set question = '¿Puedo apuntarme yo sólo?'  %}
{% set answer = [
    'El curso está diseñado para impartirse en empresas.',
    'También ofrecemos cursos en abierto donde cualquiera puede apuntarse.',
    '<a href="#landing">Inscríbete</a> y te informaremos de los próximos cursos cerca de ti.'
] %}