{% extends "components/block_faq.html.twig" %}

{% set question = '¿Cómo se desarrolla el curso?'  %}
{% set answer = [
    'El curso se compone de <a href="#training-content-timeline">varios bloques</a>. Cada bloque
    empieza con una introducción teórica. Le sigue un ejercicio práctico realizado en parejas
    donde vamos dando feedback constantemente. El bloque se termina con un debate de grupo donde
    los participantes comparten lo aprendido y tenemos discusiones todos juntos.'
] %}