{% extends "components/block_faq.html.twig" %}

{% set question = '¿Cómo se desarrolla el curso?'  %}
{% set answer = [
    'El curso se compone de <a href="#training-content-timeline">varios bloques</a> de dos horas.',
    'Cada bloque empieza con una breve introducción teórica.',
    'Le sigue un ejercicio donde se pone en práctica lo visto en la parte teórica y vamos dando feedback constantemente.',
    'El bloque termina con un debate de grupo, donde los participantes comparten lo aprendido y tenemos discusiones todos juntos.'
] %}