<section class="card">
  <h2 class="text-center tab-header">Tdd es...</h2>
  <div class="options" id="whatIsTdd" data-answer="3">
    <button class="options__option">
      <span class="options__number">1</span>
      <span>Es escribir el test primero.</span>
    </button>
    <button class="options__option">
      <span class="options__number">2</span>
      <span>Test drivement developer.</span>
    </button>
    <button class="options__option">
      <span class="options__number">3</span>
      <span>Es una metodología de desarrollo dirigido por tests.</span>
    </button>
    <button class="options__option">
      <span class="options__number">4</span>
      <span>Es un cuento para niños.</span>
    </button>
  </div>

  <%- include('./answer-alert', {
    text: `TDD o Test-Driven Development (desarrollo dirigido por tests) es una práctica de programación que consiste en
    escribir primero las pruebas (generalmente unitarias), después escribir el código fuente que pase la prueba
    satisfactoriamente y, por último, refactorizar el código escrito.`
  }) %>
</section>
