<div class="col-sm-4">
    <div class="pricing-v4 {% block class %}{% endblock %}">
        <div class="pricing-v4-head text-center">
            <i class="icon-custom icon-color-light rounded-x icon-line {% block icon %}{% endblock %}"></i>
            <h2 class="heading-md">{% block title %}{% endblock %}</h2>
            <p>{% block summary %}{% endblock %}</p>
        </div>
        <ul class="list-unstyled pricing-v4-content text-center">
            <li><span class="icon-hourglass"></span> {% block duration %}{% endblock %}</li>
            <li><span class="icon-people"></span> {% block people %}{% endblock %}</li>
            <li><span class="icon-location-pin"></span> {% block location %}{% endblock %}</li>
        </ul>
        <div class="pricing-v4-footer page-scroll">
            <a href="{% block link %}{% endblock %}" class="btn-u btn-block text-center" onclick="moreInfo('{% block moreInfo %}{% endblock %}')">Más información</a>
        </div>
    </div>
</div>