<div class="col-md-6">
    <ul class="timeline-v2">
        {% for block in content %}
            <li class="equal-height-columns">
                <div class="cbp_tmtime equal-height-column" style="height: 162px;">
                    {% for title in block.titles %}
                        <span>{{ title }}</span>
                    {% endfor %}
                </div>
                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                <div class="cbp_tmlabel equal-height-column" style="height: 192px;">
                    {% for blockContent in block.blocks %}
                        <h2>{{ blockContent.title }}</h2>
                        <p></p>
                        <ul>
                            {% for part in blockContent.content %}
                                <li>{{ part }}</li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>