<div id="{{ id }}" class="bg-color-light">
    <div class="container content-sm">
        {{ include('components/block_header.html.twig', { name: 'Resumen en números' }) }}
        <div class="row">
            <!-- estadísticas a 15 de julio 2021 -->
            <div class="col-xs-4 content-boxes-v6">
                <i class="rounded-x icon-event counter-icon-big" title=""></i>
                <h2 class="title-v3-md text-uppercase text-bold margin-bottom-10">Formaciones impartidas</h2>
                <h1 class="counter color-corp">60</h1>
            </div>
            <div class="col-xs-4 content-boxes-v6">
                <i class="rounded-x icon-people counter-icon-big" title=""></i>
                <h2 class="title-v3-md text-uppercase text-bold  margin-bottom-10">Profesionales formados</h2>
                <h1 class="counter color-corp">822</h1>
            </div>
            <div class="col-xs-4 content-boxes-v6">
                <i class="rounded-x icon-briefcase counter-icon-big" title=""></i>
                <h2 class="title-v3-md text-uppercase text-bold margin-bottom-10">Empresas que han confiado</h2>
                <h1 class="counter color-corp">46</h1>
            </div>
        </div>
    </div><!--/end container-->
</div>
