<tr>
    <td data-header="Empresa" nowrap><span class="training-location">{{ company }}</span></td>
    <td data-header="Localidad" nowrap><span class="training-location">{{ location }}</span></td>
    <td data-header="Fechas" nowrap><strong>{{ dates }}</strong></td>
    <td data-header="Descripción"><button class="btn-u btn-lg btn-u-blue" type="button"><i class="fa"></i> No disponible</button></td>
</tr>
