<div id="landing" class="fullheight bg-color-light padding-top-60">
    <div class="container content-sm">
        <div class="row">
            <div class="col-md-7">
                <h1 id="main-title">{{ title }}</h1>
                <h2 id="slogan">{{ slogan }}</h2>
            </div>
            <div id="tdd-contact" class="col-md-5">
                <form id="contact-form" class="sky-form landing-box" method="post" action="#">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group text-center">
                                <h3 class="main-color1">TE INFORMAMOS SIN COMPROMISO</h3>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="input">
                                    <i class="icon-prepend fa fa-user"></i>
                                    <input class="form-control" id="name" name="name" placeholder="Nombre y apellidos" required>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="input">
                                    <i class="icon-prepend fa fa-envelope"></i>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div id="training-type-row" class="row">
                                    <div class="col-xs-6">
                                        <label class="radio"><input type="radio" name="trainingType" value="in-company" checked=""><i class="rounded-x"></i>Para mi empresa</label>
                                    </div>
                                    <div class="col-xs-6">
                                        <label class="radio"><input type="radio" name="trainingType" value="open-training"><i class="rounded-x"></i>Para mí</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="input">
                                    <i class="icon-prepend fa fa-industry"></i>
                                    <input class="form-control" id="numEmployees" name="numEmployees" placeholder="Número de programadores en mi empresa" required>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12" style="display: none;">
                            <div class="form-group">
                                <label class="input">
                                    <i class="icon-prepend fa fa-map-marker"></i>
                                    <input class="form-control" id="location" name="location" placeholder="Localidad donde vives">
                                </label>
                            </div>
                        </div>

                        <div class="g-recaptcha" data-sitekey="6LfCAJQUAAAAAKps9ZjFFpOh-0bSVu-2igwXu1lW" data-callback="trainingCaptchaCompleted" data-size="invisible"></div>
                        <div class="col-md-12">
                            <div class="form-group margin-bottom-5">
                                <button class="btn btn-primary btn-block">PEDIR INFORMACIÓN</button>
                                <div class="small">
                                    <small>
                                        This site is protected by reCAPTCHA and the Google
                                        <a href="https://policies.google.com/privacy" target="_blank">Privacy Policy</a> and
                                        <a href="https://policies.google.com/terms" target="_blank">Terms of Service</a> apply.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="gracias-contacto-tdd" class="col-md-5">
                <div class="landing-box">
                    <div id="testimonials-3" class="slide testimonials testimonials-v1 testimonials-bg-dark">
                        <div class="item">
                            <p class="rounded-2x">Muchas gracias por ponerte en contacto con nosotros.<br>
                                Te contestaremos lo antes posible.</p>
                            {{ include('components/jordi_and_luis_thanks.html.twig') }}
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block training_summary %}{% endblock %}

    {% block testimonials %}{% endblock %}
</div>
