<div id="landing" class="fullheight bg-color-light padding-top-60">
    <div class="container content-sm">
        <div class="row">
            <div class="col-md-7">
                <h1 id="main-title">{{ title }}</h1>
                <h2 id="slogan">{{ slogan }}</h2>
            </div>
            <div id="tdd-contact" class="col-md-5">
                <form id="contact-form" class="sky-form landing-box" method="post" action="#">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group text-center">
                                <h3 class="main-color1">TE INFORMAMOS SIN COMPROMISO</h3>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="input">
                                    <i class="icon-prepend fa fa-user"></i>
                                    <input class="form-control" id="name" name="name" placeholder="Nombre y apellidos" required>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="input">
                                    <i class="icon-prepend fa fa-envelope"></i>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div id="training-type-row" class="row">
                                    <div class="col-xs-6">
                                        <label class="radio"><input type="radio" name="trainingType" value="in-company" checked=""><i class="rounded-x"></i>Para mi empresa</label>
                                    </div>
                                    <div class="col-xs-6">
                                        <label class="radio"><input type="radio" name="trainingType" value="open-training"><i class="rounded-x"></i>Para mi</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="input">
                                    <i class="icon-prepend fa fa-industry"></i>
                                    <input class="form-control" id="numEmployees" name="numEmployees" placeholder="Número de programadores en mi empresa" required>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12" style="display: none;">
                            <div class="form-group">
                                <label class="input">
                                    <i class="icon-prepend fa fa-map-marker"></i>
                                    <input class="form-control" id="location" name="location" placeholder="Localidad donde vives">
                                </label>
                            </div>
                        </div>

                        <div class="g-recaptcha" data-sitekey="6LfCAJQUAAAAAKps9ZjFFpOh-0bSVu-2igwXu1lW" data-callback="trainingCaptchaCompleted" data-size="invisible"></div>
                        <div class="col-md-12">
                            <div class="form-group margin-bottom-5">
                                <button class="btn btn-primary btn-block">PEDIR INFORMACIÓN</button>
                                <div class="small">
                                    <small>
                                        This site is protected by reCAPTCHA and the Google
                                        <a href="https://policies.google.com/privacy" target="_blank">Privacy Policy</a> and
                                        <a href="https://policies.google.com/terms" target="_blank">Terms of Service</a> apply.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="gracias-contacto-tdd" class="col-md-5">
                <div class="landing-box">
                    <div id="testimonials-3" class="slide testimonials testimonials-v1 testimonials-bg-dark">
                        <div class="item">
                            <p class="rounded-2x">Muchas gracias por ponerte en contacto con nosotros.<br>
                                Te contestaremos lo antes posible.</p>
                            <div class="testimonial-info">
                                <img class="rounded-2x" src="/img/about-us/jordi.jpeg" alt="">
                                <img class="rounded-2x" src="/img/about-us/luis.jpg" alt="">
                                <span class="testimonial-author">
												Jordi y Luis
											</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="summary">
        <div class="container content-sm">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-xs-2 summary-icon">
                            <i class="fa fa-hourglass-o fa-3x"></i>
                        </div>
                        <div class="col-xs-10">
                            <h2>Duración</h2>
                            <p>16 horas (2 días o 4 medios días)</p>
                        </div>
                        <div class="col-xs-2 summary-icon">
                            <i class="fa fa-suitcase fa-3x"></i>
                        </div>
                        <div class="col-xs-10">
                            <h2>Formato</h2>
                            <p>Curso eminentemente práctico</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-xs-2 summary-icon">
                            <i class="fa fa-code fa-3x"></i>
                        </div>
                        <div class="col-xs-10">
                            <h2>Lenguaje</h2>
                            <p>Java, PHP, C#, Python, JS, C++, ...</p>
                        </div>
                        <div class="col-xs-2 summary-icon">
                            <i class="fa fa-map-marker fa-3x"></i>
                        </div>
                        <div class="col-xs-10">
                            <h2>Ubicación</h2>
                            <p>En tus oficinas o en remoto</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-xs-2 summary-icon">
                            <i class="fa fa-users fa-3x"></i>
                        </div>
                        <div class="col-xs-10">
                            <h2>Número de plazas</h2>
                            <p>Entre 4 y 14 participantes</p>
                        </div>
                        <div class="col-xs-2 summary-icon">
                            <i class="fa fa-euro fa-3x"></i>
                        </div>
                        <div class="col-xs-10">
                            <h2>Precio</h2>
                            <p>Consultar, bonificable por FUNDAE</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block testimonials %}{% endblock %}
</div>
