<div id="methodology" class="bg-color-light">
    <div class="container content-sm">
        {{ include('components/extended_block_header.html.twig', {
            name: 'Metodología',
            summary: '<div class="text-justify">
                <p>Hoy en día cualquiera puede leer un libro o ver un vídeo, pero lo realmente difícil es poner en práctica lo aprendido. Por eso, en nuestro curso, queremos que los alumnos pasen la mayor parte del tiempo programando y no escuchando teoría.</p>

                <p>En busca de la calidad y satisfacción de todos los asistentes, creemos que es indispensable ser dos profesores senior. Esto nos permite tener la disponibilidad suficiente para ayudar de forma personalizada mientras los alumnos programan.</p>

                <p>Perseguimos maximizar el aprendizaje. Para ello creamos un ambiente dinámico (Flow) gracias a trabajar en parejas, ejercicios cortos, resolver las dudas rápido, la discusión de forma conjunta de las diferentes soluciones y un trato muy cercano.</p>

                <p>Por nuestra experiencia como profesores, desarrolladores y emprendedores, comprendemos las problemáticas del desarrollo de software. Haber impartido más de 60 cursos a más de 800 alumnos nos permite conocer las necesidades de los alumnos y cuidar cada detalle de la formación.</p>

                <p>Todo lo anterior garantiza nuestro objetivo de que quedes satisfecho, adquieras las habilidades necesarias para transformar tu forma de desarrollar y empieces a escribir código sostenible.</p>
            </div>'
        }) }}


        <div class="row equal-height margin-top-60">
            {{ include('/components:about_us_panel.html.twig', {
                'name': 'Luis Rovirosa',
                'image': '/img/about-us/luis.jpg',
                'linkedIn' : 'http://linkedin.com/in/luisrovirosa/',
                'twitter' : 'http://twitter.com/luisrovirosa',
                'gitHub' : 'http://github.com/luisrovirosa',
                }) }}
            {{ include('/components:about_us_panel.html.twig', {
                'name': 'Jordi Anguela',
                'image': '/img/about-us/jordi.jpeg',
                'linkedIn' : 'http://linkedin.com/in/jordianguela/',
                'twitter' : 'http://twitter.com/jordianguela',
                'gitHub' : 'http://github.com/jordianguela',
                }) }}
            {{ include('/components:about_us_panel.html.twig', {
                'name': 'Hugo Chinchilla',
                'image': '/img/about-us/hugo.jpeg',
                'linkedIn' : 'http://linkedin.com/in/hugo-chinchilla-carbonell/',
                'twitter' : 'http://twitter.com/hchinchilla_',
                'gitHub' : 'http://github.com/hugochinchilla',
                }) }}
        </div>
    </div>
</div>
