<div id="{{ id }}" class="bg-color-light">
    <div class="container content-sm">
        {{ include('components/block_header.html.twig', { name: title }) }}
        <div class="row">
            <div class="text-center">
                <h2>No hay cursos planificados.</h2>
            </div>
        </div>
    </div>
</div>