<div class="testimonials-info rounded-2x">
    <img class="rounded-x" src="{{ profileImage }}" alt="">
    <div class="testimonials-desc">
        {% if (quote | length <= 110) %}
            <br>
        {% endif %}
        <p>{{ quote }}</p>
        <span><strong>{{ name }}</strong>{% if role|length > 0 %}, {% endif %}{{ role }}</span>
    </div>
</div>
