<div class="testimonials-info rounded-2x">
    <img class="rounded-x" src="{{ profileImage }}" alt="">
    <div class="testimonials-desc">
        <p>{{ quote }}</p>
        <span><strong>{{ name }}</strong>, {{ role }}</span>
    </div>
</div>
