<div class="testimonials-info rounded-2x">
    <img class="rounded-x" src="/img/testimonials/img3.jpg" alt="">
    <div class="testimonials-desc">
        <p>Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at rhoncus.</p>
        <span><strong>Alice Williams</strong>, Web Developer en My Company</span>
    </div>
</div>
