<i class="fa-solid fa-bars header__icon" id="js-menu-button"></i>
<nav class="navbar" id="js-menu">
  <ul class="navbar__list">
    <li class="navbar__item">
      <a href="#values">Valores</a>
    </li>
    <li class="navbar__item">
      <a>Desarrollo</a>
    </li>
    <li class="navbar__item navbar__item--dropdown">
      <div class="dropdown">
        <a>Cursos</a>
        <ul class="options">
          <li><a href="/working-with-legacy-code.html">Legacy</a></li>
          <li><a href="/tdd.html">TDD</a></li>
          <li><a href="/docker.html">Docker</a></li>
        </ul>
      </div>
    </li>
    <li class="navbar__item">
      <a href="#team">Equipo</a>
    </li>
    <li class="navbar__item">
      <a href="#contact">Contacto</a>
    </li>
  </ul>
</nav>
