
<div class="container">
  <h2 class="title">Cursos disponibles</h2>
  <div class="section__grid section__grid--trainings trainings">
    <%- include('../../partials/cards/card-large-course', {
      title: 'Working with Legacy Code',
      description: 'Desacopla y testea para reducir los costes de desarrollo y mantimiento.',
      imageUrl: '/img/legacy-code.svg',
      buttonUrl: '/curso-legacy-code.html',
      list: [
        'Identifica los problemas en el código',
        'Aprende a desacoplar las dependencias',
        'Añade tests para cambiar el software con seguridad',
        'Estrategias para transformar tu monolito'
      ]
    }) %>

    <%- include('../../partials/cards/card-large-course', {
      title: 'Test-driven development',
      description: 'Desarrolla con pasos seguros, con calidad y de forma simple.',
      imageUrl: '/img/tdd-logo.svg',
      buttonUrl: '/curso-tdd.html',
      list: [
        'Aprende el ciclo de desarrollo de TDD',
        'Utiliza dobles de pruebas para aislar las diferentes capas',
        'Estrategias para testear código legado',
        'Aprende buenas prácticas e identifica problemas en los tests'
      ]
    }) %>

    <%- include('../../partials/cards/card-large-course', {
      title: 'Refactoring a Patrones',
      description: 'Mejora el diseño de tu código usando patrones de diseño.',
      imageUrl: '/img/refactoring-to-patterns.svg',
      buttonUrl: '/curso-refactoring-a-patrones.html',
      list: [
        'Aprende buenas soluciones a problemas recurrentes',
        'Crea código más flexible, mantenible y reutilizable',
        'Refactoriza un código en mal estado aplicando patrones evitando la sobreingeniería',
        'Saca partido al IDE para que el refactor se más sencillo',
      ]
    }) %>

    <%- include('../../partials/cards/card-large-course', {
      title: 'Docker',
      description: 'Trata tu infraestructura como código gracias a Docker.',
      imageUrl: '/img/moby-logo.svg',
      buttonUrl: '/curso-docker.html',
      height: 130,
      list: [
        'Elimina el famoso \'en mi máquina funciona\'',
        'Habilitita que todo tu equipo pueda construir y mantener las imágenes',
        'Evita los problemas de seguridad al crear imágenes',
        'Mejora tus procesos de Integración Continua automatizando el despliegue'
      ]
    }) %>
  </div>
</div>
