<section class="clients block block--white">
  <div class="section__wrapper container">
    <h2 class="title">Empresas que ya han confiado en nosotros</h2>
    <div class="clients__grid section__max">
      <div class="clients__item">
        <img
                width="130"
                height="90"
                src="./img/clients/clarity.png"
                class="clients--clarity"
                alt="Clarity logo"
                loading="lazy"
        />
      </div>
      <div class="clients__item">
        <img
          width="130"
          height="90"
          src="./img/clients/habitissimo-small.png"
          alt="Habitissimo logo"
          loading="lazy"
        />
      </div>

      <div class="clients__item">
        <img
                width="130"
                height="90"
                src="./img/clients/roiback.svg"
                alt="Roiback logo"
                loading="lazy"
        />
      </div>

      <div class="clients__item">
        <img
                width="130"
                height="90"
                src="./img/clients/rideo-small.png"
                alt="Rideo software logo"
                loading="lazy"
        />
      </div>

      <div class="clients__item">
        <img
          width="130"
          height="90"
          src="./img/clients/generalelectric.png"
          alt="General electric logo"
          class="clients--ge"
          loading="lazy"
        />
      </div>


      <div class="clients__item">
        <img
                width="130"
                height="90"
                src="./img/clients/vicomtech.svg"
                alt="Vicomtech logo"
                loading="lazy"
        />
      </div>

      <div class="clients__item">
        <img
          width="130"
          height="90"
          src="./img/clients/globalo2.png"
          alt="GlobalO2 logo"
          loading="lazy"
        />
      </div>

      <div class="clients__item">
        <img
          width="130"
          height="90"
          src="./img/clients/hotelbeds.svg"
          alt="Hotelbeds logo"
          loading="lazy"
        />
      </div>

      <div class="clients__item">
        <img
          width="130"
          height="90"
          class="clients--iram"
          src="./img/clients/iram.svg"
          alt="Iram Logo"
          loading="lazy"
        />
      </div>

      <div class="clients__item">
        <img
          width="130"
          height="90"
          src="./img/clients/tip-speed.webp"
          alt="Tip speed"
          loading="lazy"
        />
      </div>

      <div class="clients__item">
        <img
                width="130"
                height="90"
                src="./img/clients/travelgate.svg"
                alt="Travelgate logo"
                loading="lazy"
        />
      </div>

      <div class="clients__item">
        <img
          width="130"
          height="90"
          src="./img/clients/airzone.jpg"
          alt="Airzone logo"
          loading="lazy"
        />
      </div>

    </div>
  </div>
</section>
