<div class="container">
  <h2 class="title">¿Qué podemos hacer por ti?</h2>

  <p class="text-center text--summary text-dark-grey">
      Resolvemos <retos></retos> complejos de forma confiable.
  </p>
  <p class="text-center text--summary text-dark-grey">
      Entregamos valor rápidamente y de forma sostenible.
  </p>

  <div class="section__grid section__max">
    <% var values = [
        {
          title: "Programación de calidad",
          description: "Desarrollamos tu producto autónomamente o junto a tu equipo.",
        },
        {
          title: "Expertos en legacy",
          description: "Recuperamos el control de tu producto actualizando y modernizando el código.",
        },
        {
          title: "Testing",
          description: "Reducimos incidencias y costes definiendo y ejecutandos una estrategia de testing.",
        },
        {
          title: "DevEx",
          description: "Mejoramos eficiencia y la mentalidad de tu equipo.",
        },
        {
          title: "Infrastructura y cloud",
          description: "Dockerizamos el stack, creamos entornos de CI/CD y desplegamos en la nube con kubernetes.",
        },
        {
          title: "Data engineering",
          description: "Transformamos investigaciones en productos.",
        }
    ]; %>

      <% values.forEach(function(value){ %>
        <%- include('../../partials/cards/card', {
              icon: value.icon,
              title: value.title,
              description: value.description
            }) %>
        <% });
      %>

  </div>

  <p class="text-center text--summary text-dark-grey">
      <br/>
    Explicanos tus retos y te ayudamos a resolverlos.
  </p>

  <div class="button__wrapper">
    <a href="#contactForm" class="button button--primary" type="button">
      Contactar
    </a>
  </div>
</div>
