<div class="container">
  <h2 class="title">¿Qué podemos hacer por ti?</h2>

  <p class="text-center text--summary text-dark-grey">
      Somos especialistas en entregar valor de manera rápida y con un ritmo sostenible.
  </p>
  <p class="text-center text--summary text-dark-grey">
      Estas son algunas de las formas en las que ayudamos a nuestros clientes:
  </p>

  <div class="section__grid section__max">
    <% var values = [
        {
          title: "Programación",
          description: "Desarrollar tu producto en outsourcing o junto a tu equipo.",
        },
        {
          title: "Expertos en legacy",
          description: "Arreglar el código que aporta valor y hay miedo de cambiar, actualizar versiones del lenguaje y framework.",
        },
        {
          title: "Testing",
          description: "Definir y ejecutar una estrategia de testing que reduzca incidencias y costes.",
        },
        {
          title: "DevEx",
          description: "Mejorar y acelerar la experiencia de desarrollo y la mentalidad de simplificacion.",
        },
        {
          title: "Infrastructura y cloud",
          description: "Dockerizar y crear de una pipeline de test y despliegue en la nube con kubernetes.",
        },
        {
          title: "Data engineering",
          description: "Ayudar a investigadores a transformar sus resultados en productos.",
        }
    ]; %>

      <% values.forEach(function(value){ %>
        <%- include('../../partials/cards/card', {
              icon: value.icon,
              title: value.title,
              description: value.description
            }) %>
        <% });
      %>

  </div>

  <p class="text-center text--summary text-dark-grey">
      <br/>
    Habla con nosotros para explicarnos tus retos y te ayudaremos a resolverlos.
  </p>

  <div class="button__wrapper">
    <a href="#contactForm" class="button button--primary" type="button">
      Contactar
    </a>
  </div>
</div>
