
<div class="container">
  <h2 class="title">Valores y metodología</h2>
  <div class="section__grid section__max">
    <% var values = [
      {
        icon: 'icon-droplet',
        title: 'Simplicidad',
        description: 'Lo bueno, si simple, dos veces bueno.'
      },
      {
        icon: 'icon-bubbles2',
        title: 'Respeto',
        description: 'El respeto a los demás y a uno mismo es la base de todo.'
      },
      {
        icon: 'icon-equalizer',
        title: 'Pragmatismo',
        description: 'Huimos de los dogmas buscando el equilibrio entre el coste y beneficio.'
      },
      {
        icon: 'icon-spinner4',
        title: 'Lean',
        description: 'Reducimos el desperdicio con ciclos cortos que minimizan el riesgo.'
      },
      {
        icon: 'icon-hammer',
        title: 'eXtreme Programming',
        description: 'Aplicamos TDD, Pair programming, refactoring, integración continua...'
      },
      {
        icon: 'icon-heart',
        title: 'Software crafters',
        description: 'Amamos lo que hacemos y compartimos lo aprendido.'
      }
    ]; %>

      <% values.forEach(function(value){ %>
        <%- include('../../partials/cards/card', {
              icon: value.icon,
              title: value.title,
              description: value.description
            }) %>
        <% });
      %>

  </div>
</div>
<div class="button__wrapper">
  <a href="#contactForm" class="button button--primary" type="button">
    Contactar
  </a>
</div>
