<div class="container">
  <h2 class="text-center title">
    <t>¿Qué contiene este curso?</t>
  </h2>

  <div class="calendar">
      <article class="course-calendar">
        <div class="course-calendar__day">
          <p class="small-title"><t>Bloque 1</t></p>
        </div>
        <div class="course-calendar__list">
          <p class="small-title">
            <t>Introducción al testing automático</t>
          </p>
          <ul class="course-calendar__items">
            <li class="text-dark-grey">
              <t>¿Qué es testing?</t>
            </li>
            <li class="text-dark-grey">
              <t>¿Por qué escribimos tests?</t>
            </li>
            <li class="text-dark-grey">
              <t>Introducción a la automatización de procesos. Cómo grabar y ejecutar los pasos manuales.</t>
            </li>
          </ul>

          <p class="small-title course-calendar__title">
            <t>Mejorando la calidad de nuestros tests</t>
          </p>
          <ul class="course-calendar__items">

              <li class="text-dark-grey">
                <t>Desacoplarnos del markup utilizando selectores de accesibilidad con Testing-library.</t>
              </li>
              <li class="text-dark-grey">
                <t>Definir y usar comandos custom en Cypress.</t>
              </li>
              <li class="text-dark-grey">
                <t>Diferentes tipos de validaciones.</t>
              </li>
              <li class="text-dark-grey">
                <t>Reducir la duplicidad con los hooks beforeEach, afterEach, before y after.</t>
              </li>
          </ul>

        </div>
      </article>
      <article class="course-calendar">
        <div class="course-calendar__day">
          <p class="small-title"><t>Bloque 2</t></p>
        </div>
        <div class="course-calendar__list">
          <p class="small-title course-calendar__title">
            <t>Cross-Browser testing</t>
          </p>
          <ul class="course-calendar__items">
            <li class="text-dark-grey">
              <t>Beneficios de probar en diferentes navegadores y dispositivos.</t>
            </li>
            <li class="text-dark-grey">
              <t>Cómo ejecutar los tests en diferentes navegadores.</t>
            </li>
            <li class="text-dark-grey">
              <t>Cómo simular diferentes resoluciones y dispositivos.</t>
            </li>
          </ul>

          <p class="small-title">Snapshot testing</p>
          <ul class="course-calendar__items">
            <li class="text-dark-grey"><t>¿Qué es y para qué se utiliza?</t></li>
          </ul>

          <p class="small-title"><t>Dobles de pruebas</t></p>
          <ul class="course-calendar__items">
            <li class="text-dark-grey"><t>Qué son y para qué sirven los Stubs y Spies</t></li>
            <li class="text-dark-grey"><t>Cómo y cuándo usarlos</t></li>
            <li class="text-dark-grey"><t>Particularidades en Cypress</t></li>
          </ul>
        </div>
      </article>
      <article class="course-calendar">
        <div class="course-calendar__day">
          <p class="small-title"><t>Bloque 3</t></p>
        </div>
        <div class="course-calendar__list">
          <p class="small-title"><t>Behavior Driven Development</t></p>
          <ul class="course-calendar__items">
            <li class="text-dark-grey">
             <t>BDD y la importancia del uso de un lenguaje común.</t></li>
            <li class="text-dark-grey">
              <t>Historias de usuario y criterios de aceptación.</t></li>
            <li class="text-dark-grey"><t>Introducción a Gherkin y Cucumber</t></li>
            <li class="text-dark-grey"><t>Generar tests parametrizados usando los escenarios.</t></li>
          </ul>

          <p class="small-title"><t>Test unitarios</t></p>
          <ul class="course-calendar__items">
            <li class="text-dark-grey">
              <t>Propiedades de los tests unitarios.</t>
            </li>
            <li class="text-dark-grey"><t>Escribir buenos tests con Jest.</t></li>
          </ul>
        </div>
      </article>
  </div>

  <div class="button__wrapper">
    <a
      class="button button--primary"
      href="#contactForm"
      data-trackevent="contact_us.show_form.course_index"
    >
      <t>¡Me interesa!</t>
    </a>
  </div>
</div>

