<div class="container">

  <h2 class="text-center title">Exploraremos los problemas más conocidos a la hora de testear una aplicación web</h2>

  <p class="text-center text-dark-grey text--summary">
    Aprenderemos a utilizar herramientas y técnicas para abordar estos problemas y garantizar la calidad de la aplicación.
  </p>

  <section class="videos">
    <article>
      <iframe src="https://www.youtube.com/embed/VGwQCT2rs2M" title="Cómo grabar y ejecutar los pasos manuales - Cypress - Curso Testing - QA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <p class="text-center">
        Cómo <strong>grabar y ejecutar </strong> los pasos manuales
      </p>
    </article>
    <article>
      <iframe src="https://www.youtube.com/embed/HcGKV_3MSSo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <p class="text-center">
        <strong>Introducción a BDD</strong> con Cucumber y Cypress
      </p>
    </article>
  </section>

  <div class="button__wrapper">
    <a class="button button--primary" href="#contactForm"
       data-trackevent="contact_us.show_form.course_value">Contactar</a>
  </div>
</div>
