<article class="container">
    <section class="question-wrapper question-wrapper--centered">
        <article class="question question--block question--green">
            <h3 class="small-title">
                <span>
                    <img src="./img/success-check.png" alt="success check icon"/>
                    <t>Este curso es para ti si:</t>
                </span>
            </h3>
            <section>
                <ul>
                    <li>
                        <t>Eres tester o desarrollador y haces pruebas manuales.</t>
                    </li>

                    <li>
                        <t>Deseas introducir buenas prácticas a tus tests.</t>
                    </li>

                    <li>
                        <t>Conoces el proceso de desarrollo y quieres ayudar a escribir mejores pruebas.</t>
                    </li>

                </ul>
            </section>
        </article>
    </section>
</article>
