<article class="container">
    <section class="question-wrapper question-wrapper--centered">
        <article class="question question--block question--green">
            <h3 class="small-title">
                <span>
                    <img src="./img/success-check.png" alt="success check icon"/>
                    Este curso es para ti si:
                </span>
            </h3>
            <section>
                <ul>
                    <li>
                        Eres tester o desarrollador y haces pruebas manuales.
                    </li>

                    <li>
                        Deseas introducir buenas prácticas a tus tests.
                    </li>

                    <li>
                        Conoces el proceso de desarrollo y quieres ayudar a escribir mejores pruebas.
                    </li>

                </ul>
            </section>
        </article>
    </section>
</article>
