<div class="carousel">
  <div class="glide" id="clients">

    <div class="glide__arrows">
      <p
        class="glide__arrow glide__arrow--left js-clients-arrow"
        data-glide-dir="<"
      >
        <i class="icon icon-circle-left"></i>
      </p>
    </div>

    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides slides">
        <li class="glide__slide">
          <div class="client__item">
            <img
              src="./img/clients/helvetia.png"
              alt="Helvetia logo"
            />
          </div>
        </li>

        <li class="glide__slide">
          <div class="client__item">
            <img
              src="./img/clients/hotelbeds.png"
              alt="Hotelbeds logo"
            />
          </div>
        </li>

        <li class="glide__slide">
          <div class="client__item">
            <img src="./img/clients/clarity.svg" alt="Clarity logo" />
          </div>
        </li>

        <li class="glide__slide">
          <div class="client__item">
            <img
              src="./img/clients/vicomtech.svg"
              alt="Vicomtech logo"
            />
          </div>
        </li>

        <li class="glide__slide">
          <div class="client__item">
            <img
              src="./img/clients/logitravel.png"
              alt="Logitravel logo"
            />
          </div>
        </li>

        <li class="glide__slide">
          <div class="client__item client__item--roiback">
            <img src="./img/clients/roiback.png" alt="Roiback logo" />
          </div>
        </li>

        <li class="glide__slide">
          <div class="client__item">
            <img src="./img/clients/zooplus.svg" alt="Zooplus logo" />
          </div>
        </li>
        <li class="glide__slide">
          <div class="client__item client__item--taiger">
            <img src="./img/clients/taiger.png" alt="Taiger logo" />
          </div>
        </li>

        <li class="glide__slide">
          <div class="client__item">
            <img
              src="./img/clients/habitissimo.png"
              alt="Habitissimo logo"
            />
          </div>
        </li>
      </ul>
    </div>

    <div class="glide__arrows">
      <p
        class="glide__arrow glide__arrow--right js-clients-arrow"
        data-glide-dir=">"
      >
        <i class="icon icon-circle-right"></i>
      </p>
    </div>

  </div>
</div>
