<div class="carousel">
  <div class="glide" id="clients">

    <div class="glide__arrows">
      <p
        class="glide__arrow glide__arrow--left js-clients-arrow"
        data-glide-dir="<"
      >
        <i class="icon icon-circle-left"></i>
      </p>
    </div>

    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides slides">
        <% clients.forEach(function(client){ %>
          <li class="glide__slide slide">
             <div class="client__item">
               <img
                 class="glide__slide-image"
                 src="<%= client.image %>"
                 alt="<%= client.name %> logo"
               />
             </div>
          </li>
        <% }); %>
      </ul>
    </div>

    <div class="glide__arrows">
      <p
        class="glide__arrow glide__arrow--right js-clients-arrow"
        data-glide-dir=">"
      >
        <i class="icon icon-circle-right"></i>
      </p>
    </div>

  </div>
</div>
