<div class="carousel">
  <div class="glide" id="opinion">

    <div class="glide__arrows">
      <p
        class="glide__arrow glide__arrow--left js-opinion-arrow"
        data-glide-dir="<"
      >
        <i class="icon icon-circle-left"></i>
      </p>
    </div>

    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        <li class="glide__slide">
          <div class="card card--opinion">
            <div class="card__header">
              <div class="card__image-wrapper">
                <img
                  src="/img/testimonials/francois.png"
                  alt="Avatar"
                  class="card__image card__image--rounded"
                />
              </div>
            </div>
            <div class="card__text card__text--left">
              <p>
                Un curso práctico basado en una filosofía sólida. El
                equipo salió con más ganas de trabajar sobre un
                legacy. <br />Al día siguiente empezamos ya a mejorar
                nuestras prácticas. ¡Exitazo!
              </p>
              <p class="text-bold card__name">François Delaunay</p>
              <p class="card__profession">GE Renewable Energy</p>
            </div>
          </div>
        </li>
        <li class="glide__slide">
          <div class="card card--opinion">
            <div class="card__header">
              <div class="card__image-wrapper">
                <img
                  src="/img/testimonials/OriolTorne.png"
                  alt="Avatar"
                  class="card__image card__image--rounded"
                />
              </div>
            </div>
            <div class="card__text card__text--left">
              <p>
                El curso fue un punto de inflexión para atrevernos a
                hacer las cosas de otra forma: con más seguridad y más
                calidad.<br />Un año después del curso, hemos notado
                una mejoría importante en el código y las metodologías
                que aplicamos.
              </p>
              <p class="text-bold card__name">Oriol Torné</p>
              <p class="card__profession">Dev en Esblada Medical</p>
            </div>
          </div>
        </li>
        <li class="glide__slide">
          <div class="card card--opinion">
            <div class="card__header">
              <div class="card__image-wrapper">
                <img
                  src="/img/testimonials/logedo.jpg"
                  alt="Avatar"
                  class="card__image card__image--rounded"
                />
              </div>
            </div>
            <div class="card__text card__text--left">
              <p>
                Una formación imprescindible para enfrentarte a ese
                gran monstruo que es el legacy code.<br />
                Con formaciones así es imposible no apasionarse por
                nuestro trabajo.
              </p>
              <p class="text-bold card__name">Juan Carlos Logedo</p>
              <p class="card__profession">Sr. Dev en Hotelbeds</p>
            </div>
          </div>
        </li>
        <li class="glide__slide">
          <div class="card card--opinion">
            <div class="card__header">
              <div class="card__image-wrapper">
                <img
                  src="/img/testimonials/anonimo.jpg"
                  alt="Avatar"
                  class="card__image card__image--rounded"
                />
              </div>
            </div>
            <div class="card__text card__text--left">
              <p>
                Contratamos a Codium porque queríamos sus pegatinas,
                ¡y al final descubrimos que el curso era muy bueno!
              </p>
              <p class="text-bold card__name">Anónimo</p>
            </div>
          </div>
        </li>
        <li class="glide__slide">
          <div class="card card--opinion">
            <div class="card__header">
              <div class="card__image-wrapper">
                <img
                  src="/img/testimonials/alberto-de-la-cruz.jpg"
                  alt="Avatar"
                  class="card__image card__image--rounded"
                />
              </div>
            </div>
            <div class="card__text card__text--left">
              <p>
                ¡Salimos con las pilas cargadas!. Trabajar con Legacy
                no es fácil pero gracias a este curso ahora el equipo
                comparte herramientas, vocabulario y otra perspectiva
                de cara a enfrentarse a él. Estamos encantados.
              </p>
              <p class="text-bold card__name">
                Alberto de la Cruz Grijalvo
              </p>
              <p class="card__profession">
                Allroad en Alea Soluciones
              </p>
            </div>
          </div>
        </li>
        <li class="glide__slide">
          <div>
            <div class="card card--opinion">
              <div class="card__header">
                <div class="card__image-wrapper">
                  <img
                    src="/img/testimonials/joseIgnacioDominguez.jpg"
                    alt="Avatar"
                    class="card__image card__image--rounded"
                  />
                </div>
              </div>
              <div class="card__text card__text--left">
                <p>
                  Ha sido una oportunidad magnífica para aprender,
                  trabajar como un equipo multidisciplinar, compartir
                  y validar ideas. Es muy práctico y se favorecen las
                  conversaciones sobre distintas soluciones a un mismo
                  problema. ¡Salimos con ganas de mejorar nuestro
                  código!
                </p>
                <p class="text-bold card__name">
                  Jose Ignacio Domínguez
                </p>
                <p class="card__profession">
                  Staff Software Engineer en Clarity AI
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="glide__arrows">
      <p
        class="glide__arrow glide__arrow--right js-opinion-arrow"
        data-glide-dir=">"
      >
        <i class="icon icon-circle-right"></i>
      </p>
    </div>

    <div class="glide__bullets" data-glide-el="controls[nav]">
      <span class="glide__bullet" data-glide-dir="=0"></span>
      <span class="glide__bullet" data-glide-dir="=1"></span>
      <span class="glide__bullet" data-glide-dir="=2"></span>
      <span class="glide__bullet" data-glide-dir="=3"></span>
      <span class="glide__bullet" data-glide-dir="=4"></span>
      <span class="glide__bullet" data-glide-dir="=5"></span>
    </div>
  </div>
</div>
