<div class="container">
    <h1>Logos de Codium</h1>
    <div>
        <h2>Logo con fondo transparente para fondo claro</h2>
        <div class="row bg-color-light text-center">
            <div class="col-md-4 logo-codium">
                <h3>Codium formato rectangular</h3>
                <a href="/img/resources/codium-brand-rectangle-black.svg">
                    <img src="/img/resources/codium-brand-rectangle-black.svg" class="img-responsive" alt="Brand black"/>
                </a>
            </div>
            <div class="col-md-4 logo-codium">
                <h3>Codium formato cuadrado</h3>
                <a href="/img/resources/codium-all-square-black.svg">
                    <img src="/img/resources/codium-all-square-black.svg" class="img-responsive" alt="Icon + brand black"/>
                </a>
            </div>
            <div class="col-md-4 logo-codium">
                <h3>Icono Codium</h3>
                <a href="/img/resources/codium-icon-black.svg">
                    <img src="/img/resources/codium-icon-black.svg" class="img-responsive"/>
                </a>
            </div>
        </div>
    </div>
    <div>
        <h2>Logo con fondo transparente para fondo oscuro</h2>
        <div class="row bg-color-darker text-center">
            <div class="col-md-4 logo-codium">
                <h3>Codium formato rectangular</h3>
                <a href="/img/resources/codium-brand-rectangle-white.svg">
                    <img src="/img/resources/codium-brand-rectangle-white.svg" class="img-responsive"/>
                </a>
            </div>
            <div class="col-md-4 logo-codium">
                <h3>Codium formato cuadrado</h3>
                <a href="/img/resources/codium-all-square-white.svg">
                    <img src="/img/resources/codium-all-square-white.svg" class="img-responsive"/>
                </a>
            </div>
            <div class="col-md-4 logo-codium">
                <h3>Icono Codium</h3>
                <a href="/img/resources/codium-icon-white.svg">
                    <img src="/img/resources/codium-icon-white.svg" class="img-responsive"/>
                </a>
            </div>
        </div>
    </div>

    <h1>Descripción conjunta de Luis y Jordi</h1>
    Luis (<a href="https://twitter.com/luisrovirosa">@luisrovirosa</a>) y Jordi (<a href="https://twitter.com/jordianguela">@jordianguela</a>) son desarrolladores de aplicaciones web y formadores desde hace más de 10 años. Trabajan habitualmente con startups y grandes empresas ayudando a transformar
    sus equipos de programación. En su día a día dedican buena parte de su tiempo al desarrollo y también ayudan a las empresas a simplificar y priorizar sus productos.

    En 2017 montaron Codium (<a href="https://www.codium.team">https://www.codium.team</a>), una empresa especializada en formación y acompañamiento de empresas de desarrollo donde imparten formaciones de TDD, Clean Code, Patrones de diseño y cómo trabajar con Legacy code.

    <h1>Fotos de Luis y Jordi</h1>
    <a href="https://pbs.twimg.com/media/DQ3KEJKW4AAvjrx.jpg" target="_blank">
        <img class="big-img thumbnail img-responsive" src="https://pbs.twimg.com/media/DQ3KEJKW4AAvjrx.jpg">
    </a>
    <a href="/img/resources/luis_and_jordi_scbcn2017.jpg" target="_blank">
        <img class="big-img thumbnail img-responsive" src="/img/resources/luis_and_jordi_scbcn2017.jpg">
    </a>
    <a href="/img/resources/luis_and_jordi_scpamplona2018.jpg" target="_blank">
        <img class="big-img thumbnail img-responsive" src="/img/resources/luis_and_jordi_scpamplona2018.jpg">
    </a>

    <h1>Fotos de Luis</h1>
    WIP

    <h1>Fotos de Jordi</h1>
    <a href="/img/resources/jordi1.jpeg" target="_blank">
        <img class="big-img thumbnail img-responsive" src="/img/resources/jordi1.jpeg">
    </a>

</div>
