<div class="alert alert--error hidden" id="js-show-error">
  <div class="alert__content">
    <i class="icon icon-warning"></i>
    <p><t>Ha ocurrido un error, por favor inténtelo de nuevo o envíe un mail a <strong>info@codium.team</strong>.</t></p>
  </div>
</div>
