<div class="card card--success hidden" id="js-show-success">
  <div class="success-check">
    <i class="icon icon-check-circle"></i>
  </div>
  <h2>Muchas gracias por ponerte en contacto con nosotros.</h2>
  <p>Te contestaremos lo antes posible.</p>
</div>
