<div class="card card--success hidden" id="js-show-success">
  <div class="success-check">
    <i class="icon icon-check-circle"></i>
  </div>
  <h2><t>Muchas gracias por ponerte en contacto con nosotros.</t></h2>
  <p><t>Te contestaremos lo antes posible.</t></p>
</div>
