<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.codium.team/">
<meta property="twitter:title" content="Codium Team">
<meta property="twitter:description"
  content="Formamos a equipos de programaci칩n. Desarrollamos software de calidad. Estamos especializados en Clean code, TDD y patrones de dise침o.">
<meta property="twitter:image" content="http://www.codium.team/img/codium-black-200x46.png">

<meta property="og:type" content="website">
<meta property="og:url" content="https://www.codium.team/">
<meta property="og:title" content="Codium Team">
<meta property="og:description"
  content="Formamos a equipos de programaci칩n. Desarrollamos software de calidad. Estamos especializados en Clean code, TDD y patrones de dise침o.">
<meta property="og:image"
  content="http://www.codium.team/img/codium-black-200x46.png">

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png" />
<link rel="manifest" href="./site.webmanifest" />
<link rel="icon" type="image/x-icon" href="./favicon.ico">
<title><%= title %></title>
<meta name="title" content="<%= title %>">
<meta charset="utf-8" />
<meta name="author" content="Codium Team S.L." />
<meta name="description" content="<%= description %>" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
