<div class="container">
  <h2 class="text-center title" id="methodology">Metodología</h2>

  <div class="course__metodology">
    <p class="text-dark-grey">
      Hoy en día cualquiera puede leer un libro o ver un vídeo, pero lo
      realmente difícil es poner en práctica lo aprendido. Por eso, en
      nuestro curso, queremos que los alumnos pasen la mayor parte del
      tiempo programando y no escuchando teoría.
    </p>
    <p class="text-dark-grey">
      En busca de la calidad y satisfacción de todos los asistentes,
      creemos que es indispensable ser dos profesores senior. Esto nos
      permite tener la disponibilidad suficiente para ayudar de forma
      personalizada mientras los alumnos programan.
    </p>
    <p class="text-dark-grey">
      Perseguimos maximizar el aprendizaje. Para ello creamos un
      ambiente dinámico (Flow) gracias a trabajar en parejas, ejercicios
      cortos, resolver las dudas rápido, la discusión de forma conjunta
      de las diferentes soluciones y un trato muy cercano.
    </p>
    <p class="text-dark-grey">
      Por nuestra experiencia como profesores, desarrolladores y
      emprendedores, comprendemos las problemáticas del desarrollo de
      software. Haber impartido más de 60 cursos a más de 800 alumnos
      nos permite conocer las necesidades de los alumnos y cuidar cada
      detalle de la formación.
    </p>
    <p class="text-dark-grey">
      Todo lo anterior garantiza nuestro objetivo de que quedes
      satisfecho, adquieras las habilidades necesarias para transformar
      tu forma de desarrollar y empieces a escribir código sostenible.
    </p>
  </div>

  <div class="course__team">
    <div class="card card--personal">
      <div class="card__header">
        <div class="card__image-wrapper">
          <img
            src="/img/about-us/luis.jpg"
            alt="Luis Rovirosa Mairlot profile"
            class="card__image card__image--rounded"
          />
        </div>
      </div>

      <p class="card__title">Luis Rovirosa</p>
      <p class="card__professional">Back-end Developer</p>

      <div class="card__footer">
        <ul class="card__icons">
          <li class="card__icon">
            <a
              aria-label="Twitter link"
              href="https://twitter.com/luisrovirosa"
              ><i class="icon icon-twitter"></i
            ></a>
          </li>
          <li class="card__icon">
            <a
              aria-label="Linkedin link"
              href="https://linkedin.com/in/luisrovirosa/"
              ><i class="icon icon-linkedin2"></i
            ></a>
          </li>
          <li class="card__icon">
            <a
              aria-label="Github link"
              href="https://github.com/luisrovirosa"
              ><i class="icon icon-github"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="card card--personal">
      <div class="card__header">
        <div class="card__image-wrapper">
          <img
            src="/img/about-us/jordi.jpeg"
            alt="Jordi Anguela profile"
            class="card__image card__image--rounded"
          />
        </div>
      </div>

      <p class="card__title">Jordi Anguela</p>
      <p class="card__professional">Front-end Developer</p>

      <div class="card__footer">
        <ul class="card__icons">
          <li class="card__icon">
            <a
              aria-label="Twitter link"
              href="http://twitter.com/jordianguela"
              ><i class="icon icon-twitter"></i
            ></a>
          </li>
          <li class="card__icon">
            <a
              aria-label="Linkedin link"
              href="https://linkedin.com/in/jordianguela/"
              ><i class="icon icon-linkedin2"></i
            ></a>
          </li>
          <li class="card__icon">
            <a
              aria-label="Github link"
              href="https://github.com/jordianguela"
              ><i class="icon icon-github"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="card card--personal">
      <div class="card__header">
        <div class="card__image-wrapper">
          <img
            src="/img/about-us/hugo.jpeg"
            alt="Hugo Chinchilla profile"
            class="card__image card__image--rounded"
          />
        </div>
      </div>

      <p class="card__title">Hugo Chinchilla</p>
      <p class="card__professional">Full-stack Developer</p>

      <div class="card__footer">
        <ul class="card__icons">
          <li class="card__icon">
            <a
              aria-label="Twitter link"
              href="https://twitter.com/hchinchilla_"
              ><i class="icon icon-twitter"></i
            ></a>
          </li>
          <li class="card__icon">
            <a
              aria-label="Linkedin link"
              href="https://linkedin.com/in/hugo-chinchilla-carbonell/"
              ><i class="icon icon-linkedin2"></i
            ></a>
          </li>
          <li class="card__icon">
            <a
              aria-label="Github link"
              href="https://github.com/hugochinchilla"
              ><i class="icon icon-github"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="card card--personal">
      <div class="card__header">
        <div class="card__image-wrapper">
          <img
            src="/img/about-us/jose.png"
            alt="Jose Cabrera profile"
            class="card__image card__image--rounded"
          />
        </div>
      </div>

      <p class="card__title">Jose Cabrera</p>
      <p class="card__professional">Front-end Developer</p>

      <div class="card__footer">
        <ul class="card__icons">
          <li class="card__icon">
            <a
              aria-label="Twitter link"
              href="https://twitter.com/11joselu"
              ><i class="icon icon-twitter"></i
            ></a>
          </li>
          <li class="card__icon">
            <a
              aria-label="Linkedin link"
              href="https://www.linkedin.com/in/11joselu/"
              ><i class="icon icon-linkedin2"></i
            ></a>
          </li>
          <li class="card__icon">
            <a
              aria-label="Github link"
              href="https://github.com/11joselu"
              ><i class="icon icon-github"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="button__wrapper">
    <a
      class="button button--primary"
      href="#contactForm"
      data-trackevent="contact_us.show_form.team"
    >
      Contactar
    </a>
  </div>
</div>
