<section class="block">
  <div class="container sumary-numbers">
    <div class="sumary-numbers__item">
      <h2 class="title text-center"><t>Resumen en números</t></h2>
    </div>

    <div class="sumary-numbers__item sumary-numbers__item--circles">
      <div class="circle circle--large circle--lila">
        <div class="circle__text">
          <p class="circle__number circle-number-js">+115</p>
          <p class="circle__number-info"><t>Formaciones impartidas</t></p>
        </div>
      </div>

      <div class="circle circle--green">
        <div class="circle__text">
          <p class="circle__number circle-number-js">+1300</p>
          <p class="circle__number-info"><t>Profesionales formados</t></p>
        </div>
      </div>

      <div class="circle circle--blue">
        <div class="circle__text">
          <p class="circle__number circle-number-js">+65</p>
          <p class="circle__number-info"><t>Empresas que han confiado</t></p>
        </div>
      </div>
    </div>
  </div>
</section>
