<div class="container">


  <h2 class="text-center title">El valor del curso</h2>

  <p class="text-center text-dark-grey text--summary">
    El curso es una muy buena forma de aprender los patrones de diseño desde un <strong>enfoque práctico</strong>. Es fácil caer en sobreingeniería cuando se aprenden los patrones desde una hoja en blanco: en su lugar, verás cómo los patrones solucionan algunos de los problemas del código.
  </p>
  <p class="text-center text-dark-grey text--summary">
    Los patrones de diseño son <strong>buenas soluciones a problemas recurrentes</strong> en el diseño de software. Mediante el uso de patrones de diseño podrás crear código más flexible, mantenible y reutilizable.
  </p>

  <article class="tdd-value">
    <div class="text-center tdd-value__item">
      <img src="/img/benefits-refactoring.svg" class="tdd-value__image" alt="Curso refactoring patrones" />
    </div>

    <aside class="tdd-value__item">
      <h2 class="tdd-value__title">Beneficios del curso</h2>
      <ul class="course-calendar__items">
        <li class="text-dark-grey">
          <p class="text-bold">Ahorra tiempo y dolores de cabeza</p>
          <p>
            Buscar una nueva solución a los mismos problemas reduce tu eficacia como desarrollador, ya que se
            invierte mucho tiempo en el proceso. Conocer soluciones que funcionan y aplicarla nos ahorrará muchos dolores de cabeza.
          </p>
        </li>
        <li class="text-dark-grey">
          <p class="text-bold">Mejora la calidad del código</p>
          <p>
            Los patrones de diseño no solo brindan estandarización al código, sino que también aseguran que el código
            siga buenos principios de programación, como el bajo acoplamiento y la alta cohesión o el principio DRY (don't repeat yourself).
          </p>
          <p>
            Al llegar a los patrones a partir del <strong>refactor</strong>, nos permite trabajar el problema antes que la solución.
          </p>
          <p>
            Para aquellas personas que no están acostumbradas a tener una buena batería de tests, puede ser una experiencia transformadora al ver la seguridad que obtenemos de ellos.
          </p>
        </li>
        <li class="text-dark-grey">
          <p class="text-bold">Aumenta la velocidad de desarrollo</p>
          <p>
            Aprenderás cómo sacar el máximo partido al IDE para refactorizar de forma segura y eficiente, reduciendo los errores y aumentando la velocidad de desarrollo.
          </p>
        </li>

        <li class="text-dark-grey">
          <p class="text-bold">Mejora tus herramientas de programación</p>
          <p>
            Conocer los patrones nos permite no reinventar la rueda y construir soluciones más flexibles y robustas combinándolos.
          </p>
          <p>
            Saber los nombres de los patrones nos permite comunicar ideas complejas de forma precisa y efectiva.
          </p>
        </li>
      </ul>
    </aside>
  </article>

  <div class="button__wrapper">
    <a class="button button--primary" href="#contactForm"
      data-trackevent="contact_us.show_form.course_value">Contactar</a>
  </div>
</div>
