<div class="container">


  <h2 class="text-center title"><t>El valor del curso</t></h2>

  <p class="text-center text-dark-grey text--summary">
    <t>El curso es una muy buena forma de aprender los patrones de diseño desde un <strong>enfoque práctico</strong>. Es fácil caer en sobreingeniería cuando se aprenden los patrones desde una hoja en blanco: en su lugar, verás cómo los patrones solucionan algunos de los problemas del código.</t>
  </p>
  <p class="text-center text-dark-grey text--summary">
    <t>Los patrones de diseño son <strong>buenas soluciones a problemas recurrentes</strong> en el diseño de software. Mediante el uso de patrones de diseño podrás crear código más flexible, mantenible y reutilizable.</t>
  </p>

  <article class="tdd-value">
    <div class="text-center tdd-value__item">
      <img src="/img/benefits-refactoring.svg" class="tdd-value__image" alt="Curso refactoring patrones" />
    </div>

    <aside class="tdd-value__item">
      <h2 class="tdd-value__title"><t>Beneficios del curso</t></h2>
      <ul class="course-calendar__items">
        <li class="text-dark-grey">
          <p class="text-bold"><t>Ahorra tiempo y dolores de cabeza</t></p>
          <p>
            <t>Buscar una nueva solución a los mismos problemas reduce tu eficacia como desarrollador, ya que se
            invierte mucho tiempo en el proceso. Conocer soluciones que funcionan y aplicarla nos ahorrará muchos dolores de cabeza.</t>
          </p>
        </li>
        <li class="text-dark-grey">
          <p class="text-bold"><t>Mejora la calidad del código</t></p>
          <p>
            <t>Los patrones de diseño no solo brindan estandarización al código, sino que también aseguran que el código
            siga buenos principios de programación, como el bajo acoplamiento y la alta cohesión o el principio DRY (don't repeat yourself).</t>
          </p>
          <p>
            <t>Al llegar a los patrones a partir del <strong>refactor</strong>, nos permite trabajar el problema antes que la solución.</t>
          </p>
          <p>
            <t>Para aquellas personas que no están acostumbradas a tener una buena batería de tests, puede ser una experiencia transformadora al ver la seguridad que obtenemos de ellos.</t>
          </p>
        </li>
        <li class="text-dark-grey">
          <p class="text-bold"><t>Aumenta la velocidad de desarrollo</t></p>
          <p>
            <t>Aprenderás cómo sacar el máximo partido al IDE para refactorizar de forma segura y eficiente, reduciendo los errores y aumentando la velocidad de desarrollo.</t>
          </p>
        </li>

        <li class="text-dark-grey">
          <p class="text-bold"><t>Mejora tus herramientas de programación</t></p>
          <p>
            <t>Conocer los patrones nos permite no reinventar la rueda y construir soluciones más flexibles y robustas combinándolos.</t>
          </p>
          <p>
            <t>Saber los nombres de los patrones nos permite comunicar ideas complejas de forma precisa y efectiva.</t>
          </p>
        </li>
      </ul>
    </aside>
  </article>

  <div class="button__wrapper">
    <a class="button button--primary" href="#contactForm"
      data-trackevent="contact_us.show_form.course_value"><t>Contactar</t></a>
  </div>
</div>
