<% var clients = [
  {
    image: './img/clients/vicomtech.svg',
    name: 'Vicomtech'
  },
  {
    image: './img/clients/zooplus.svg',
    name: 'Zooplus'
  },
  {
    image: './img/clients/generalelectric.png',
    name: 'General electric',
    customClass: 'client__item--ge',
  },
  {
    image: './img/clients/clarity.svg',
    name: 'Clarity'
  },
  {
    image: './img/clients/habitissimo.png',
    name: 'Habitissimo logo'
  },
] %>

<section class="block block--white block--small">
  <div class="container">
    <%- include('../../partials/carousel/clients', { clients })  %>
  </div>
</section>
