<div class="container">
  <h2 class="text-center title">
    Contenido del curso
  </h2>

  <div class="calendar">
    <div>
      <article class="course-calendar">
        <div class="course-calendar__day">
          <p class="small-title">Día 1</p>
          <p class="text-dark-grey course-calendar__day-item">Mañana</p>
        </div>
        <div class="course-calendar__list">
          <p class="small-title">
            Introducción
          </p>
          <ul class="course-calendar__items">
            <li class="text-dark-grey">
              ¿Qué es un refactor?
            </li>
            <li class="text-dark-grey">
              ¿Qué son los patrones de diseño?
            </li>
          </ul>

          <p class="small-title">Reduciendo complejidad y duplicidad</p>
          <ul class="course-calendar__items">
            <li class="text-dark-grey">
              Reducir la complejidad con las Cláusulas de Guarda
            </li>
            <li class="text-dark-grey">Eliminar código duplicado con los Value Objects</li>
            <li class="text-dark-grey">Incrementar la cohesión con los Value Objects</li>
            <li class="text-dark-grey">Eliminar data clumps con Value Objects</li>
            <li class="text-dark-grey">Encapsular la lógica de creación en un Factory method</li>
            <li class="text-dark-grey">Simplificar la firma con DTO’s</li>
            <li class="text-dark-grey">Reducir la duplicidad en los test con el shared setup method</li>
            <li class="text-dark-grey">Reducir la duplicidad en los tests con el Test creation method</li>
          </ul>

        </div>
      </article>
      <article class="course-calendar">
        <div class="course-calendar__day">
          <p class="text-dark-grey course-calendar__day-item">Tarde</p>
        </div>
        <div class="course-calendar__list">
          <p class="small-title course-calendar__title">
            Simplificar la creación de objetos
          </p>
          <ul class="course-calendar__items">
            <li class="text-dark-grey">Que és un Builder y sus beneficios</li>
            <li class="text-dark-grey">Simplificar la creación de objetos con Builders</li>
            <li class="text-dark-grey">Reduzcir el ruido en los tests con los Test Builders</li>
            <li class="text-dark-grey">Aumentar la cohesión con First Class Collection</li>
            <li class="text-dark-grey">Eliminar comprobaciones de tipo null con los Null Object</li>
            <li class="text-dark-grey">Extender el comportamiendo con Decoradores</li>
          </ul>
        </div>
      </article>
    </div>

    <div>
      <article class="course-calendar">
        <div class="course-calendar__day">
          <p class="small-title">Día 2</p>
          <p class="text-dark-grey course-calendar__day-item">Mañana</p>
        </div>
        <div class="course-calendar__list">
          <p class="small-title">Desacople</p>
          <ul class="course-calendar__items">
            <li class="text-dark-grey">
              Desacoplar el código de la base de datos con los Repositorios
            </li>
            <li class="text-dark-grey">Desacoplar el código de los detalles de implementación con los Adapter</li>
            <li class="text-dark-grey">
              Reducir el acople con Chain of Responsability
            </li>
          </ul>
        </div>
      </article>

      <article class="course-calendar">
        <div class="course-calendar__day">
          <p class="text-dark-grey course-calendar__day-item">Tarde</p>
        </div>
        <div class="course-calendar__list">
          <p class="small-title course-calendar__title">
            Desacoplar acciones principales con Observer
          </p>
          <ul class="course-calendar__items">
            <li class="text-dark-grey">Reducir el acople con Publisher/Subscriber</li>
            <li class="text-dark-grey">Functional Patterns: Introducción a Currying</li>
          </ul>
        </div>
      </article>
    </div>
  </div>

  <div class="button__wrapper">
    <a
      class="button button--primary"
      href="#contactForm"
      data-trackevent="contact_us.show_form.course_index"
    >
      ¡Me interesa!
    </a>
  </div>
</div>

