<article class="container">
  <h2 class="text-center title">Preguntas frecuentes</h2>
  <section class="question-wrapper">
    <article class="question" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h3 class="small-title" itemprop="name">¿A quién va dirigido?</h3>
      <section itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p class="text-dark-grey">
            A equipos que quieren mejorar sus habilidades de diseño.
          </p>

          <p class="text-dark-grey">
            A programadores familiarizados con buenas prácticas de desarrollo.
          </p>
        </div>
      </section>
    </article>

    <article class="question" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h3 class="small-title" itemprop="name">¿Cuál es el nivel del curso?</h3>

      <section itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p class="text-dark-grey">
            El nivel del curso es intermedio. Está dirigido a personas que programan profesionalmente.
          </p>

          <p class="text-dark-grey">
            Al ser un curso muy práctico y con mucho debate, permite que nos
            adaptemos al nivel de los asistentes. Si ya conoces algún patrón,
            durante el curso profundizarás en tus conocimientos y aprenderás
            estrategias más avanzadas.
          </p>

        </div>
      </section>
    </article>

    <article class="question" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h3 class="small-title" itemprop="name">
        ¿Se puede bonificar el curso por FUNDAE?
      </h3>

      <section itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p class="text-dark-grey">
            Sí, el curso se puede bonificar a través de FUNDAE.
          </p>

          <p class="text-dark-grey">
            Actualmente se puede bonificar 208 € por alumno.
          </p>

          <p class="text-dark-grey">
            Nosotros facilitamos todos los datos para su presentación online, pero no la tramitamos.
          </p>
        </div>
      </section>
    </article>

    <article class="question" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h3 class="small-title" itemprop="name">
        ¿Por qué debería asistir todo el equipo?
      </h3>

      <section itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p class="text-dark-grey">
            Juntar a todo el equipo, además de generar team building,
            permite que trabajen juntas personas que habitualmente no lo
            hacen.
          </p>

          <p class="text-dark-grey">
            Durante el transcurso de los días, fomentamos el diálogo y los
            debates entre el equipo, que permiten alinear su visión.
          </p>

          <p class="text-dark-grey">
            Nada mejor que dos días formación para motivar al equipo.
          </p>
        </div>
      </section>
    </article>

    <article class="question" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h3 class="small-title" itemprop="name">¿Cómo se desarrolla el curso?</h3>

      <section itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p class="text-dark-grey">
            El curso se compone de
            <a href="#training-content-timeline">varios bloques</a> de dos
            horas.
          </p>

          <p class="text-dark-grey">
            Le sigue un ejercicio que se realiza en parejas donde se pone en
            práctica lo visto en la parte teórica mientras los formadores
            van dando feedback a los asistentes constantemente.
          </p>

          <p class="text-dark-grey">
            El bloque termina con un debate de grupo, donde los
            participantes comparten lo aprendido y tenemos discusiones todos
            juntos
          </p>
        </div>
      </section>
    </article>

    <article class="question" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h2 class="small-title" itemprop="name">¿Puedo apuntarme yo solo?</h2>

      <section itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p class="text-dark-grey">
            El curso está diseñado para impartirse en empresas.
          </p>

          <p class="text-dark-grey">
            También ofrecemos cursos en abierto donde cualquiera puede
            apuntarse.
          </p>

          <p class="text-dark-grey">
            <a href="#contactForm">Inscríbete</a> y te informaremos de los
            próximos cursos cerca de ti.
          </p>
        </div>
      </section>
    </article>

    <article class="question" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h2 class="small-title" itemprop="name">¿Qué material necesito?</h2>

      <section itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p class="text-dark-grey">
            Tan solo es necesario traer un ordenador con las herramientas de
            desarrollo que cada uno utiliza instaladas. Lo ideal es realizar
            el curso en las mismas máquinas que el equipo usa en su día
            a día y Docker.
          </p>

          <p class="text-dark-grey">
            En presencial hace falta una sala con proyector o una pantalla grande y una
            pizarra donde escribir. La configuración ideal es tener un ordenador con dos
            pantallas, dos teclados y dos ratones por cada dos personas.
          </p>

          <p class="text-dark-grey">
            En remoto hace falta un micrófono, auriculares y webcam para cada participante.
          </p>
        </div>
      </section>
    </article>

    <article class="question" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h2 class="small-title" itemprop="name">Y después del curso, ¿qué?</h2>

      <section itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p class="text-dark-grey">
            Los ejercicios realizados en el curso son específicos para
            aprender un concepto cada vez. Durante nuestro día a día nos
            enfrentamos a problemas mucho más complejos y con un código en
            mal estado.
          </p>

          <p class="text-dark-grey">
            Por ello, después del curso, ofrecemos acompañamiento para
            ayudarte en la implantación de patrones de diseño en tu
            proyecto.
          </p>
        </div>
      </section>
    </article>
  </section>
</article>
