<div class="container">
  <h2 class="text-center title">¿Por qué Docker?</h2>
  <p class="text-center text-dark-grey">
    Docker soluciona algunos de los problemas de infraestructura más
    comunes, casi permitiéndonos eliminar el famoso "en mi máquina
    funciona".
  </p>
  <p class="text-center text-dark-grey">
    ¿Cómo? Homogeneizando los entornos.
  </p>
  <p class="text-center text-dark-grey">
    ¿Pero cómo? Tratando la infraestructura como código, automatizando
    procesos y encapsulando aplicaciones junto con todas sus
    dependencias.
  </p>

  <article class="tdd-value">
    <div class="text-center tdd-value__item">
      <img
        src="/img/docker-explained-1.png"
        alt="Docker explained"
        class="tdd-value__image"
      />
    </div>

    <aside class="tdd-value__item">
      <div>
        <h3>Problemas comunes que Docker nos ayuda a resolver:</h3>
        <ul class="course-calendar__items">
          <li class="text-dark-grey">
            Los desarrolladores tienen máquinas distintas con sistemas
            operativos diversos.
          </li>
          <li class="text-dark-grey">
            Diferentes versiones del software en entornos locales, test
            y producción, dificultando la reproducción de ciertos
            problemas por culpa de que los entornos son distintos.
          </li>
          <li class="text-dark-grey">
            Diferentes versiones instaladas de librerías y paquetes.
          </li>
          <li class="text-dark-grey">
            A medida que el tiempo pasa el conocimiento sobre el
            software se va perdiendo, provocando fácilmente que la
            instalación del software sea compleja y manual.
          </li>
          <li class="text-dark-grey">
            Diferentes configuraciones entre desarrolladores.
          </li>
          <li class="text-dark-grey">
            Sobrecostes por infrautilización de los recursos de los
            servidores o de las máquinas virtuales.
          </li>
          <li class="text-dark-grey">
            Despliegues manuales: un miembro del equipo debe conectarse
            a un servidor y configurar o subir a mano un
            binario/artefacto, etc.
          </li>
          <li class="text-dark-grey">
            Sysadmins tardan tiempo en desplegar, es complicado hacer
            cambios en la infraestructura o simplemente escalar.
          </li>
        </ul>
      </div>
    </aside>
  </article>

  <div class="button__wrapper">
    <a
      class="button button--primary"
      href="#contactForm"
      data-trackevent="contact_us.show_form.course_value"
      >Contactar</a
    >
  </div>
</div>
