 <section class="block block--lila" id="training-content-timeline">
   <div class="container">
     <h2 class="text-center title">
       Contenido del curso
     </h2>
     <p class="text-center text-dark-grey">
       Conocerás la filosofía del trabajo en Docker y cómo aplicar las
       buenas prácticas
     </p>

     <div class="calendar">
       <div>
         <article class="course-calendar">
           <div class="course-calendar__day">
             <p class="small-title">Día 1</p>
             <p class="text-dark-grey course-calendar__day-item">Mañana</p>
           </div>
           <div class="course-calendar__list">
             <p class="small-title">Historia y arquitectura de Docker</p>
             <ul class="course-calendar__items">
               <li class="text-dark-grey">
                 ¿Por qué es Docker algo tan popular?
               </li>
               <li class="text-dark-grey">¿Qué problemas resuelve?</li>
               <li class="text-dark-grey">Anatomía de Docker</li>
               <li class="text-dark-grey">
                 Conceptos básicos: contenedores e imágenes
               </li>
             </ul>
             <p class="small-title course-calendar__title">
               Comandos básicos y docker-compose
             </p>
             <ul class="course-calendar__items">
               <li class="text-dark-grey">
                 Comandos básicos para trabajar con contendedores
               </li>
               <li class="text-dark-grey">
                 Usar puertos, volúmenes y variables de entorno
               </li>
               <li class="text-dark-grey">Cuándo usar docker-compose</li>
               <li class="text-dark-grey">
                 Sintaxis de un fichero YAML de docker-compose
               </li>
             </ul>
           </div>
         </article>
         <article class="course-calendar">
           <div class="course-calendar__day">
             <p class="text-dark-grey course-calendar__day-item">Tarde</p>
           </div>
           <div class="course-calendar__list">
             <p class="small-title course-calendar__title">
               Construyendo imágenes
             </p>
             <ul class="course-calendar__items">
               <li class="text-dark-grey">
                 Entender y escribir ficheros DOCKERFILE
               </li>
               <li class="text-dark-grey">
                 Optimizar la construcción de imágenes
               </li>
               <li class="text-dark-grey">
                 Qué son las capas del sistema de ficheros y su impacto en
                 el caching
               </li>
               <li class="text-dark-grey">Técnica del Multistage build</li>
               <li class="text-dark-grey">Cómo y por qué usar Buildkit</li>
               <li class="text-dark-grey">
                 Buenas prácticas creando imágenes
               </li>
               <li class="text-dark-grey">
                 Particularidades de Docker en Windows y WSL 2
               </li>
             </ul>
           </div>
         </article>
       </div>

       <div>
         <article class="course-calendar">
           <div class="course-calendar__day">
             <p class="small-title">Día 2</p>
             <p class="text-dark-grey course-calendar__day-item">Mañana</p>
           </div>
           <div class="course-calendar__list">
             <p class="small-title">
               Usando Docker en el entorno de desarrollo
             </p>
             <ul class="course-calendar__items">
               <li class="text-dark-grey">
                 Técnicas para incorporar Docker en el entorno de
                 desarrollo local
               </li>
               <li class="text-dark-grey">
                 Cómo mejorar la experiencia de desarrollo en proyectos
                 existentes
               </li>
               <li class="text-dark-grey">
                 Ventajas de VS Code Remote Containers
               </li>
               <li class="text-dark-grey">Tests de caracterización</li>
             </ul>
             <p class="small-title course-calendar__title">
               Publicar imágenes y resolver problemas del día a día
             </p>
             <ul class="course-calendar__items">
               <li class="text-dark-grey">
                 Usar registros públicos y privados
               </li>
               <li class="text-dark-grey">
                 Convenios para etiquetar imágenes
               </li>
               <li class="text-dark-grey">
                 Limpieza de recursos del sistema utilizados
               </li>
               <li class="text-dark-grey">
                 Cómo resolver problemas habituales
               </li>
             </ul>
           </div>
         </article>

         <article class="course-calendar">
           <div class="course-calendar__day">
             <p class="text-dark-grey course-calendar__day-item">Tarde</p>
           </div>
           <div class="course-calendar__list">
             <p class="small-title course-calendar__title">Seguridad</p>
             <ul class="course-calendar__items">
               <li class="text-dark-grey">
                 Diferentes capas de seguridad cuando usamos Docker
               </li>
               <li class="text-dark-grey">Cómo crear una imagen segura</li>
               <li class="text-dark-grey">Detectar vulnerabilidades</li>

               <li class="text-dark-grey">
                 Por qué evitar el uso del usuario root
               </li>
             </ul>

             <p class="small-title">Docker en la Integración Continua</p>
             <ul class="course-calendar__items">
               <li class="text-dark-grey">
                 Aspectos básicos de una herramienta de Integración
                 Continua (CI)
               </li>
               <li class="text-dark-grey">
                 El rol de Docker en los procesos de CI
               </li>
               <li class="text-dark-grey">
                 Técnicas para mejorar el rendimiento de Docker en CI
               </li>
             </ul>
           </div>
         </article>
       </div>
     </div>

     <div class="button__wrapper">
       <a class="button button--primary" href="#contactForm"
         data-trackevent="contact_us.show_form.course_index">¡Me interesa!</a>
     </div>
   </div>
 </section>
