<article class="container">
  <h2 class="text-center title"><t>Preguntas frecuentes</t></h2>
  <section class="question-wrapper">
    <article class="question" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h3 class="small-title" itemprop="name"><t>¿A quién va dirigido?</t></h3>
      <section itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p class="text-dark-grey">
            <t>A todas aquellas empresas que quieran Dockerizar su servicios.</t>
          </p>

          <p class="text-dark-grey">
            <t>A aquellas empresas que quieran dar un salto de calidad en cómo
            gestionan su infraestructura.</t>
          </p>

          <p class="text-dark-grey">
            <t>A aquellos equipos que cada vez que despliegan en producción es
            un dolor para ellos y sus clientes.</t>
          </p>
          <p class="text-dark-grey">
            <t>A esos equipos que cada vez que incorporan un nuevo compañero
            éste tarda varios días en poder configurar todos los servicios
            de la empresa en su máquina.</t>
          </p>
        </div>
      </section>
    </article>

    <article class="question" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h3 class="small-title" itemprop="name"><t>¿Cuál es el nivel del curso?</t></h3>

      <section itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p class="text-dark-grey">
            <t>El curso está pensado para todos los niveles de Docker: desde
            los principiantes hasta los que usan Docker habitualmente.</t>
          </p>

          <p class="text-dark-grey">
            <t>El curso es muy intenso y práctico. Ha sido diseñado para que
            sea fácil de seguir por los asistentes, con muchas
            demostraciones y ejemplos de código.</t>
          </p>
        </div>
      </section>
    </article>

    <article class="question" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h3 class="small-title" itemprop="name">
        <t>¿Se puede bonificar el curso por FUNDAE?</t>
      </h3>

      <section itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p class="text-dark-grey">
            <t>Sí, el curso se puede bonificar a través de FUNDAE.</t>
          </p>

          <p class="text-dark-grey">
           <t>Actualmente se puede bonificar 208 € por alumno.</t>
          </p>

          <p class="text-dark-grey">
            <t>Nosotros facilitamos todos los datos para su presentación
            online, pero no la tramitamos.</t>
          </p>
        </div>
      </section>
    </article>

    <article class="question" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h3 class="small-title" itemprop="name">
        <t>¿Por qué debería asistir todo el equipo?</t>
      </h3>

      <section itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p class="text-dark-grey">
            <t>Juntar a todo el equipo, además de generar team building,
            permite que trabajen juntas personas que habitualmente no lo
            hacen.</t>
          </p>

          <p class="text-dark-grey">
            <t>Durante el transcurso de los días, fomentamos el diálogo y los
            debates entre el equipo, que permiten alinear su visión.</t>
          </p>

          <p class="text-dark-grey">
            <t>Nada mejor que dos días formación para motivar al equipo.</t>
          </p>
        </div>
      </section>
    </article>

    <article class="question" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h3 class="small-title" itemprop="name"><t>¿Cómo se desarrolla el curso?</t></h3>

      <section itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p class="text-dark-grey">
            <t>El curso se compone de
            <a href="#training-content-timeline">varios bloques</a> de dos
            horas.</t>
          </p>

          <p class="text-dark-grey">
            <t>Cada bloque empieza con una breve introducción teórica.</t>
          </p>

          <p class="text-dark-grey">
            <t>Le sigue un ejercicio que se realiza en parejas donde se pone en
            práctica lo visto en la parte teórica mientras los formadores
            van dando feedback a los asistentes constantemente.</t>
          </p>
          <p class="text-dark-grey">
            <t>El bloque termina con un debate de grupo, donde los
            participantes comparten lo aprendido y tenemos discusiones todos
            juntos.</t>
          </p>
        </div>
      </section>
    </article>

    <article class="question" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h2 class="small-title" itemprop="name"><t>¿Puedo apuntarme yo solo?</t></h2>

      <p class="text-dark-grey">
        <t>El curso está diseñado para impartirse en empresas.</t>
      </p>

      <p class="text-dark-grey">
        <t>También ofrecemos cursos en abierto donde cualquiera puede
        apuntarse.</t>
      </p>

      <p class="text-dark-grey">
        <t><a href="#contactForm">Inscríbete</a> y te informaremos de los
        próximos cursos cerca de ti.</t>
      </p>
    </article>

    <article class="question" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h2 class="small-title" itemprop="name"><t>¿Qué material necesito?</t></h2>

      <section itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p class="text-dark-grey">
            <t>Tan solo es necesario traer un ordenador con las herramientas de
            desarrollo que cada uno utiliza instaladas. Lo ideal es realizar
            el curso en las mismas máquinas que el equipo usa en su día
            a día y Docker.</t>
          </p>

          <p class="text-dark-grey">
            <t>En presencial hace falta una sala con proyector o una pantalla grande y una
            pizarra donde escribir. La configuración ideal es tener un ordenador con dos
            pantallas, dos teclados y dos ratones por cada dos personas.</t>
          </p>

          <p class="text-dark-grey">
            <t>En remoto hace falta un micrófono, auriculares y webcam para cada participante.</t>
          </p>
        </div>
      </section>
    </article>

    <article class="question" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h2 class="small-title" itemprop="name"><t>Y después del curso, ¿qué?</t></h2>

      <section itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p class="text-dark-grey">
            <t>Los ejercicios realizados en el curso son específicos para
            aprender un concepto cada vez. Durante nuestro día a día nos
            enfrentamos a problemas mucho más complejos y con un código en
            mal estado.</t>
          </p>

          <p class="text-dark-grey">
            <t>Por ello, después del curso, ofrecemos acompañamiento para
            ayudarte Dockerizar tu servicios y automatizar tus procesos en
            un servidor de Integración Continua.</t>
          </p>
        </div>
      </section>
    </article>
  </section>
</article>
