<section class="block block--white" id="faqs">
  <div class="container">
    <h2 class="text-center title">Preguntas frecuentes</h2>

    <div class="question-wrapper">
      <div class="question">
        <p class="small-title">¿A quién va dirigido?</p>

        <p class="text-dark-grey">
          A todas aquellas empresas que quieran Dockerizar su servicios.
        </p>

        <p class="text-dark-grey">
          A aquellas empresas que quieran dar un salto de calidad en cómo
          gestionan su infraestructura.
        </p>

        <p class="text-dark-grey">
          A aquellos equipos que cada vez que despliegan en producción es
          un dolor para ellos y sus clientes.
        </p>
        <p class="text-dark-grey">
          A esos equipos que cada vez que incorporan un nuevo compañero
          éste tarda varios días en poder configurar todos los servicios
          de la empresa en su máquina.
        </p>
      </div>

      <div class="question">
        <p class="small-title">¿Cuál es el nivel del curso?</p>

        <p class="text-dark-grey">
          El curso está pensado para todos los niveles de Docker: desde
          los principiantes hasta los que usan Docker habitualmente.
        </p>

        <p class="text-dark-grey">
          El curso es muy intenso y práctico. Ha sido diseñado para que
          sea fácil de seguir por los asistentes, con muchas
          demostraciones y ejemplos de código.
        </p>
      </div>

      <div class="question">
        <p class="small-title">
          ¿Se puede bonificar el curso por FUNDAE?
        </p>

        <p class="text-dark-grey">
          Sí, el curso se puede bonificar a través de FUNDAE.
        </p>

        <p class="text-dark-grey">
          Actualmente se puede bonificar hasta casi un 50%.
        </p>

        <p class="text-dark-grey">
          Nosotros facilitamos todos los datos para su presentación
          online, pero no la tramitamos.
        </p>
      </div>

      <div class="question">
        <p class="small-title">
          ¿Por qué debería asistir todo el equipo?
        </p>

        <p class="text-dark-grey">
          Juntar a todo el equipo, además de generar team building,
          permite que trabajen juntas personas que habitualmente no lo
          hacen.
        </p>

        <p class="text-dark-grey">
          Durante el transcurso de los días, fomentamos el diálogo y los
          debates entre el equipo, que permiten alinear su visión.
        </p>

        <p class="text-dark-grey">
          Nada mejor que dos días formación para motivar al equipo.
        </p>
      </div>

      <div class="question">
        <p class="small-title">¿Cómo se desarrolla el curso?</p>

        <p class="text-dark-grey">
          El curso se compone de
          <a href="#training-content-timeline">varios bloques</a> de dos
          horas.
        </p>

        <p class="text-dark-grey">
          Cada bloque empieza con una breve introducción teórica.
        </p>

        <p class="text-dark-grey">
          Le sigue un ejercicio que se realiza en parejas donde se pone en
          práctica lo visto en la parte teórica mientras los formadores
          van dando feedback a los asistentes constantemente.
        </p>
        <p class="text-dark-grey">
          El bloque termina con un debate de grupo, donde los
          participantes comparten lo aprendido y tenemos discusiones todos
          juntos.
        </p>
      </div>

      <div class="question">
        <p class="small-title">¿Puedo apuntarme yo solo?</p>

        <p class="text-dark-grey">
          El curso está diseñado para impartirse en empresas.
        </p>

        <p class="text-dark-grey">
          También ofrecemos cursos en abierto donde cualquiera puede
          apuntarse.
        </p>

        <p class="text-dark-grey">
          <a href="#contactForm">Inscríbete</a> y te informaremos de los
          próximos cursos cerca de ti.
        </p>
      </div>

      <div class="question">
        <p class="small-title">¿Qué material necesito?</p>

        <p class="text-dark-grey">
          Tan sólo es necesario traer un ordenador con las herramientas de
          desarrollo que cada uno utiliza instaladas. Lo ideal es realizar
          el curso en las mismas máquinas que el equipo utiliza en su día
          a día y Docker.
        </p>

        <p class="text-dark-grey">
          La sala debe contar con proyector o una pantalla grande y una
          pizarra donde escribir.
        </p>

        <p class="text-dark-grey">
          El curso se realiza por parejas que van cambiando cada dos
          horas. La configuración ideal es tener un ordenador con dos
          pantallas, dos teclados y dos ratones por cada dos personas.
        </p>
      </div>

      <div class="question">
        <p class="small-title">Y después del curso, ¿qué?</p>

        <p class="text-dark-grey">
          Los ejercicios realizados en el curso son específicos para
          aprender un concepto cada vez. Durante nuestro día a día nos
          enfrentamos a problemas mucho más complejos y con un código en
          mal estado.
        </p>

        <p class="text-dark-grey">
          Por ello, después del curso, ofrecemos acompañamiento para
          ayudarte Dockerizar tu servicios y automatizar tus procesos en
          un servidor de Integración Continua.
        </p>
      </div>
    </div>

  </div>
</section>
