<tr>
    <td data-header="Localidad" nowrap><span class="training-location"><s>{{ location }}</s></span></td>
    <td data-header="Fechas" nowrap><strong><s>{{ dates }}</s></strong></td>
    <td data-header="Descripción"><a href="{{ link }}" target="_blank"><button class="btn-u btn-lg btn-u-blue" type="button"><i class="fa fa-camera"></i> Imágenes</button></a></td>
</tr>