.hero-wrapper {
  background-color: $lightest-grey;
  padding-top: 5rem;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 24px 2rem 24px;

  svg {
    max-width: 600px;
    max-height: 480px;
  }

  &__title {
    color: $darkest-grey;
    font-size: 2.5em;
    line-height: 50px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5em;
  }

  &__subtitle {
    text-align: center;
    font-size: 1.438em;
    color: $darkest-grey;
    line-height: 1.25em;
    font-style: normal;
    margin-top: 0;
  }

  &__image {
    max-width: 250px;
  }

  &--home {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;

    .hero__title-wrapper {
      width: 100%;
      order: 2;
    }
  }

  &__home {
    &-image {
      width: 100%;
      text-align: center;
      order: 1;
    }
  }
}

@media all and (min-width: 768px) {
  .hero-wrapper {
    padding-top: 2rem;
  }

  .hero {
    padding: 2.5rem 24px 0.5rem 24px;
    &__subtitle {
      margin-bottom: 5rem;
    }

    &__image {
      margin-top: 2rem;
      max-width: 350px;
    }

    &--home {
      flex-direction: row;
      justify-content: center;

      .hero__title-wrapper {
        flex: 0 0 50%;
        order: 1;
      }
    }

    &__home {
      &-image {
        order: 2;
        display: block;
        img {
          max-width: 450px;
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  .hero {
    svg {
      max-width: 300px;
      max-height: 200px;
    }

    &__title {
      font-size: $text-xl-normal;
      line-height: 30px;
    }

    &__subtitle {
      font-size: $text-normal;
      line-height: 19px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  .hero {
    svg {
      max-width: 400px;
    }
    &__home {
      &-image {
        img {
          max-width: 380px;
        }
      }
    }
  }
}

@media screen and (min-width: 950px) and (max-width: 1220px) {
  .hero {
    svg {
      max-width: 500px;
    }
  }
}
