{% extends "main/services/service.html.twig" %}

{% set image = "/img/legacy-small.jpg" %}
{% set title = "Curso Working with Legacy Code" %}
{% set summary = "Desacopla tu código para reducir los costes de desarrollo y mantimiento." %}
{% set sellingPoints = [
    "Identifica los problemas en el código",
    "Aprende a desacoplar las dependencias",
    "Aprende a cambiar el software con seguridad y añadiendo tests",
    "Estrategias para transformar tu monolito",
] %}

{% block headline %}
    {{ include('main/components/video.html.twig', { videoId: "A8ywnEWeqcA" }) }}
{% endblock %}


{% block link %}
    <div class="bottom-contact-btn">
        <a href="/curso-legacy-code.html" class="btn-u bottom-contact-btn-link">Más información</a>
    </div>
{% endblock %}
