{% extends "main/services/service.html.twig" %}

{% set image = "/img/trainings/tdd_flow.gif" %}
{% set title = "Curso TDD" %}
{% set summary = "Aprende a trabajar con un método que te permite simplificar el desarrollo y asegurar la calidad." %}
{% set sellingPoints = [
    "Aprende el ciclo de desarrollo de TDD",
    "Utiliza dobles de pruebas para aislar las diferentes capas",
    "Estrategias para testear código legado",
    "Aprende buenas prácticas e identifica problemas en los tests",
] %}

{% block headline %}
    {{ include('main/components/video.html.twig', { videoId: "30KJpxfRQbE" }) }}
{% endblock %}

{% block link %}
    <div class="bottom-contact-btn">
        <a href="/curso-tdd.html" class="btn-u bottom-contact-btn-link">Más información</a>
    </div>
{% endblock %}
