<% var clients = [
  {
    image: './img/clients/envira.png',
    name: 'Envira',
  },
  {
    image: './img/clients/clarity.svg',
    name: 'Clarity logo'
  }
] %>

<section class="block block--white block--small">
  <div class="container">
    <%- include('../../partials/carousel/clients', { clients })  %>
  </div>
</section>
