<article class="container">
  <h2 class="text-center title"><t>Preguntas frecuentes</t></h2>
  <section class="question-wrapper">
    <article class="question" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h3 class="small-title" itemprop="name"><t>¿A quién va dirigido?</t></h3>
      <section itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p class="text-dark-grey">
            <t>A desarrolladores que quieren ampliar su visión más allá del código y entender cómo crear productos que aporten valor real.</t>
          </p>

          <p class="text-dark-grey">
            <t>A equipos que buscan mejorar la colaboración entre desarrollo, diseño y negocio para crear mejores productos.</t>
          </p>

          <p class="text-dark-grey">
            <t>A profesionales técnicos que quieren evolucionar hacia roles que combinen habilidades de ingeniería con visión de producto.</t>
          </p>

          <p class="text-dark-grey">
            <t>El curso se centra en cómo aplicar principios de ingeniería de producto en el desarrollo de software, independientemente de la plataforma o tecnología utilizada. También es valioso para Product Managers y UX Designers que quieran entender mejor el lado técnico del desarrollo de productos.</t>
          </p>
        </div>
      </section>
    </article>

    <article class="question" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h3 class="small-title" itemprop="name"><t>¿Cuál es el nivel del curso?</t></h3>

      <section itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p class="text-dark-grey">
            <t>El nivel del curso es intermedio-avanzado. Está dirigido a personas con experiencia en desarrollo de software.</t>
          </p>

          <p class="text-dark-grey">
            <t>Es un curso introductorio a Product Engineering. El curso es intenso y cubre desde los fundamentos de la ingeniería de producto hasta temas más complejos como la definición de métricas, experimentación y arquitectura orientada al dominio.</t>
          </p>

          <p class="text-dark-grey">
            <t>Al ser un curso muy práctico y con mucho debate, permite que nos adaptemos al nivel de los asistentes. Si ya tienes experiencia en desarrollo de productos, durante el curso profundizarás en tus conocimientos y aprenderás estrategias más avanzadas.</t>
          </p>

          <p class="text-dark-grey">
            <t>Este no es un curso diseñado para personas sin experiencia en desarrollo de software o que no tengan interés en entender cómo se construyen productos desde una perspectiva técnica.</t>
          </p>
        </div>
      </section>
    </article>

    <article class="question" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h3 class="small-title" itemprop="name">
        <t>¿Se puede bonificar el curso por FUNDAE?</t>
      </h3>

      <section itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p class="text-dark-grey">
            <t>Sí, el curso se puede bonificar a través de FUNDAE.</t>
          </p>

          <p class="text-dark-grey">
            <t>Actualmente se puede bonificar 208 € por alumno.</t>
          </p>

          <p class="text-dark-grey">
            <t>Nosotros facilitamos todos los datos para su presentación online, pero no la tramitamos.</t>
          </p>
        </div>
      </section>
    </article>

    <article class="question" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h3 class="small-title" itemprop="name">
        <t>¿Por qué debería asistir todo el equipo?</t>
      </h3>

      <section itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p class="text-dark-grey">
            <t>Product Engineering es un enfoque que requiere colaboración entre diferentes roles. Cuando todo el equipo asiste, se crea un lenguaje común y una visión compartida.</t>
          </p>

          <p class="text-dark-grey">
            <t>Durante el curso, fomentamos el diálogo y los debates entre el equipo, que permiten alinear su visión sobre cómo construir productos que aporten valor.</t>
          </p>

          <p class="text-dark-grey">
            <t>La formación conjunta facilita que desarrolladores, diseñadores y product managers entiendan mejor sus respectivos roles y cómo pueden colaborar de manera más efectiva.</t>
          </p>
        </div>
      </section>
    </article>

    <article class="question" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h3 class="small-title" itemprop="name"><t>¿Cómo se desarrolla el curso?</t></h3>

      <section itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p class="text-dark-grey">
            <t>El curso se compone de <a href="#training-content-timeline">varios bloques</a> de dos horas.</t>
          </p>

          <p class="text-dark-grey">
            <t>Cada bloque incluye una parte teórica seguida de ejercicios prácticos que se realizan en grupos, donde se aplican los conceptos aprendidos mientras los formadores proporcionan feedback constante.</t>
          </p>

          <p class="text-dark-grey">
            <t>El bloque termina con un debate de grupo, donde los participantes comparten lo aprendido y discutimos juntos cómo aplicar estos conocimientos en sus proyectos reales.</t>
          </p>
        </div>
      </section>
    </article>

    <article class="question" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h2 class="small-title" itemprop="name"><t>¿Puedo apuntarme yo solo?</t></h2>

      <section itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p class="text-dark-grey">
            <t>El curso está diseñado para impartirse en empresas.</t>
          </p>

          <p class="text-dark-grey">
            <t>También ofrecemos cursos en abierto donde cualquiera puede apuntarse.</t>
          </p>

          <p class="text-dark-grey">
            <t><a href="#contactForm">Inscríbete</a> y te informaremos de los próximos cursos cerca de ti.</t>
          </p>
        </div>
      </section>
    </article>

    <article class="question" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h2 class="small-title" itemprop="name"><t>¿Qué material necesito?</t></h2>

      <section itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p class="text-dark-grey">
            <t>Para este curso necesitarás un ordenador con acceso a internet y herramientas básicas de ofimática para los ejercicios prácticos.</t>
          </p>

          <p class="text-dark-grey">
            <t>En presencial hace falta una sala con proyector o una pantalla grande y una pizarra donde escribir. La configuración ideal es tener mesas que permitan el trabajo en grupo.</t>
          </p>

          <p class="text-dark-grey">
            <t>En remoto hace falta un micrófono, auriculares y webcam para cada participante, así como herramientas de colaboración online que proporcionaremos.</t>
          </p>
        </div>
      </section>
    </article>

    <article class="question" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h2 class="small-title" itemprop="name"><t>Y después del curso, ¿qué?</t></h2>

      <section itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p class="text-dark-grey">
            <t>Los ejercicios realizados en el curso son específicos para aprender conceptos clave de Product Engineering. En el mundo real, los desafíos son más complejos y requieren una aplicación adaptada a cada contexto.</t>
          </p>

          <p class="text-dark-grey">
            <t>Por ello, después del curso, ofrecemos acompañamiento para ayudarte a implementar los principios de Product Engineering en tus proyectos reales, facilitando la transición hacia un enfoque más centrado en el valor.</t>
          </p>
        </div>
      </section>
    </article>
  </section>
</article>