<div class="headline-center-v2 headline-center-v2-dark margin-bottom-20">
    <h2>{{ name }}</h2>
    <span class="bordered-icon"><img src="/img/resources/codium-icon-black.svg"></span>
    {% block description %}{% endblock %}
</div>
