<div class="testimonial-info">
    <img src="/img/about-us/jordi.jpeg" class="rounded-2x lazy" alt="">
    <img src="/img/about-us/luis.jpg" class="rounded-2x lazy" alt="">
    <span class="testimonial-author">Jordi y Luis</span>
</div>