<div id="newsletterForm">
    <div class="container content">
        <div id="mc_embed_signup">
            <form action="https://team.us20.list-manage.com/subscribe/post?u=13d69f9b710506811a9c84ffc&amp;id=eccad064f9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" validate>
                <div id="mc_embed_signup_scroll">
                    <div class="form-group">
                        <label for="mce-EMAIL">Suscríbete a nuestra Newsletter mensual</label>
                        <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email" required>
                    </div>
                    <div id="mergeRow-gdpr">
                        <div>
                            <label>Política de privacidad</label>
                            <p>Para tal de cumplir con la ley de protección de datos RGPD necesitamos que indiques cómo quieres recibir la Newsletter:</p>
                            <div class="checkbox">
                                <label for="gdpr_2517">
                                    <input type="checkbox" id="gdpr_2517" name="gdpr[2517]" value="Y" required> Email
                                </label>
                            </div>
                            <p>Puedes dar de baja la suscripción clicando en el link que encontrarás al final de nuestros emails. </p>
                        </div>
                        <div>
                            <p>
                                Usamos Mailchimp como nuestra plataforma de marketing. Haciendo clic en el botón de suscribirse aceptas que la información será enviada a Mailchimp para que sea procesada.
                                <a href="https://mailchimp.com/legal/" target="_blank">Más información sobre la política de privacidad de Mailchimp</a>
                            </p>
                        </div>
                    </div>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_13d69f9b710506811a9c84ffc_eccad064f9" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Suscribirse" name="subscribe" id="mc-embedded-subscribe" class="btn-u btn-default"></div>
                </div>
            </form>
        </div>
    </div>
</div>
