<article class="container">
  <h2 class="text-center title"><t>Preguntas frecuentes</t></h2>
  <section class="question-wrapper">
    <article class="question" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h2 class="small-title" itemprop="name"><t>¿Puedo apuntarme yo solo?</t></h2>

      <section itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p class="text-dark-grey">
            <t>No. El programa está diseñado para impartirse en empresas.</t>
          </p>
          <p class="text-dark-grey">
            <t>Los grupos idealmente son de entre 4 y 6 personas, con un máximo de 8.</t>
          </p>
        </div>
      </section>
    </article>

    <article class="question" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h2 class="small-title" itemprop="name"><t>¿Pueden asistir personas que no saben programar?</t></h2>

      <section itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p class="text-dark-grey">
            <t>No. Este programa está diseñado para personas con conocimientos de programación.
            Que hayan programado al menos durante varios meses e idealmente algunos años.</t>
          </p>
        </div>
      </section>
    </article>

    <article class="question" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h2 class="small-title" itemprop="name"><t>¿Pueden asistir personas con varios años de experiencia?</t></h2>

      <section itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p class="text-dark-grey">
            <t>Sí, de hecho es muy interesante.</t>
          </p>

          <p class="text-dark-grey">
            <t>En el programa tratamos temas de patrones de diseño, testing, refactoring, mentalidad ágil y visión de producto con mucha profundidad.</t>
          </p>
        </div>
      </section>
    </article>

    <article class="question" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h2 class="small-title" itemprop="name"><t>¿Cómo es la experiencia de aprendizaje del programa?</t></h2>

      <section itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p class="text-dark-grey">
            <t>El programa es a tiempo completo, estando la mayor parte del tiempo todos juntos y un par de horas para que
            cada
            alumno profundice o refuerce lo aprendido por su cuenta.</t>
          </p>

          <p class="text-dark-grey">
            <t>Aprenderemos programando en grupo fomentando los debates y buscando los porqués dinamizado y acompañado por
            un
            profesor de Codium.</t>
          </p>
        </div>
      </section>
    </article>

    <article class="question" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h2 class="small-title" itemprop="name"><t>¿Qué material hace falta?</t></h2>

      <section itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p class="text-dark-grey">
            <t>Es necesario que todos los alumnos tengan un ordenador, buena conexión a internet, webcam, micrófono y un
              entorno tranquilo.</t>
          </p>
        </div>
      </section>
    </article>
  </section>
</article>
