<section class="hero">
  <h2 class="hero__title"><%= title  %> </h2>
  <p class="hero__subtitle"><%= subtitle  %></p>
  <div>
    <img src="<%= image %>" alt="<%= title  %> logo" class="hero__image" />
  </div>
</section>
