
<article class="container">
  <h4 class="text-center title">Agrupados en...</h4>
  <div class="bootcamp">
    <%- include('../../partials/cards/card-bootcamp', {
      title: 'Katas',
      list: [
        'Practicamos con ejercicios aislados con el objetivo de destilar la esencia de las prácticas y conceptos.'
      ],
      image: './img/illustrations/bootcamp/katas.png',
      isSmall: true
    }) %>

    <%- include('../../partials/cards/card-bootcamp', {
      title: 'Greenfield',
      list: [
        'Desarrollamos un proyecto simple aplicando TDD, patrones de diseño y automatizando la infraestructura.',
      ],
      image: './img/illustrations/bootcamp/greenfield.png',
      isSmall: true
    }) %>

    <%- include('../../partials/cards/card-bootcamp', {
      title: 'Legacy',
      list: [
        'Partiendo de un proyecto legacy, testearlo, mejorar su diseño refactorizándolo teniendo siempre los tests en verde.'
      ],
      image: './img/illustrations/bootcamp/legacy.png',
      isSmall: true
    }) %>

    <%- include('../../partials/cards/card-bootcamp', {
      title: 'Proyecto final',
      list: [
        'Trabajamos lo más parecido a lo que será su día a día cuando se incorpore a un equipo.'
      ],
      image: './img/illustrations/bootcamp/course.png',
      isSmall: true
    }) %>
  </div>
</article>

