<section class="block block--white" id="faqs">
  <div class="container">
    <h2 class="text-center title">Preguntas frecuentes</h2>
    <div class="question-wrapper">
      <div class="question">
        <p class="small-title">¿Puedo tomar el programa de aceleración si nunca he desarrollado antes?</p>
        <p class="text-dark-grey">
          Este programa está diseñado para aquellas personas con un mínimo de conocimientos técnicos
        </p>
      </div>

      <div class="question">
        <p class="small-title">¿Realizar un programa de aceleración tiene sentido si ya se poseen conocimientos?</p>

        <p class="text-dark-grey">
          Sí. En nuestros programas no vas a aprender sólo los conocimientos técnicos
        </p>

        <p class="text-dark-grey">
         Vas a aprender la metodología para programar con eficacia e integrar todas las técnicas, herramientas, tecnologías y lenguajes de forma profesional.
        </p>

        <p class="text-dark-grey">
         Además, adquirirás competencias en metodologías ágiles y soft skills.
        </p>
      </div>

      <div class="question">
        <p class="small-title">
          ¿Cómo es la experiencia de aprendizaje en línea de Codium?
        </p>

        <p class="text-dark-grey">
          Codium utiliza varias plataformas para facilitar su experiencia en el aula en línea.
        </p>

        <p class="text-dark-grey">
          Recibirá acceso e instrucciones antes de que comience la clase sobre lo que necesitará tener instalado.
        </p>

        <p class="text-dark-grey">
         El ambiente del salón de clases le permite hacer preguntas durante la lección, colaborar con otros estudiantes.
        </p>
      </div>

      <div class="question">
        <p class="small-title">
          ¿Cómo se desarrolla el programa?
        </p>

        <p class="text-dark-grey">
          El curso se compone de <a href="#content">varias temáticas</a>
        </p>

        <p class="text-dark-grey">
          Le sigue un ejercicio que se realiza en parejas donde se pone en práctica lo visto en la parte teórica mientras los formadores van dando feedback a los asistentes constantemente.
        </p>

        <p class="text-dark-grey">
          El bloque termina con un debate de grupo, donde los participantes comparten lo aprendido y tenemos discusiones todos juntos.
        </p>
      </div>

      <div class="question">
        <p class="small-title">¿Puedo apuntarme yo solo?</p>

        <p class="text-dark-grey">
          No. El programa está diseñado para impartirse en empresas.
        </p>
      </div>

      <div class="question">
        <p class="small-title">¿Qué material necesito?</p>

        <p class="text-dark-grey">
          Tan sólo es necesario traer un ordenador con las herramientas de
          desarrollo que cada uno utiliza instaladas. Lo ideal es realizar
          el curso en las mismas máquinas que el equipo utiliza en su día
          a día y Docker.
        </p>
      </div>
    </div>

    <div class="button__wrapper">
      <a
        class="button button--primary"
        href="#contactForm"
        data-trackevent="contact_us.show_form.qa"
        >Contactar</a
      >
    </div>
  </div>
</section>
