<section class="block block--white" id="faqs">
  <div class="container">
    <h2 class="text-center title">Preguntas frecuentes</h2>
    <div class="question-wrapper">
      <div class="question">
        <p class="small-title">¿Puedo apuntarme yo solo?</p>

        <p class="text-dark-grey">
          No. El programa está diseñado para impartirse en empresas.
        </p>
        <p class="text-dark-grey">
          Los grupos idealmente son de entre 4 y 6 personas, con un máximo de 8.
        </p>
      </div>

      <div class="question">
        <p class="small-title">¿Pueden asistir personas que no saben programar?</p>
        <p class="text-dark-grey">
          No. Este programa está diseñado para personas con conocimientos de programación.
          Que hayan programado al menos durante varios meses e idealmente algunos años.
        </p>
      </div>

      <div class="question">
        <p class="small-title">¿Pueden asistir personas con varios años de experiencia?</p>

        <p class="text-dark-grey">
          Sí, de hecho es muy interesante.
        </p>

        <p class="text-dark-grey">
          En el programa tratamos temas de patrones de diseño, testing, refactoring, mentalidad ágil y visión de producto con mucha profundidad.
        </p>
      </div>

      <div class="question">
        <p class="small-title">
          ¿Cómo es la experiencia de aprendizaje del programa?
        </p>

        <p class="text-dark-grey">
          El programa es a tiempo completo, estando la mayor parte del tiempo todos juntos y un par de horas para que cada alumno profundice o refuerce lo aprendido por su cuenta.
        </p>

        <p class="text-dark-grey">
          Aprenderemos programando en grupo fomentando los debates y buscando los porqués dinamizado y acompañado por un profesor de Codium.
        </p>
      </div>

      <div class="question">
        <p class="small-title">¿Qué material hace falta?</p>

        <p class="text-dark-grey">
          Es necesario que todos los alumnos tengan un ordenador, buena conexión a internet, webcam, micrófono y un entorno tranquilo.
        </p>
      </div>
    </div>

    <div class="button__wrapper">
      <a
        class="button button--primary"
        href="#contactForm"
        data-trackevent="contact_us.show_form.qa"
        >Contactar</a
      >
    </div>
  </div>
</section>
