<section class="block block--lila" id="value">
  <div class="container">
    <h2 class="text-center title bootcamp-sumary">El programa de aceleración es la forma más rápida de potenciar sus habilidades</h2>
    <article class="tdd-value">
        <div class="text-center tdd-value__item">
        <img
          src="/img/skills.svg"
          class="tdd-value__image"
          alt="El valor del curso explicado con bueno-bonito-barato"
        />
      </div>
      <aside class="tdd-value__item">
        <p>
          Un programa de aceleración del talento permite mejorar el nivel de habilidades y productividad de las nuevas contrataciones y el personal existente. Esto permite contratar personas y formarlas para alcanzar el máximo rendimiento.
        </p>
        <p>
          Ahorra un tiempo valioso de otros compañeros, ya que la fase de adaptación es menor.
        </p>
        <p>
          Facilita la contratación de nuevos compañeros gracias a apostar por personas con menos experiencia y formarlas. Esto tiene un impacto positivo en la imagen de la compañía y en la satisfacción de los empleados.
        </p>
        <p>
          El Programa de Aceleración es un programa de <strong>3 meses de preparación intensiva</strong> a través de una formación teórica y práctica de la mano de profesionales de amplia experiencia en las diferentes temáticas. La formación pone foco en transmitir una buena mentalidad, conocer las herramientas para ser productivo, escribir código mantenible y bien testeado y como ser un buen desarrollador de producto.
        </p>
      </aside>
    </article>

    <div class="button__wrapper">
      <a
        class="button button--primary"
        href="#contactForm"
        data-trackevent="contact_us.show_form.course_value"
        >Contactar</a
      >
    </div>
  </div>
</section>
