<div class="container">


  <h2 class="text-center title">El valor del curso</h2>

  <p class="text-center text-dark-grey text--summary">
    El curso es una buena forma de introducirse en el mundo del testing automático, entendiendo su función y beneficios.
  </p>
  <p class="text-center text-dark-grey text--summary">
    Desarrolla pruebas automáticas para asegurar la calidad de tu software utilizando herramientas como Cypress o Selenium.
  </p>

  <article class="tdd-value">
    <div class="text-center tdd-value__item">
      <svg xmlns="http://www.w3.org/2000/svg" width="439" height="391" viewBox="0 0 439 391" fill="none">
        <path d="M311.044 216.672H86.9283C83.7518 216.669 80.7065 215.401 78.4604 213.146C76.2143 210.892 74.9508 207.835 74.9473 204.647V132.492C74.9508 129.304 76.2143 126.247 78.4604 123.992C80.7065 121.738 83.7518 120.47 86.9283 120.466H311.044C314.22 120.47 317.266 121.738 319.512 123.992C321.758 126.247 323.021 129.304 323.025 132.492V204.647C323.021 207.835 321.758 210.892 319.512 213.146C317.266 215.401 314.22 216.669 311.044 216.672ZM86.9283 121.881C84.1255 121.884 81.4385 123.003 79.4566 124.992C77.4748 126.982 76.36 129.679 76.3568 132.492V204.647C76.36 207.46 77.4748 210.157 79.4566 212.146C81.4385 214.135 84.1255 215.254 86.9283 215.258H311.044C313.846 215.254 316.534 214.135 318.515 212.146C320.497 210.157 321.612 207.46 321.615 204.647V132.492C321.612 129.679 320.497 126.982 318.515 124.992C316.534 123.003 313.846 121.884 311.044 121.881H86.9283Z" fill="#3F3D56"/>
        <path d="M311.044 250.953H86.9283C83.7521 250.957 80.7073 252.211 78.4614 254.439C76.2155 256.668 74.9518 259.689 74.9473 262.84V334.165C74.9518 337.317 76.2155 340.338 78.4614 342.566C80.7073 344.795 83.7521 346.049 86.9283 346.053H311.044C314.22 346.05 317.266 344.796 319.512 342.568C321.758 340.339 323.021 337.317 323.025 334.165V262.84C323.021 259.688 321.758 256.667 319.512 254.438C317.266 252.209 314.22 250.956 311.044 250.953ZM321.615 334.165C321.613 336.947 320.498 339.613 318.516 341.58C316.534 343.546 313.847 344.652 311.044 344.654H86.9283C84.1256 344.651 81.4387 343.545 79.4569 341.579C77.4751 339.612 76.3602 336.946 76.3568 334.165V262.84C76.3602 260.059 77.4751 257.393 79.4569 255.427C81.4387 253.461 84.1256 252.355 86.9283 252.351H311.044C313.847 252.353 316.534 253.459 318.516 255.426C320.498 257.392 321.613 260.059 321.615 262.84V334.165Z" fill="#3F3D56"/>
        <path d="M347.874 23.1543H50.0909C48.4594 23.1557 46.8951 23.803 45.7414 24.9541C44.5877 26.1052 43.9389 27.6661 43.9375 29.294V318.903C43.939 320.531 44.5877 322.092 45.7414 323.243C46.8951 324.394 48.4594 325.041 50.0909 325.042H76.1998V323.289H50.0909C48.9254 323.288 47.808 322.825 46.9838 322.003C46.1597 321.181 45.6961 320.066 45.6947 318.903V29.294C45.6961 28.1311 46.1597 27.0161 46.9838 26.1938C47.808 25.3714 48.9254 24.9088 50.0909 24.9075H347.874C349.041 24.9074 350.16 25.3693 350.985 26.1917C351.811 27.0142 352.276 28.1299 352.277 29.294V318.903C352.278 319.759 352.025 320.597 351.55 321.311C351.129 321.939 350.556 322.452 349.885 322.803C349.264 323.124 348.574 323.291 347.874 323.289H321.765V325.042H347.874C348.764 325.042 349.643 324.85 350.45 324.478C351.258 324.106 351.975 323.563 352.552 322.888C352.601 322.835 352.646 322.779 352.686 322.719C353.054 322.271 353.351 321.77 353.568 321.233C353.878 320.495 354.037 319.703 354.034 318.903V29.294C354.032 27.665 353.383 26.1033 352.228 24.9521C351.072 23.8009 349.507 23.1543 347.874 23.1543Z" fill="#3F3D56"/>
        <path d="M352.927 47.4823H45.0449V49.6939H352.927V47.4823Z" fill="#3F3D56"/>
        <path d="M59.9954 41.9532C62.7478 41.9532 64.9791 39.4777 64.9791 36.4241C64.9791 33.3705 62.7478 30.895 59.9954 30.895C57.243 30.895 55.0117 33.3705 55.0117 36.4241C55.0117 39.4777 57.243 41.9532 59.9954 41.9532Z" fill="#C54040"/>
        <path d="M74.9466 41.9532C78.0049 41.9532 80.4841 39.4777 80.4841 36.4241C80.4841 33.3705 78.0049 30.895 74.9466 30.895C71.8884 30.895 69.4092 33.3705 69.4092 36.4241C69.4092 39.4777 71.8884 41.9532 74.9466 41.9532Z" fill="#FFC75D"/>
        <path d="M89.8978 41.9532C92.6502 41.9532 94.8815 39.4777 94.8815 36.4241C94.8815 33.3705 92.6502 30.895 89.8978 30.895C87.1453 30.895 84.9141 33.3705 84.9141 36.4241C84.9141 39.4777 87.1453 41.9532 89.8978 41.9532Z" fill="#57B894"/>
        <path d="M273.982 88.3975H125.097C122.664 88.3975 120.331 87.4655 118.611 85.8064C116.89 84.1474 115.924 81.8972 115.924 79.551C115.924 77.2047 116.89 74.9546 118.611 73.2955C120.331 71.6365 122.664 70.7045 125.097 70.7045H273.982C276.414 70.7045 278.748 71.6365 280.468 73.2955C282.188 74.9546 283.155 77.2047 283.155 79.551C283.155 81.8972 282.188 84.1474 280.468 85.8064C278.748 87.4655 276.414 88.3975 273.982 88.3975ZM125.097 72.0655C123.038 72.0655 121.064 72.8541 119.608 74.2579C118.153 75.6617 117.335 77.5657 117.335 79.551C117.335 81.5363 118.153 83.4402 119.608 84.8441C121.064 86.2479 123.038 87.0365 125.097 87.0365H273.982C276.04 87.0365 278.014 86.2479 279.47 84.8441C280.926 83.4402 281.743 81.5363 281.743 79.551C281.743 77.5657 280.926 75.6617 279.47 74.2579C278.014 72.8541 276.04 72.0655 273.982 72.0655H125.097Z" fill="#3F3D56"/>
        <path d="M228.775 164.699H150.37C148.871 164.699 147.434 164.116 146.374 163.08C145.314 162.043 144.719 160.636 144.719 159.17C144.719 157.703 145.314 156.297 146.374 155.26C147.434 154.223 148.871 153.641 150.37 153.641H228.775C230.273 153.641 231.71 154.223 232.77 155.26C233.83 156.297 234.425 157.703 234.425 159.17C234.425 160.636 233.83 162.043 232.77 163.08C231.71 164.116 230.273 164.699 228.775 164.699Z" fill="#6C63FF"/>
        <path d="M300.788 183.498H150.343C148.851 183.498 147.421 182.915 146.366 181.878C145.311 180.841 144.719 179.435 144.719 177.969C144.719 176.502 145.311 175.096 146.366 174.059C147.421 173.022 148.851 172.44 150.343 172.44H300.788C302.28 172.44 303.71 173.022 304.765 174.059C305.82 175.096 306.412 176.502 306.412 177.969C306.412 179.435 305.82 180.841 304.765 181.878C303.71 182.915 302.28 183.498 300.788 183.498Z" fill="#6C63FF"/>
        <path d="M112.602 190.133C124.223 190.133 133.644 180.478 133.644 168.569C133.644 156.66 124.223 147.006 112.602 147.006C100.981 147.006 91.5596 156.66 91.5596 168.569C91.5596 180.478 100.981 190.133 112.602 190.133Z" fill="#6C63FF"/>
        <path d="M300.774 206.72H281.04C279.545 206.72 278.111 206.137 277.054 205.101C275.996 204.064 275.402 202.657 275.402 201.191C275.402 199.725 275.996 198.318 277.054 197.281C278.111 196.244 279.545 195.662 281.04 195.662H300.774C302.269 195.662 303.703 196.244 304.761 197.281C305.818 198.318 306.412 199.725 306.412 201.191C306.412 202.657 305.818 204.064 304.761 205.101C303.703 206.137 302.269 206.72 300.774 206.72Z" fill="white"/>
        <path d="M300.774 206.72H281.04C279.545 206.72 278.111 206.137 277.054 205.101C275.996 204.064 275.402 202.657 275.402 201.191C275.402 199.725 275.996 198.318 277.054 197.281C278.111 196.244 279.545 195.662 281.04 195.662H300.774C302.269 195.662 303.703 196.244 304.761 197.281C305.818 198.318 306.412 199.725 306.412 201.191C306.412 202.657 305.818 204.064 304.761 205.101C303.703 206.137 302.269 206.72 300.774 206.72Z" fill="#CCCCCC"/>
        <path d="M228.775 294.08H150.37C148.871 294.08 147.434 293.497 146.374 292.46C145.314 291.423 144.719 290.017 144.719 288.55C144.719 287.084 145.314 285.678 146.374 284.641C147.434 283.604 148.871 283.021 150.37 283.021H228.775C230.273 283.021 231.71 283.604 232.77 284.641C233.83 285.678 234.425 287.084 234.425 288.55C234.425 290.017 233.83 291.423 232.77 292.46C231.71 293.497 230.273 294.08 228.775 294.08Z" fill="#6C63FF"/>
        <path d="M300.788 313.984H150.343C148.851 313.984 147.421 313.344 146.366 312.203C145.311 311.062 144.719 309.515 144.719 307.902C144.719 306.289 145.311 304.742 146.366 303.602C147.421 302.461 148.851 301.82 150.343 301.82H300.788C302.28 301.82 303.71 302.461 304.765 303.602C305.82 304.742 306.412 306.289 306.412 307.902C306.412 309.515 305.82 311.062 304.765 312.203C303.71 313.344 302.28 313.984 300.788 313.984Z" fill="#6C63FF"/>
        <path d="M112.602 319.513C124.223 319.513 133.644 310.107 133.644 298.503C133.644 286.899 124.223 277.492 112.602 277.492C100.981 277.492 91.5596 286.899 91.5596 298.503C91.5596 310.107 100.981 319.513 112.602 319.513Z" fill="#6C63FF"/>
        <path d="M300.774 336.101H281.04C279.545 336.101 278.111 335.518 277.054 334.481C275.996 333.444 275.402 332.038 275.402 330.572C275.402 329.105 275.996 327.699 277.054 326.662C278.111 325.625 279.545 325.042 281.04 325.042H300.774C302.269 325.042 303.703 325.625 304.761 326.662C305.818 327.699 306.412 329.105 306.412 330.572C306.412 332.038 305.818 333.444 304.761 334.481C303.703 335.518 302.269 336.101 300.774 336.101Z" fill="#CCCCCC"/>
        <path opacity="0.2" d="M344.62 232.154C352.266 232.154 358.464 225.718 358.464 217.778C358.464 209.839 352.266 203.403 344.62 203.403C336.974 203.403 330.776 209.839 330.776 217.778C330.776 225.718 336.974 232.154 344.62 232.154Z" stroke="#6C63FF" stroke-miterlimit="10"/>
        <path opacity="0.2" d="M344.067 257.588C366.086 257.588 383.936 239.764 383.936 217.778C383.936 195.792 366.086 177.969 344.067 177.969C322.047 177.969 304.197 195.792 304.197 217.778C304.197 239.764 322.047 257.588 344.067 257.588Z" stroke="#6C63FF" stroke-miterlimit="10"/>
        <path d="M346.281 219.38V240.504C346.281 240.929 346.106 241.337 345.795 241.637C345.483 241.937 345.061 242.106 344.62 242.106C344.18 242.106 343.757 241.937 343.446 241.637C343.134 241.337 342.959 240.929 342.959 240.504V219.38C342.959 219.17 343.002 218.961 343.085 218.767C343.169 218.573 343.291 218.396 343.446 218.247C343.6 218.099 343.783 217.981 343.984 217.9C344.186 217.82 344.402 217.778 344.62 217.778C345.06 217.782 345.48 217.952 345.791 218.251C346.101 218.551 346.278 218.956 346.281 219.38Z" fill="#6F758D"/>
        <path d="M378.399 276.418V309.53C378.391 312.175 377.335 314.71 375.462 316.581C373.588 318.452 371.049 319.506 368.399 319.513H354.073C351.422 319.508 348.881 318.454 347.006 316.584C345.131 314.713 344.074 312.177 344.066 309.53V276.418C344.076 273.772 345.133 271.236 347.008 269.366C348.883 267.496 351.422 266.442 354.073 266.434H368.399C371.049 266.442 373.588 267.496 375.462 269.366C377.335 271.237 378.391 273.772 378.399 276.418Z" fill="#6F758D"/>
        <path opacity="0.1" d="M378.399 276.497V286.602C377.143 287.157 375.787 287.444 374.416 287.445H348.063C346.687 287.446 345.325 287.156 344.066 286.595V276.497C344.076 273.83 345.133 271.275 347.008 269.389C348.883 267.504 351.422 266.442 354.073 266.434H368.399C371.048 266.443 373.586 267.507 375.46 269.392C377.333 271.277 378.389 273.831 378.399 276.497Z" fill="black"/>
        <path opacity="0.1" d="M346.281 233.26V240.521C346.281 240.942 346.106 241.345 345.795 241.642C345.483 241.939 345.061 242.106 344.62 242.106C344.18 242.106 343.757 241.939 343.446 241.642C343.134 241.345 342.959 240.942 342.959 240.521V234.41C343.984 233.838 345.11 233.448 346.281 233.26Z" fill="black"/>
        <path d="M375.464 234.365H345.894C341.215 234.365 337.422 238.088 337.422 242.681V276.918C337.422 281.51 341.215 285.233 345.894 285.233H375.464C380.143 285.233 383.936 281.51 383.936 276.918V242.681C383.936 238.088 380.143 234.365 375.464 234.365Z" fill="#747C9D"/>
        <path opacity="0.1" d="M373.968 268.505V289.656H347.389V268.462C349.134 267.145 351.264 266.433 353.455 266.434H367.917C370.106 266.451 372.231 267.178 373.968 268.505Z" fill="black"/>
        <path opacity="0.1" d="M373.968 234.365H347.389V287.445H373.968V234.365Z" fill="black"/>
        <path d="M373.968 234.365H346.281V287.445H373.968V234.365Z" fill="#6F758D"/>
        <path d="M358.464 253.164H349.604V254.27H358.464V253.164Z" fill="#DCDFED"/>
        <path d="M371.753 253.164H364.001V254.27H371.753V253.164Z" fill="#DCDFED"/>
        <path d="M368.432 269.752H354.034V270.857H368.432V269.752Z" fill="#DCDFED"/>
        <path d="M384.49 321.725C395.805 321.725 404.978 312.566 404.978 301.267C404.978 289.969 395.805 280.81 384.49 280.81C373.174 280.81 364.001 289.969 364.001 301.267C364.001 312.566 373.174 321.725 384.49 321.725Z" fill="#57B894"/>
        <path d="M384.501 308.455C384.186 308.455 383.891 308.301 383.717 308.042L378.553 300.379C378.268 299.956 378.389 299.389 378.822 299.111C379.256 298.834 379.838 298.951 380.122 299.374L384.446 305.79L391.042 294.541C391.299 294.102 391.872 293.949 392.322 294.2C392.773 294.451 392.929 295.01 392.672 295.449L385.317 307.994C385.155 308.271 384.857 308.445 384.531 308.455C384.521 308.455 384.511 308.455 384.501 308.455Z" fill="white"/>
        <path opacity="0.1" d="M359.115 323.11C350.449 327.264 343.001 327.898 337.161 327.111C332.503 326.469 328.625 324.985 325.649 322.706C325.076 322.272 324.535 321.811 324.027 321.321C322.727 320.072 321.638 318.652 320.768 317.072C320.242 316.123 319.797 315.118 319.431 314.056C318.153 310.371 317.859 306.047 318.558 301.206C318.763 299.807 319.053 298.367 319.43 296.886C320.056 294.414 320.929 291.836 322.044 289.171C322.29 288.581 322.549 287.987 322.82 287.389L322.931 287.143C323.147 286.67 323.373 286.193 323.585 285.721C323.956 284.923 324.255 284.149 324.479 283.405C324.493 283.355 324.507 283.306 324.519 283.257C324.557 283.123 324.587 282.991 324.613 282.862C324.668 282.595 324.703 282.336 324.718 282.089C324.789 280.944 324.441 280.044 323.832 279.329C323.737 279.206 323.623 279.097 323.508 278.988C323.348 278.836 323.173 278.694 322.988 278.561L322.918 278.512C322.314 278.099 321.625 277.76 320.857 277.499C319.676 277.091 318.371 276.802 317.128 276.457C316.599 276.312 316.081 276.157 315.586 275.979L315.478 275.94C314.773 275.689 314.138 275.369 313.579 274.983C312.34 274.081 311.646 272.73 311.543 271.017L311.539 270.958L311.532 270.848L311.527 270.695C311.518 270.437 311.522 270.171 311.539 269.899L311.55 269.733C311.567 269.468 311.598 269.198 311.642 268.923L311.669 268.745C311.716 268.457 311.775 268.166 311.846 267.87C311.869 267.765 311.898 267.657 311.923 267.553C312.006 267.233 312.101 266.908 312.208 266.579C312.321 266.23 312.448 265.877 312.588 265.519C312.651 265.354 312.719 265.188 312.79 265.02C313.193 264.057 313.692 263.063 314.28 262.046C314.31 261.992 314.342 261.938 314.373 261.885C314.534 261.611 314.701 261.336 314.875 261.06C314.939 260.957 315.003 260.855 315.071 260.752C315.286 260.417 315.511 260.081 315.746 259.743C315.779 259.693 315.815 259.644 315.848 259.595C316.821 258.203 317.955 256.797 319.225 255.408C319.263 255.365 319.303 255.322 319.343 255.28C319.749 254.842 320.167 254.405 320.599 253.97C320.78 253.788 320.967 253.604 321.151 253.427C321.205 253.373 321.261 253.319 321.315 253.266C324.018 250.668 327.06 248.27 330.114 245.923C330.47 245.649 330.826 245.375 331.181 245.102C336.128 241.315 341.177 237.486 346.293 234.059C346.327 234.033 346.365 234.011 346.399 233.988C348.121 232.834 349.858 231.729 351.603 230.678C353.434 229.574 355.271 228.55 357.101 227.613C361.607 225.313 366.014 223.617 370.249 222.24C375.347 220.587 380.296 219.378 384.742 218.85C385.381 218.775 386.01 218.712 386.629 218.663L386.911 218.643C387.011 218.636 387.113 218.625 387.205 218.624C387.409 218.608 387.606 218.599 387.804 218.59L388.026 218.58L388.446 218.562L388.569 218.562L388.784 218.56L388.998 218.557C389.25 218.552 389.499 218.551 389.746 218.555C390.808 218.564 391.822 218.628 392.789 218.749C393.074 218.784 393.355 218.825 393.63 218.871C394.884 219.078 396.035 219.397 397.074 219.824C397.458 219.982 397.824 220.157 398.171 220.349C398.583 220.573 398.971 220.818 399.335 221.086C399.914 221.511 400.431 221.988 400.885 222.515C404.086 226.22 404.21 232.351 401.008 239.643C399.732 242.549 397.955 245.645 397.309 248.304C396.749 250.622 397.208 252.478 399.346 252.856C401.113 253.168 402.115 253.484 402.878 254.774C404.443 257.454 405.142 260.743 404.954 264.533C404.948 264.685 404.939 264.839 404.929 264.992C404.289 274.988 397.837 288.12 386.518 301.066C386.219 301.408 385.915 301.75 385.608 302.093C378.316 310.23 368.772 318.481 359.115 323.11Z" fill="#6C63FF"/>
        <path opacity="0.2" d="M344.067 243.212C358.135 243.212 369.539 231.825 369.539 217.778C369.539 203.731 358.135 192.344 344.067 192.344C329.999 192.344 318.595 203.731 318.595 217.778C318.595 231.825 329.999 243.212 344.067 243.212Z" stroke="#6C63FF" stroke-miterlimit="10"/>
        <g class="animate">
          <ellipse cx="289.145" cy="203.03" rx="7.38889" ry="7.31343" fill="#FFC75D"/>
          <path d="M311.915 215.659L293.358 204.421C293.004 204.206 292.596 204.087 292.177 204.076C291.757 204.064 291.343 204.161 290.976 204.356C290.61 204.551 290.305 204.837 290.094 205.184C289.883 205.53 289.774 205.925 289.777 206.326L289.96 225.705C289.965 226.22 290.156 226.717 290.5 227.113C290.845 227.509 291.322 227.778 291.851 227.876C292.38 227.973 292.927 227.893 293.401 227.648C293.875 227.403 294.246 227.009 294.45 226.533L296.865 220.915L303.596 233.61C303.916 234.211 304.472 234.666 305.142 234.875C305.812 235.084 306.541 235.03 307.17 234.725C307.798 234.42 308.275 233.889 308.494 233.248C308.714 232.608 308.659 231.91 308.341 231.308L301.456 218.325L310.279 219.746C310.811 219.831 311.356 219.738 311.824 219.482C312.292 219.227 312.653 218.824 312.845 218.343C313.038 217.861 313.051 217.331 312.881 216.842C312.711 216.353 312.37 215.935 311.915 215.659Z" fill="#3F3D56"/>
        </g>
      </svg>
    </div>

    <aside class="tdd-value__item">
      <h2 class="tdd-value__title">Beneficios al automatizar las pruebas manuales</h2>
      <ul class="course-calendar__items">
        <li class="text-dark-grey">
          <p class="text-bold">Ahorra tiempo y dolores de cabeza</p>
          <p>
            Al automatizar las pruebas manuales, se pueden ejecutar múltiples pruebas en un corto período de tiempo, lo que reduce significativamente el tiempo necesario para obtener feedback.
          </p>
        </li>
        <li class="text-dark-grey">
          <p class="text-bold">Mejora de la eficiencia</p>
          <p>
            Las pruebas repetitivas y monótonas se pueden ejecutar de manera automática, lo que permite a los equipos de QA centrarse en pruebas más complejas y valiosas.
          </p>
        </li>

        <li class="text-dark-grey">
          <p class="text-bold">Mayor cobertura</p>
          <p>
            Se pueden ejecutar pruebas en diferentes plataformas, navegadores y dispositivos de forma sencilla. Esto permite una mayor cobertura de las pruebas y una mejor detección de errores.
          </p>
        </li>

        <li class="text-dark-grey">
          <p class="text-bold">Mejora de la experiencia del desarrollador</p>
          <p>
            Se pueden ejecutar pruebas de manera automática después de cada cambio en el código, lo que permite detectar errores temprano y mejorar la experiencia del desarrollador.
          </p>
        </li>
      </ul>

      <p class="text-dark-grey">
        Además de los beneficios mencionados anteriormente, automatizar las pruebas manuales también tiene un impacto positivo en la satisfacción del cliente al entregar un software que funciona de manera correcta. Al automatizar las pruebas, se pueden detectar errores temprano y corregirlos antes de subirlo a producción.
      </p>
    </aside>
  </article>

  <div class="button__wrapper">
    <a class="button button--primary" href="#contactForm"
       data-trackevent="contact_us.show_form.course_value">Contactar</a>
  </div>
</div>
