<div class="container">
  <h2 class="text-center title">
    ¿Qué contiene este curso?
  </h2>

  <div class="calendar">
      <article class="course-calendar">
        <div class="course-calendar__day">
          <p class="small-title">Bloque 1</p>
        </div>
        <div class="course-calendar__list">
          <p class="small-title">
            Introducción al testing automático
          </p>
          <ul class="course-calendar__items">
            <li class="text-dark-grey">
              ¿Qué es testing?
            </li>
            <li class="text-dark-grey">
              ¿Por qué escribimos tests?
            </li>
            <li class="text-dark-grey">
              Introducción a la automatización de procesos. Cómo grabar y ejecutar los pasos manuales.
            </li>
          </ul>

          <p class="small-title course-calendar__title">
            Mejorando la calidad de nuestros tests
          </p>
          <ul class="course-calendar__items">

              <li class="text-dark-grey">
                Desacoplarnos del markup utilizando selectores de accesibilidad con Testing-library.
              </li>
              <li class="text-dark-grey">
                Definir y usar comandos custom en Cypress.
              </li>
              <li class="text-dark-grey">
                Diferentes tipos de validaciones.
              </li>
              <li class="text-dark-grey">
                Reducir la duplicidad con los hooks beforeEach, afterEach, before y after.
              </li>
          </ul>

        </div>
      </article>
      <article class="course-calendar">
        <div class="course-calendar__day">
          <p class="small-title">Bloque 2</p>
        </div>
        <div class="course-calendar__list">
          <p class="small-title course-calendar__title">
            Cross Browsers testing
          </p>
          <ul class="course-calendar__items">
            <li class="text-dark-grey">
              Beneficios de probar en diferentes navegadores y dispositivos.
            </li>
            <li class="text-dark-grey">
              Cómo ejecutar los tests en diferentes navegadores.
            </li>
            <li class="text-dark-grey">
              Cómo simular diferentes resoluciones y dispositivos.
            </li>
          </ul>

          <p class="small-title">Snapshot testing</p>
          <ul class="course-calendar__items">
            <li class="text-dark-grey">¿Qué es y para qué se utiliza?</li>
          </ul>

          <p class="small-title">Dobles de pruebas</p>
          <ul class="course-calendar__items">
            <li class="text-dark-grey">Qué son y para qué sirven los Stubs y Spies</li>
            <li class="text-dark-grey">Cómo y cuándo usarlos</li>
            <li class="text-dark-grey">Particularidades en Cypress</li>
          </ul>
        </div>
      </article>
      <article class="course-calendar">
        <div class="course-calendar__day">
          <p class="small-title">Bloque 3</p>
        </div>
        <div class="course-calendar__list">
          <p class="small-title">Behavior Driven Development</p>
          <ul class="course-calendar__items">
            <li class="text-dark-grey">
              BDD y la importancia del uso de un lenguaje común.</li>
            <li class="text-dark-grey">
              Historias de usuario y criterios de aceptación.</li>
            <li class="text-dark-grey">Introducción a Gherkin y Cucumber</li>
            <li class="text-dark-grey">Generar tests parametrizados usando los escenarios.</li>
          </ul>

          <p class="small-title">Test unitarios</p>
          <ul class="course-calendar__items">
            <li class="text-dark-grey">
              Propiedades de los tests unitarios.
            </li>
            <li class="text-dark-grey">Escribir buenos tests con Jest.</li>
          </ul>
        </div>
      </article>
  </div>

  <div class="button__wrapper">
    <a
      class="button button--primary"
      href="#contactForm"
      data-trackevent="contact_us.show_form.course_index"
    >
      ¡Me interesa!
    </a>
  </div>
</div>

