<div class="container">
  <h2 class="text-center title">
    ¿Qué contiene este curso?
  </h2>

  <div class="calendar">
      <article class="course-calendar">
        <div class="course-calendar__day">
          <p class="small-title">Bloque 1</p>
        </div>
        <div class="course-calendar__list">
          <p class="small-title">
            Introducción
          </p>
          <ul class="course-calendar__items">
            <li class="text-dark-grey">
              ¿Qué es testing?
            </li>
            <li class="text-dark-grey">
              ¿Por qué escribimos tests?
            </li>
          </ul>

          <p class="small-title course-calendar__title">
            Automated test case
          </p>
          <ul class="course-calendar__items">
            <li class="text-dark-grey">
              Introducción a la automatización de procesos. Cómo grabar y ejecutar los pasos manuales. 
            </li>
            <ul>
              <li class="text-dark-grey">
                Desacoplarnos del markup utilizando selectores de accesibilidad con Testing-library
              </li>
              <li class="text-dark-grey">
                Definir y usar comandos custom en Cypress
              </li>
              <li class="text-dark-grey">
                Introducción de validaciones
              </li>
              <li class="text-dark-grey">
                Introducción a los hooks beforeEach, afterEach...
              </li>
            </ul>
          </ul>

        </div>
      </article>
      <article class="course-calendar">
        <div class="course-calendar__day">
          <p class="small-title">Bloque 2</p>
        </div>
        <div class="course-calendar__list">
          <p class="small-title course-calendar__title">
            Cross Browsers testing
          </p>
          <ul class="course-calendar__items">
            <li class="text-dark-grey">
              ¿Por qué hacer cross browser testing?
            </li>
            <li class="text-dark-grey">
              Ejecutar tests en diferentes navegadores como Chrome, Edge y Firefox.
            </li>
            <li class="text-dark-grey">
              Testing en diferentes resoluciones y dispositivos.
            </li>
          </ul>

          <p class="small-title">Snapshot testing</p>
          <ul class="course-calendar__items">
            <li class="text-dark-grey">¿Qué es y para qué se utiliza?</li>
          </ul>

          <p class="small-title">Dobles de pruebas</p>
          <ul class="course-calendar__items">
            <li class="text-dark-grey">Para qué sirven los tests dobles</li>
            <li class="text-dark-grey">Cómo y cuándo usarlos</li>
            <li class="text-dark-grey">Tipos de dobles: mock, spy, stub, fake y dummy</li>
            <li class="text-dark-grey">Cómo funcionan en Cypress</li>
          </ul>
        </div>
      </article>
      <article class="course-calendar">
        <div class="course-calendar__day">
          <p class="small-title">Bloque 3</p>
        </div>
        <div class="course-calendar__list">
          <p class="small-title">Behavior Driven Development</p>
          <ul class="course-calendar__items">
            <li class="text-dark-grey">
              Definición de BDD.
            </li>
            <li class="text-dark-grey">Uso del lenguaje común.</li>
            <li class="text-dark-grey">
              Definición de las historias de usuario.
            </li>
            <ul>
              <li class="text-dark-grey">Uso de templates: “As I, I want, so that”.</li>
            </ul>
            <li class="text-dark-grey">Definir criterios de aceptación.</li>
            <li class="text-dark-grey">Introducción a Gherkin</li>
            <li class="text-dark-grey">Introducción a Cucumber y los archivos .feature</li>
            <li class="text-dark-grey">Generar tests parámetrizados usando los escenarios.</li>
          </ul>

          <p class="small-title">Test unitarios</p>
          <ul class="course-calendar__items">
            <li class="text-dark-grey">
              Propiedades
            </li>
            <li class="text-dark-grey">Cómo crear nuestros primeros tests unitarios utilizando JEST</li>
            <li class="text-dark-grey">
              Test parametrizados
            </li>
          </ul>
        </div>
      </article>
  </div>

  <div class="button__wrapper">
    <a
      class="button button--primary"
      href="#contactForm"
      data-trackevent="contact_us.show_form.course_index"
    >
      ¡Me interesa!
    </a>
  </div>
</div>

