<div class="container">

  <h2 class="text-center title">Exploraremos los problemas más conocidos a la hora de testear una aplicación web</h2>

  <p class="text-center text-dark-grey text--summary">
    Aprenderemos a utilizar herramientas y técnicas para abordar estos problemas y garantizar la calidad de la aplicación.
  </p>

  <section class="videos">
    <article>
      <iframe src="https://www.youtube.com/embed/bNSL9gNmQUw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <p class="text-center">
        Cómo <strong>saltarse interacciones de usuario</strong> que escapan de nuestro control
      </p>
    </article>
    <article>
      <iframe src="https://www.youtube.com/embed/tpcgaKOgjpQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <p class="text-center">
        <strong>Interceptar</strong> una petición y <strong>falsear</strong> una respuesta
      </p>
    </article>
  </section>

  <div class="button__wrapper">
    <a class="button button--primary" href="#contactForm"
       data-trackevent="contact_us.show_form.course_value">Contactar</a>
  </div>
</div>
