<article class="container">
    <section class="question-wrapper">
        <article class="question question--block question--green">
            <h3 class="small-title">
                <span>
                    <img src="./img/success-check.png" alt="success check icon"/>
                    Éste curso es para ti sí:
                </span>
            </h3>
            <section>
                <ul>
                    <li>
                        Nunca has programado y haces pruebas manuales.
                    </li>

                    <li>
                        Te gusta el testing manual y deseas automatizarlo.
                    </li>

                    <li>
                        Conoces el proceso de desarrollo y quieres ayudar a escribir mejores pruebas.
                    </li>

                    <li>
                        Deseas introducir buenas prácticas a tus tests.
                    </li>
                </ul>
            </section>
        </article>

        <article class="question question--block question--red">
            <h3 class="small-title">
                <span>
                    <img src="./img/wrong.png" alt="wrong icon" />

                    Éste curso no es para ti sí:
                </span>
            </h3>

            <section>
                <ul>
                    <li>
                        Eres un experto en test e2e.
                    </li>

                    <li>
                        Buscas un curso  sobre cómo aplicar TDD en tu día a día.
                    </li>

                    <li>
                        Si ya estás familiarizado y aplicas buenas prácicas a la hora de crear test end-to-end (e2e).
                    </li>

                    <li>
                        Buscas un curso para aprender a optimizar tus tests e2e.
                    </li>
                </ul>
            </section>
        </article>
    </section>
</article>
