<article class="container">
    <section class="question-wrapper question-wrapper--block">
        <article class="question question--block question--green">
            <h3 class="small-title">
                <span>
                    <img src="./img/success-check.png" alt="success check icon"/>
                    Este curso es para ti si:
                </span>
            </h3>
            <section>
                <ul>
                    <li>
                        Eres tester o desarrollador y haces pruebas manuales.
                    </li>

                    <li>
                        Deseas introducir buenas prácticas a tus tests.
                    </li>

                    <li>
                        Conoces el proceso de desarrollo y quieres ayudar a escribir mejores pruebas.
                    </li>

                </ul>
            </section>
        </article>

        <article class="question question--block question--red">
            <h3 class="small-title">
                <span>
                    <img src="./img/wrong.png" alt="wrong icon" />

                    Este curso no es para ti si:
                </span>
            </h3>

            <section>
                <ul>
                    <li>
                        Eres un experto en test tests automáticos.
                    </li>

                    <li>
                        Buscas un curso  sobre cómo aplicar TDD en tu día a día.
                    </li>

                    <li>
                        Si ya estás familiarizado y aplicas buenas prácicas a la hora de crear test end-to-end (e2e).
                    </li>

                </ul>
            </section>
        </article>
    </section>
</article>
