$carousel-padding: 2.8rem;

.carousel {
  padding: 0 $carousel-padding;
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}

.glide {
  margin-top: 2rem;
}

.glide .glide__arrow {
  color: $dark-grey;
  cursor: pointer;
  font-size: $text-xl-normal;
  border: none;
  box-shadow: none;
  text-shadow: none;
  top: 32%;

  &:hover {
    color: darken($dark-grey, 10%);
  }

  &--left {
    left: $carousel-padding * -1;
  }

  &--right {
    right: $carousel-padding * -1;
  }
}

.glide .glide__bullets {
  position: relative;
  text-align: center;
  margin-top: 3rem;
}

.glide .glide__bullet {
  display: inline-block;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #c4c4c4;
  box-shadow: none;
  border: none;

  &:hover,
  &:focus {
    background: darken(#c4c4c4, 10%);
    border: none;
  }

  &--active {
    background-color: $primary-brand-color;
    &:hover,
    &:focus {
      background-color: $primary-brand-hover-dark-color;
    }
  }
}

.glide .glide__slide {
  height: auto;
}

.slides {
  align-items: center;
}

#clients {
  .glide__slide {
    text-align: center;
  }

  .glide__arrow {
    top: 50%;
    transform: translateY(-100%);
  }

  .client__item {
    min-width: 120px;
  }
}

.client {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  overflow: auto;
  background-image:

    /* Shadows */ linear-gradient(to right, white, white),
    linear-gradient(to right, white, white),
    /* Shadow covers */
      linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0)),
    linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0));

  background-position: left center, right center, left center, right center;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;

  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;

  &__item {
    img {
      filter: grayscale(100%);
      max-width: 150px;
    }

    img[src$='.svg'] {
      min-width: 120px;
    }

    &--roiback {
      img {
        max-height: 25px;
      }
    }

    &--ge {
      img {
        max-height: 40px;
      }
    }

    &--taiger {
      img {
        max-height: 50px;
      }
    }

    &--glovo {
      img {
        max-height: 40px;
      }
    }
  }

  @media (min-width: 768px) {
    justify-content: center;
  }
}
