.course__metodology {
  max-width: 1200px;
  margin: 2rem auto 0 auto;
}

.course-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .hero__subtitle {
    margin-bottom: 1rem;
  }

  .hero {
    flex: 0 0 60%;
  }
}

@media (min-width: 768px) {
  .course-hero {
    flex-direction: row;
  }
}

.course__information {
  &-wrapper {
    margin: 2rem 0;
  }

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 1.5rem 0;
  text-align: left;

  i {
    color: $primary-brand-color;
    font-size: 1.7rem;
    min-width: 35px;
    text-align: center;
  }

  &-text {
    margin: 0 0.8rem;
  }

  &-desc {
    font-size: 14px;
    color: $dark-grey;
    margin: 0 0.8rem;
  }
}

.resume {
  &__title {
    font-weight: bold;
    font-size: 14px;
    margin: 0;
  }

  &__text {
    margin-top: 0.5rem;
    font-size: 14px;
    color: $dark-grey;
    margin-bottom: 0.5em;
  }
}
