.course__team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4rem auto 0 auto;
  flex-direction: column;

  .card.card--personal {
    margin: 1rem 0;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    .card.card--personal {
      margin: 1rem;
      max-width: 250px;
    }
  }
}
