<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/metatags', {
        title: 'Codium: Not found',
        description: 'Formamos a equipos de programación. Desarrollamos software de calidad. Estamos especializados en Clean code, TDD y patrones de diseño.',
    }) %>
</head>

<body class="home-page">
  <%- include('partials/analytics') %>

  <%- include('partials/header/landing-navbar', {
      menu: [
        {
          title: 'Home',
          url: '/',
        },
      ]
    }) %>

  <main class="block block--white">
    <div class="container-item">
      <div class="container">
        <h2 id="zend-text" class="fade-in">YOUR CODE CAN’T FAIL UNIT TESTS
          <span class="unit">IF YOU DON’T MAKE UNIT TESTS</span>
        </h2>
      </div>
      <img src="./img/zend.png" alt="Zend codium"/>
      <div class="blobs">
        <div data-liquid="true"></div>
        <div data-blob="true"></div>
        <div data-blob="true"></div>
        <div data-blob="true"></div>
        <div data-blob="true"></div>
        <div data-blob="true"></div>
        <div data-blob="true"></div>
        <div data-blob="true"></div>
        <div data-blob="true"></div>
      </div>

      <img src="./img/no_tests_404.png" alt="No tests found - 404" class="hidden not-found"/>
    </div>

    <div class=""></div>

    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="0">
      <defs>
        <filter id="goog">
          <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
          <feBlend in="SourceGraphic" in2="goo" />
        </filter>
        <filter id="goo">
          <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
          <feBlend in="SourceGraphic" in2="goo" />
        </filter>
      </defs>
    </svg>
  </main>

  <%- include('partials/footer') %>

  <script type="module" src="./js/404.js"></script>
</body>

</html>
