<!DOCTYPE html>
<html lang="<%= process.env.locale %>">

<head>
  <%- include('partials/analytics_head') %>
  <meta name="robots" content="noindex">
  <%- include('partials/metatags', {
        title: 'Codium: Not found',
        description: 'Formamos a equipos de programación. Desarrollamos software de calidad. Estamos especializados en Clean code, TDD y patrones de diseño.',
    }) %>
</head>

<body class="home-page">
  <%- include('partials/analytics_body') %>
  <%- include('partials/header/landing-navbar', {
      menu: [
        {
          title: 'Home',
          url: '/',
        },
      ]
    }) %>

  <main class="block block--white">
    <div class="container-item">
      <ul class="container testing">
          <li><span class="icon-test icon-test--executing"></span><span><t>El servidor está levantado y funcionando</t></span></li>
          <li><span class="icon-test icon-test--executing"></span><span><t>Tienes conexión a internet</t></span></li>
          <li><span class="icon-test  icon-test--executing test-error"></span><span><t>La página que buscabas existe</t></span></li>
      </ul>
      <img src="./img/no_tests_404.png" alt="No tests found - 404" class="not-found"/>
        <div class="urls">
            <h3>¿No puedes encontrar lo que estabas buscando?</h3>
            <ul class="pages">
                <li><a href="/#our-services">Échale un vistazo a nuestros servicios</a></li>
                <li><a href="/#courses-list">Revisa nuestros cursos</a></li>
                <li><a href="/#team">Conoce al equipo</a></li>
            </ul>
        </div>
    </div>

    <div>
      <div class="starsec"></div>
      <div class="starthird"></div>
      <div class="starfourth"></div>
      <div class="starfifth"></div>
    </div>

  </main>

  <%- include('partials/footer') %>

  <script type="module" src="./js/404.js"></script>
</body>

</html>
