<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/metatags', {
        title: 'Codium: Not found',
        description: 'Formamos a equipos de programación. Desarrollamos software de calidad. Estamos especializados en Clean code, TDD y patrones de diseño.',
    }) %>
</head>

<body class="home-page">
  <%- include('partials/analytics') %>

  <%- include('partials/header/landing-navbar', {
      menu: [
        {
          title: 'Home',
          url: '/',
        },
      ]
    }) %>

  <main class="block block--white">
    <div class="container-item">
      <div class="container">
        <h2 id="zend-text" class="fade-in">UNIT TESTING?
          <span class="unit">AIN'T NOBODY GOT TIME FOR THAT</span>
        </h2>
      </div>
      <img src="./img/no_tests_404.png" alt="No tests found - 404" class="not-found"/>
    </div>

    <div>
  <div class="starsec"></div>
  <div class="starthird"></div>
  <div class="starfourth"></div>
  <div class="starfifth"></div>
</div>
  </main>

  <%- include('partials/footer') %>

  <script type="module" src="./js/404.js"></script>
</body>

</html>
