<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/metatags', {
        title: 'Programa de aceleración - Codium',
        description: 'Programa de aceleración para desarrolladores',
        og_title: 'Programa de aceleración',
        og_description: 'Pone foco en transmitir una buena mentalidad, conocer las herramientas para ser productivo, escribir código mantenible y bien testeado y como ser un buen desarrollador de producto.',
    }) %>

    <meta
      name="keywords"
      content="Curso,Formación,Training,TDD,Legacy Code,Calidad de código,Programa de aceleración,Crecimiento desarrolladores,TAP,programación"
    />
  </head>

  <body class="bootcamp-page">
    <%- include('partials/analytics') %>

    <%- include('partials/header/header', {
      menu: [
        {
          title: 'Valor',
          url: '#value',
        },
        {
          title: 'Contenido',
          url: '#content',
        },
        {
          title: 'Metodología',
          url: '#methodology',
        },
        {
          title: 'Equipo',
          url: '#team',
        },
        {
          title: 'Contactar',
          url: '#contact',
        },
        {
          title: 'Servicios',
          children: [
            {
              title: 'Curso de Legacy',
              url: '/curso-legacy-code.html',
            },
            {
              title: 'Curso de TDD',
              url: '/curso-tdd.html',
            },
            {
              title: 'Curso de Docker',
              url: '/curso-docker.html',
            },
          ]
        },
      ]
    }) %>

    <div class="hero-wrapper">
      <div class="container course-hero">
        <%- include('pages-content/curso-common/hero-block', {
          title: `Programa de aceleración para perfiles Entry Level`,
          subtitle: 'Con el objetivo de que al incorporarse a tus equipos de desarrollo sean productivas, sigan las convenciones y prácticas de equipo y empresa.',
          image: './img/bootcamp.svg'
        }) %>

        <%- include('pages-content/curso-common/course-card-information', {
          hours: '3 meses',
          hoursDesc: '(full time)',
          fromWhere: 'Remoto o presencial',
          languages: 'Java, Python, PHP, Js, C#',
          availableInLanguages: 'También en inglés',
        }) %>
      </div>
    </div>

    <main>
      <section class="block block--lila" id="value">
        <div class="container">
          <h2 class="text-center title bootcamp-sumary">TAP es la forma más rápida de potenciar sus habilidades</h2>
          <article class="tdd-value">
             <div class="text-center tdd-value__item">
              <img
                src="/img/skills.svg"
                class="tdd-value__image"
                alt="El valor del curso explicado con bueno-bonito-barato"
              />
            </div>
            <aside class="tdd-value__item">
              <p>
                Un programa de aceleración del talento es un enfoque que permite acelerar el nivel de habilidad y productividad de las nuevas contrataciones y el personal existente. Esto le permite contratar roles específicos en un nivel de cobertura insuficiente y acelerarlos rápidamente para alcanzar el máximo rendimiento.
              </p>
              <p>
                Esto ahorra un tiempo valioso y contribuye a que el personal pueda generar rentabilidad antes. También convierte a su empresa en un imán de talento porque los solicitantes de empleo buscan activamente formas de aumentar sus habilidades y tener éxito.
              </p>
              <p>
                El Programa de Aceleración es un programa de <strong>3 meses de preparación intensiva</strong> a través de una formación teórica y práctica de la mano de profesionales de amplia experiencia en las diferentes temáticas. La formación pone foco en transmitir una buena mentalidad, conocer las herramientas para ser productivo, escribir código mantenible y bien testeado y como ser un buen desarrollador de producto.
              </p>

              <h4>La propuesta consta de 3 bloques:</h4>

              <ul class="card__list">
                <li>
                  Ayuda con la selección de <strong>6-8 personas para participar</strong> en el programa de aceleración. Duración aproximada 2-4 semanas.
                </li>
                <li>
                  <strong>Formación</strong> teórica y práctica de la mano de profesionales de amplia experiencia en las diferentes temáticas. La formación pone foco en transmitir una buena mentalidad, conocer las herramientas para ser productivo, escribir código mantenible y bien testeado y como ser un buen desarrollador de producto. Duración 3 meses.
                </li>
                <li>
                  <strong>Evaluación de las competencias</strong> al finalizar el programa con el objetivo de decidir las personas que se incorporan a los equipos. Duración aproximada 1 semana.
                </li>
              </ul>
            </aside>
          </article>

          <div class="button__wrapper">
            <a
              class="button button--primary"
              href="#contactForm"
              data-trackevent="contact_us.show_form.course_value"
              >Contactar</a
            >
          </div>
        </div>
      </section>

      <section class="block block--white" id="content">
        <article class="container">
          <h2 class="text-center title bootcamp-sumary">Descubre cómo trabajaremos para impulsar a tus desarrolladores </h2>
          <p class="text-center text-dark-grey">
           El temario está organizado en temáticas
          </p>

          <div class="bootcamp">
            <%- include('partials/cards/card-bootcamp', {
              title: 'Mentalidad',
              list: [
                'eXtreme Programming',
                'Agile',
                'Lean',
                'Artesanía de software'
              ],
              image: './img/illustrations/bootcamp/lean.png'
            }) %>

            <%- include('partials/cards/card-bootcamp', {
              title: 'Herramientas',
              list: [
                'Conocer las herramientas que te hacen productivo.',
                'Conocer las herramientas que te permiten automatizar procesos repetitivos.'
              ],
              image: './img/illustrations/bootcamp/tools.png'
            }) %>

            <%- include('partials/cards/card-bootcamp', {
              title: 'Calidad de código',
              list: [
                'Escribir código fácil de entender y mantener.',
                'Aplicar patrones de diseño.',
                'Cómo crear una buena arquitectura'
              ],
              image: './img/illustrations/bootcamp/code-quality.png'
            }) %>

            <%- include('partials/cards/card-bootcamp', {
              title: 'Testing',
              list: [
                'Escribir buenos tests de diferentes tipos.',
                'Comprender las propiedades, beneficios de crear tests.',
                'Entender los costes de cada tipo de test.'
              ],
              image: './img/illustrations/bootcamp/testing.png'
            }) %>

            <%- include('partials/cards/card-bootcamp', {
              title: 'Producto',
              list: [
                'Entender que lo más importante es el valor aportado.',
                'Centrarnos en el problema a resolver, cómo impacta en el usuario, cómo aportar valor antes y cómo simplificar producto.',
              ],
              image: './img/illustrations/bootcamp/product-win.png'
            }) %>

          </div>
        </article>
      </section>

       <section class="block block--white" id="methodology">
        <article class="container">
          <h4 class="text-center title">Agrupados en...</h4>
          <div class="bootcamp">
            <%- include('partials/cards/card-bootcamp', {
              title: 'Katas',
              list: [
                'Practicamos con ejercicios aislados con el objetivo de destilar la esencia de las prácticas y conceptos.'
              ],
              image: './img/illustrations/bootcamp/katas.png',
              isSmall: true
            }) %>

            <%- include('partials/cards/card-bootcamp', {
              title: 'Greenfield',
              list: [
                'Desarrollamos un proyecto simple aplicando TDD, patrones de diseño y automatizando la infraestructura.',
              ],
              image: './img/illustrations/bootcamp/greenfield.png',
              isSmall: true
            }) %>

            <%- include('partials/cards/card-bootcamp', {
              title: 'Legacy',
              list: [
                'Partiendo de un proyecto legacy, testearlo, mejorar su diseño refactorizándolo teniendo siempre los tests en verde.'
              ],
              image: './img/illustrations/bootcamp/legacy.png',
              isSmall: true
            }) %>

            <%- include('partials/cards/card-bootcamp', {
              title: 'Proyecto final',
              list: [
                'Trabajamos lo más parecido a lo que será su día a día cuando se incorpore a un equipo.'
              ],
              image: './img/illustrations/bootcamp/course.png',
              isSmall: true
            }) %>
          </div>
        </article>
      </section>

      <%- include('pages-content/home/teams') %>


      <%- include('pages-content/curso-common/form', {
        action: '/php/contact-bootcamp.php',
        type: 'bootcamp_training',
      }) %>

    </main>

    <%- include('partials/footer') %>

    <%- include('pages-content/curso-common/scripts') %>
  </body>
</html>
