<!DOCTYPE html>
<html lang="en">
  <head>
    <% var host = process.env.BASE_DOMAIN || "https://www.codium.team" %>
    <% var og_image = host + "/img/og-bootcamp.png" %>

    <%- include('partials/metatags', {
        title: 'Programa de aceleración - Codium',
        description: 'Programa de aceleración para desarrolladores',
        og_title: 'Programa de aceleración',
        og_description: 'Pone foco en transmitir una buena mentalidad, conocer las herramientas para ser productivo, escribir código mantenible y bien testeado y como ser un buen desarrollador de producto.',
        og_image,
    }) %>

    <meta
      name="keywords"
      content="Curso,Formación,Training,TDD,Legacy Code,Calidad de código,Programa de aceleración,Crecimiento desarrolladores,TAP,programación"
    />
  </head>

  <body class="bootcamp-page">
    <%- include('partials/analytics') %>

    <%- include('partials/header/header', {
      menu: [
        {
          title: 'Beneficios',
          url: '#value',
        },
        {
          title: 'Contenido',
          url: '#content',
        },
        {
          title: 'Metodología',
          url: '#methodology',
        },
        {
          title: 'Equipo',
          url: '#team',
        },
         {
          title: 'FAQs',
          url: '#faqs',
        },
        {
          title: 'Contactar',
          url: '#contact',
        },
        {
          title: 'Servicios',
          children: [
            {
              title: 'Curso de Legacy',
              url: '/curso-legacy-code.html',
            },
            {
              title: 'Curso de TDD',
              url: '/curso-tdd.html',
            },
            {
              title: 'Curso de Docker',
              url: '/curso-docker.html',
            },
            {
              title: 'Bootcamp',
              url: '/bootcamp.html',
            },
          ]
        },
      ]
    }) %>

    <div class="hero-wrapper">
      <div class="container course-hero">
        <%- include('pages-content/curso-common/hero-block', {
          title: `Aceleración técnica y onboarding`,
          subtitle: 'Mejora la productividad de tu equipo',
          image: './img/illustrations/bootcamp.svg'
        }) %>

        <%- include('pages-content/curso-common/course-card-information', {
          hours: '3 meses',
          hoursDesc: '(full time)',
          fromWhere: 'Remoto',
          languages: 'Js, Java, Python, PHP o C#',
          availableInLanguages: 'También en inglés',
        }) %>
      </div>
    </div>

    <main>
      <%- include('pages-content/bootcamp/value')  %>

      <%- include('pages-content/bootcamp/content')  %>

      <%- include('pages-content/bootcamp/methodoly')  %>

      <%- include('pages-content/home/teams') %>

      <%- include('pages-content/bootcamp/qa') %>

      <%- include('partials/contact-form', {
        type: 'bootcamp_training',
      }) %>

    </main>

    <%- include('partials/footer') %>

    <script
      defer
      type="text/javascript"
      src="https://www.google.com/recaptcha/api.js"
    ></script>
    <script
      src="https://polyfill.io/v3/polyfill.min.js?features=fetch"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script type="module" src="./js/bootcamp.js"></script>
  </body>
</html>
