<!DOCTYPE html>
<html lang="<%= process.env.locale %>">
<head>
  <meta name="robots" content="index, follow">
  <%- include('partials/langs_alternate', {
      path: '/curso-quality-assurance.html'
  }) %>
  <%- include('partials/analytics_head') %>
  <%- include('partials/metatags', {
    title: __('Quality Assurance - Automatiza las validaciones de cualquier web - Codium Team'),
    description: __('Aprende las técnicas de testing automáticos de software y sus conceptos más importantes. Curso práctico, divertido e intenso.'),
    og_title: __('Curso de testing automático'),
    og_description: __('Aprende las técnicas de testing automáticos de software y sus conceptos más importantes. Curso práctico, divertido e intenso.'),
    og_image: url('/img/og-qa-v2.png'),
  }) %>
  <meta
          name="keywords"
          content="<%= __('Curso,Formación,Training,Testing,Mocks,Craftsmanship,Extreme programming,Práctico,Divertido') %>"
  />
  <link rel="canonical" href="<%= url('curso-quality-assurance.html') %>"/>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Course",
      "name": __("Quality Assurance - Automatiza las validaciones de cualquier web - Codium Team"),
      "headline": __("Curso de Testing - QA - Testing manual a automático"),
      "description": __("Aprende las técnicas de testing automáticos de software y sus conceptos más importantes"),
      "provider": {
        "@type": "Organization",
        "name": "Codium",
        "sameAs": url("https://www.codium.team/")
      }
    }
  </script>
</head>

<body>
  <%- include('partials/analytics_body') %>

  <%- include('partials/header/landing-navbar', {
    menu: [
        {
          title: __('Beneficios'),
          url: '#benefits',
        },
        {
          title: __('Contenido'),
          url: '#training-content-timeline',
        },
        {
          title: __('Metodología'),
          url: '#methodology',
        },
        {
          title: __('FAQs'),
          url: '#faqs',
        },
        {
          title: __('Contactar'),
          url: '#contact',
        },
      ]
    }) %>

  <div class="hero-wrapper">
    <div class="container course-hero">
      <%- include('pages-content/curso-common/hero-block', {
        title: __('Quality Assurance'),
        subtitle: __('Automatiza las validaciones de cualquier web'),
        image: './img/qa-quality-v2.svg'
      }) %>

      <%- include('pages-content/curso-common/course-card-information', {
        hours: __('12 horas'),
        hoursDesc: __('(1,5 días o 3 medios días)'),
        fromWhere: __('Remoto o presencial'),
        languages: 'JavaScript',
        availableInLanguages: __('Español, inglés y catalán'),
        price: __('500 € + IVA por persona')
      }) %>
    </div>
  </div>

  <main>

    <%- include('pages-content/curso-quality-assurance/carousel-clients') %>

    <section class="block block--white" id="benefits">
      <%- include('pages-content/curso-quality-assurance/benefits') %>
    </section>

    <section class="block block--lila" id="training-content-timeline">
      <%- include('pages-content/curso-quality-assurance/content') %>
    </section>

    <section class="block block--white" id="methodology">
      <%- include('pages-content/curso-quality-assurance/methodology') %>
    </section>

    <section class="block block--lila" id="possibleErrors">
      <%- include('pages-content/curso-quality-assurance/explore-errors') %>
    </section>

    <section class="block block--white" id="faqs">
      <%- include('pages-content/curso-quality-assurance/faqs') %>
    </section>

    <section class="block block--lila" id="contact">
      <%- include('pages-content/curso-common/form', {
        type: 'qa_training'
      }) %>
    </section>


  </main>

  <%- include('partials/footer') %>

  <%- include('pages-content/curso-common/scripts') %>
</body>
</html>
