<!DOCTYPE html>
<html lang="en">
  <head>
    <% var host = process.env.BASE_DOMAIN || "https://www.codium.team" %>
    <% var og_image = host + "/img/og-legacy.png" %>

    <%- include('partials/metatags', {
        title: 'Curso de Código Legado - Codium',
        description: 'Aprende dos pilares imprescindibles: a desacoplar tu código y a testear tu producto. Curso práctico, divertido y intenso. En tus oficinas o en remoto.',
        og_title: 'Curso de legacy code',
        og_description: 'Aprende a desacoplar tu código y testear tu producto. Curso práctico, divertido y intenso. En tus oficinas o en remoto.',
        og_image,
    }) %>
    <meta
      name="keywords"
      content="Curso,Formación,Training,Legacy Code,Código Legado,Clean Code,Tests,Refactoring,Code smells,Best practices,Buenas prácticas,Práctico,Divertido"
    />
  </head>

  <body>
    <%- include('partials/analytics') %>

    <%- include('partials/header/header', {
      menu: [
        {
          title: 'Beneficios',
          url: '#value',
        },
        {
          title: 'Contenido',
          url: '#training-content-timeline',
        },
        {
          title: 'Metodología',
          url: '#methodology',
        },
        {
          title: 'FAQs',
          url: '#faqs',
        },
        {
          title: 'Contactar',
          url: '#contact',
        },
        {
          title: 'Servicios',
          children: [
            {
              title: 'Curso de Legacy',
              url: '/curso-legacy-code.html',
            },
            {
              title: 'Curso de TDD',
              url: '/curso-tdd.html',
            },
            {
              title: 'Curso de Docker',
              url: '/curso-docker.html',
            },
            {
              title: 'Bootcamp',
              url: '/bootcamp.html',
            }
          ]
        },
      ]
    }) %>

    <div class="hero-wrapper">
      <div class="container course-hero">
        <%- include('pages-content/curso-common/hero-block', {
          title: 'Curso de Working with Legacy code',
          subtitle: 'Recupera el control de tu producto',
          image: './img/legacy-code.svg'
        }) %>

      <%- include('pages-content/curso-common/course-card-information', {
        hours: '16 horas',
        hoursDesc: '(2 días o 4 medios días)',
        fromWhere: 'Remoto o presencial',
        languages: 'Java, Python, PHP, Js, C#, C++, ...',
        availableInLanguages: 'También en inglés',
        price: 'A partir de 650 € + IVA por persona.'
      }) %>
      </div>
    </div>

    <main>

      <%- include('pages-content/curso-legacy/carousel-clients')  %>

      <%- include('pages-content/curso-legacy/carousel-opinion')  %>

      <%- include('pages-content/curso-legacy/value')  %>

      <%- include('pages-content/curso-legacy/content')  %>

      <%- include('pages-content/curso-legacy/methodology')  %>

      <%- include('partials/summary-by-numbers')  %>

      <%- include('pages-content/curso-legacy/qa')  %>

      <%- include('pages-content/curso-common/form', {
        action: '/php/contact-legacy-code.php',
        type: 'legacy_training'
      }) %>

    </main>

    <%- include('partials/footer') %>

    <%- include('pages-content/curso-common/scripts') %>
  </body>
</html>
