<!DOCTYPE html>
<html lang="es">
  <head>
    <meta name="robots" content="index, follow">
    <%- include('partials/analytics_head') %>
    <% var host = process.env.BASE_DOMAIN || "https://www.codium.team" %>
    <% var og_image = host + "/img/og-tdd.png" %>

    <%- include('partials/metatags', {
        title: 'Curso de TDD - Test Driven Development - Codium Team',
        description: 'Aprende a escribir código simple, robusto y moldeable aplicando TDD: Test Driven Development. Curso práctico, divertido e intenso.',
        og_title: 'Curso de TDD',
        og_description: 'Aprende a escribir código simple, robusto y moldeable a partir de los tests. Curso práctico, divertido e intenso.',
        og_image,
    }) %>
    <meta
      name="keywords"
      content="Curso,Formación,Training,TDD,Test-Driven development,Testing,Mocks,Craftsmanship,Extreme programming,Práctico,Divertido"
    />
    <link rel="canonical" href="<%= host %>/curso-tdd.html"/>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Course",
        "name": "Curso de TDD - Test Driven Development",
        "headline": "Curso de TDD - Test Driven Development",
        "description": "Aprende a escribir código simple, robusto y moldeable a partir de los tests",
        "provider": {
          "@type": "Organization",
          "name": "Codium",
          "sameAs": "https://www.codium.team/"
        }
      }
    </script>
  </head>

  <body>
    <%- include('partials/analytics_body') %>

    <%- include('partials/header/landing-navbar', {
      menu: [
        {
          title: 'Beneficios',
          url: '#benefits',
        },
        {
          title: 'Contenido',
          url: '#training-content-timeline',
        },
        {
          title: 'Metodología',
          url: '#methodology',
        },
        {
          title: 'FAQs',
          url: '#faqs',
        },
        {
          title: 'Contactar',
          url: '#contact',
        },
      ]
    }) %>

    <div class="hero-wrapper">
      <div class="container course-hero">
        <%- include('pages-content/curso-common/hero-block', {
          title: 'Curso de Test-Driven Development',
          subtitle: 'Revoluciona tu forma de desarrollar',
          image: './img/tdd-logo.svg'
        }) %>

        <%- include('pages-content/curso-common/course-card-information', {
          hours: '16 horas',
          hoursDesc: '(2 días o 4 medios días)',
          fromWhere: 'Remoto o presencial',
          languages: 'Java, Python, Js, PHP,  C#, C++, ...',
          availableInLanguages: 'También en inglés',
          price: '650 € + IVA por persona.'
        }) %>
      </div>
    </div>

    <main>

      <%- include('pages-content/curso-tdd/carousel-clients') %>

      <%- include('pages-content/curso-tdd/carousel-opinion') %>

      <section class="block block--white" id="benefits">
        <%- include('pages-content/curso-tdd/benefits') %>
      </section>

      <section class="block block--lila" id="training-content-timeline">
        <%- include('pages-content/curso-tdd/content') %>
      </section>

      <section class="block block--white" id="methodology">
        <%- include('pages-content/curso-tdd/methodology') %>
      </section>

      <%- include('partials/summary-by-numbers') %>

      <section class="block block--white" id="faqs">
        <%- include('pages-content/curso-tdd/faqs') %>
      </section>

      <section class="block block--lila" id="contact">
        <%- include('pages-content/curso-common/form', {
          action: '/php/contact-tdd.php',
          type: 'tdd_training'
        }) %>
      </section>
    </main>

    <%- include('partials/footer') %>

    <%- include('pages-content/curso-common/scripts') %>
  </body>
</html>
