<!DOCTYPE html>
<html lang="en">
  <head>
    <% var host = process.env.BASE_DOMAIN || "https://www.codium.team" %>
    <% var og_image = host + "/img/og-tdd.png" %>

    <%- include('partials/metatags', {
        title: 'Curso de TDD - Test Driven Development - Codium',
        description: 'Aprende a escribir código simple, robusto y moldeable que emerge a partir de los tests. Curso práctico, divertido y intenso. En tus oficinas o en remoto.',
        og_title: 'Curso de TDD',
        og_description: 'Aprende a escribir código simple, robusto y moldeable a partir de los tests. Curso práctico, divertido y intenso. En tus oficinas o en remoto.',
        og_image,
    }) %>
    <meta
      name="keywords"
      content="Curso,Formación,Training,TDD,Test-Driven development,Testing,Mocks,Craftsmanship,Extreme programming,Práctico,Divertido"
    />
  </head>

  <body>
    <%- include('partials/analytics') %>

    <%- include('partials/header/header', {
      menu: [
        {
          title: 'Beneficios',
          url: '#value',
        },
        {
          title: 'Contenido',
          url: '#training-content-timeline',
        },
        {
          title: 'Metodología',
          url: '#methodology',
        },
        {
          title: 'FAQs',
          url: '#faqs',
        },
        {
          title: 'Contactar',
          url: '#contactForm',
        },
        {
          title: 'Otros cursos',
          children: [
            {
              title: 'Legacy',
              url: '/curso-legacy-code.html',
            },
            {
              title: 'Docker',
              url: '/curso-docker.html',
            }
          ]
        },
      ]
    }) %>

    <div class="hero-wrapper">
      <div class="container course-hero">
        <%- include('pages-content/curso-common/hero-block', {
          title: 'Curso de Test-Driven Development',
          subtitle: 'Revoluciona tu forma de desarrollar',
          image: './img/tdd-logo.svg'
        }) %>

        <%- include('pages-content/curso-common/course-card-information', {
          hours: '16 horas',
          hoursDesc: '(2 días o 4 medios días)',
          fromWhere: 'Remoto o presencial',
          languages: 'Java, Python, PHP, Js, C#, C++, ...',
          availableInLanguages: 'También en inglés',
          price: 'A partir de 650 € + IVA por persona.'
        }) %>
      </div>
    </div>


    <main>

      <%- include('pages-content/curso-tdd/carousel-clients') %>

      <%- include('pages-content/curso-tdd/carousel-opinion') %>

      <%- include('pages-content/curso-tdd/value') %>

      <%- include('pages-content/curso-tdd/content') %>

      <%- include('pages-content/curso-tdd/methodology') %>

      <%- include('partials/summary-by-numbers') %>

      <%- include('pages-content/curso-tdd/qa') %>

      <%- include('pages-content/curso-common/form', {
        action: '/php/contact-tdd.php',
        type: 'tdd_training'
      }) %>
    </main>

    <%- include('partials/footer') %>

    <%- include('pages-content/curso-common/scripts') %>
  </body>
</html>
