<!DOCTYPE html>
<html lang="es">
  <head>
    <meta name="robots" content="index, follow">
    <%- include('partials/analytics_head') %>
    <% var host = process.env.BASE_DOMAIN || "https://www.codium.team" %>
    <% var og_image = host + "/img/og-legacy.png" %>

    <%- include('partials/metatags', {
        title: 'Curso de Código Legado - Codium',
        description: 'Aprende dos pilares imprescindibles: a desacoplar tu código y a testear tu producto. Curso práctico, divertido y intenso. En tus oficinas o en remoto.',
        og_title: 'Curso de legacy code',
        og_description: 'Aprende a desacoplar tu código y testear tu producto. Curso práctico, divertido y intenso. En tus oficinas o en remoto.',
        og_image,
    }) %>
    <meta
      name="keywords"
      content="Curso,Formación,Training,Legacy Code,Código Legado,Clean Code,Tests,Refactoring,Code smells,Best practices,Buenas prácticas,Práctico,Divertido"
    />
    <link rel="canonical" href="<%= host %>/curso-legacy-code.html"/>
  </head>

  <body>
    <%- include('partials/analytics_body') %>

    <%- include('partials/header/landing-navbar', {
      menu: [
        {
          title: 'Beneficios',
          url: '#benefits',
        },
        {
          title: 'Contenido',
          url: '#training-content-timeline',
        },
        {
          title: 'Metodología',
          url: '#methodology',
        },
        {
          title: 'FAQs',
          url: '#faqs',
        },
        {
          title: 'Contactar',
          url: '#contact',
        },
      ]
    }) %>

    <div class="hero-wrapper">
      <div class="container course-hero">
        <%- include('pages-content/curso-common/hero-block', {
          title: 'Curso de Working with Legacy code',
          subtitle: 'Recupera el control de tu producto',
          image: './img/legacy-code.svg'
        }) %>

      <%- include('pages-content/curso-common/course-card-information', {
        hours: '16 horas',
        hoursDesc: '(2 días o 4 medios días)',
        fromWhere: 'Remoto o presencial',
        languages: 'Java, Python, Js, PHP, C#, C++, ...',
        availableInLanguages: 'También en inglés',
        price: 'A partir de 650 € + IVA por persona.'
      }) %>
      </div>
    </div>

    <main>

      <section class="block block--white block--small">
        <%- include('pages-content/curso-legacy/carousel-clients')  %>
      </section>

      <%- include('pages-content/curso-legacy/carousel-opinion')  %>

      <section class="block block--white" id="benefits">
        <%- include('pages-content/curso-legacy/benefits')  %>
      </section>

      <section class="block block--lila" id="training-content-timeline">
        <%- include('pages-content/curso-legacy/content')  %>
      </section>

      <section class="block block--white" id="methodology">
        <%- include('pages-content/curso-legacy/methodology')  %>
      </section>

      <%- include('partials/summary-by-numbers')  %>

      <section class="block block--white" id="faqs">
        <%- include('pages-content/curso-legacy/faqs')  %>
      </section>

      <section class="block block--lila" id="contact">
        <%- include('pages-content/curso-common/form', {
          action: '/php/contact-legacy-code.php',
          type: 'legacy_training'
        }) %>
      </section>

    </main>

    <%- include('partials/footer') %>

    <%- include('pages-content/curso-common/scripts') %>
  </body>
</html>
