<!DOCTYPE html>
<html lang="es">
  <head>
    <meta name="robots" content="index, follow">
    <%- include('partials/analytics_head') %>
    <% var host = process.env.BASE_DOMAIN || "https://www.codium.team" %>
    <% var og_image = host + "/img/og-patterns.png" %>

    <%- include('partials/metatags', {
        title: 'Curso Refactoring a Patrones - Patrones de diseño - Codium Team',
        description: 'Aprende los patrones de diseño más utilizados en el mundo del software. Crea código de alta calidad, extensible, mantenible y flexible.',
        og_title: 'Curso Refactoring a Patrones de diseño',
        og_description: 'Aprende los patrones de diseño más utilizados en el mundo del software. Crea código de alta calidad, extensible, mantenible y flexible.',
        og_image,
    }) %>
    <meta
      name="keywords"
      content="Curso,Formación,Training,Patrones de diseño,Design patterns,Refactoring,Testing,Mocks,Craftsmanship,Extreme programming,Práctico,Divertido"
    />
    <link rel="canonical" href="<%= host %>/curso-refactoring-a-patrones.html"/>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Course",
        "name": "Curso Refactoring a Patrones - Patrones de diseño",
        "headline": "Curso Refactoring a Patrones - Patrones de diseño",
        "description": "Aprende los patrones de diseño más utilizados en el mundo del software. Crea código de alta calidad, extensible, mantenible y flexible.",
        "provider": {
          "@type": "Organization",
          "name": "Codium",
          "sameAs": "https://www.codium.team/"
        }
      }
    </script>
  </head>

  <body>
    <%- include('partials/analytics_body') %>

    <%- include('partials/header/landing-navbar', {
      menu: [
        {
          title: 'Beneficios',
          url: '#benefits',
        },
        {
          title: 'Contenido',
          url: '#training-content-timeline',
        },
        {
          title: 'Metodología',
          url: '#methodology',
        },
        {
          title: 'FAQs',
          url: '#faqs',
        },
        {
          title: 'Contactar',
          url: '#contact',
        },
      ]
    }) %>

    <div class="hero-wrapper">
      <div class="container course-hero">
        <%- include('pages-content/curso-common/hero-block', {
          title: 'Curso Refactoring a Patrones',
          subtitle: 'Mejora el diseño de tu código',
          image: './img/refactoring-to-patterns.svg'
        }) %>

        <%- include('pages-content/curso-common/course-card-information', {
          hours: '16 horas',
          hoursDesc: '(2 días o 4 medios días)',
          fromWhere: 'Remoto o presencial',
          languages: 'Java, Python, Js, PHP,  C#, C++, ...',
          availableInLanguages: 'También en inglés',
          price: '650 € + IVA por persona'
        }) %>
      </div>
    </div>

    <main>

      <%- include('pages-content/curso-refactoring-a-patrones/carousel-clients') %>

      <section class="block block--white" id="benefits">
        <%- include('pages-content/curso-refactoring-a-patrones/benefits') %>
      </section>

      <section class="block block--lila" id="training-content-timeline">
        <%- include('pages-content/curso-refactoring-a-patrones/content') %>
      </section>

      <section class="block block--white" id="methodology">
        <%- include('pages-content/curso-refactoring-a-patrones/methodology') %>
      </section>

      <%- include('partials/summary-by-numbers') %>

      <section class="block block--white" id="faqs">
        <%- include('pages-content/curso-refactoring-a-patrones/faqs') %>
      </section>

      <section class="block block--lila" id="contact">
        <%- include('pages-content/curso-common/form', {
          action: '/php/contact-refactoring-to-patterns.php',
          type: 'refactoring_to_patterns_training'
        }) %>
      </section>
    </main>

    <%- include('partials/footer') %>

    <%- include('pages-content/curso-common/scripts') %>
  </body>
</html>
