<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/metatags', {
        title: 'Curso Docker - Codium',
        description: 'Acaba de una vez con los problemas: de infraestructura, del despliegue de tu aplicación o el conocido \'funciona en mi máquina\'. Curso práctico, divertido y intenso. En tus oficinas o en remoto.',
        og_title: 'Curso de Docker',
        og_description: 'Acaba con los problemas de infraestructura, despliegue y el conocido \'funciona en mi máquina\'. Curso práctico, divertido y intenso. En tus oficinas o en remoto.',
    }) %>

    <meta
      name="keywords"
      content="Curso,Formación,Training,Docker,docker-compose,dockerizar,imagen,Infraestructura,Buildkit,Desarrollo,Devops,Escalabilidad,Seguridad,CI,Pipeline,CD,CI/CD,Crafter,Craftsmanship,Práctico,Divertido"
    />
  </head>

  <body>
    <%- include('partials/analytics') %>

    <%- include('partials/header/header', {
      menu: [
        {
          title: 'Inicio',
          url: '/'
        },
        {
          title: 'Beneficios',
          url: '#value',
        },
        {
          title: 'Contenido',
          url: '#training-content-timeline',
        },
        {
          title: 'Metodología',
          url: '#methodology',
        },
        {
          title: 'FAQs',
          url: '#faqs',
        },
      ]
    }) %>

    <div class="hero-wrapper">
      <div class="container course-hero">
        <%- include('pages-content/curso-common/hero-block', {
          title: 'Curso de Docker',
          subtitle: 'Infraestructura como código al poder',
          image: './img/moby-logo.svg'
        }) %>

        <%- include('pages-content/curso-common/course-card-information', {
          hours: '16 horas',
          hoursDesc: '(2 días o 4 medios días)',
          fromWhere: 'Remoto o presencial',
          languages: 'Docker',
          availableInLanguages: 'También en inglés',
          price: 'A partir de 650 € + IVA por persona.'
        }) %>
      </div>
    </div>


    <main>
      <%- include('pages-content/curso-docker/carousel-clients')  %>

      <%- include('pages-content/curso-docker/carousel-opinion')  %>

      <section class="block block--white">
        <div class="container">
          <h2 class="text-center title" id="value">¿Por qué Docker?</h2>
          <p class="text-center text-dark-grey">
            Docker soluciona algunos de los problemas de infraestructura más
            comunes, casi permitiéndonos eliminar el famoso "en mi máquina
            funciona".
          </p>
          <p class="text-center text-dark-grey">
            ¿Cómo? Homogeneizando los entornos.
          </p>
          <p class="text-center text-dark-grey">
            ¿Pero cómo? Tratando la infraestructura como código, automatizando
            procesos y encapsulando aplicaciones junto con todas sus
            dependencias.
          </p>

          <article class="tdd-value">
            <div class="text-center tdd-value__item">
              <img
                src="/img/docker-explained-1.png"
                alt="Docker explained"
                class="tdd-value__image"
              />
            </div>

            <aside class="tdd-value__item">
              <div>
                <h3>Problemas comunes que Docker nos ayuda a resolver:</h3>
                <ul class="course-calendar__items">
                  <li class="text-dark-grey">
                    Los desarrolladores tienen máquinas distintas con sistemas
                    operativos diversos.
                  </li>
                  <li class="text-dark-grey">
                    Diferentes versiones del software en entornos locales, test
                    y producción, dificultando la reproducción de ciertos
                    problemas por culpa de que los entornos son distintos.
                  </li>
                  <li class="text-dark-grey">
                    Diferentes versiones instaladas de librerías y paquetes.
                  </li>
                  <li class="text-dark-grey">
                    A medida que el tiempo pasa el conocimiento sobre el
                    software se va perdiendo, provocando fácilmente que la
                    instalación del software sea compleja y manual.
                  </li>
                  <li class="text-dark-grey">
                    Diferentes configuraciones entre desarrolladores.
                  </li>
                  <li class="text-dark-grey">
                    Sobrecostes por infrautilización de los recursos de los
                    servidores o de las máquinas virtuales.
                  </li>
                  <li class="text-dark-grey">
                    Despliegues manuales: un miembro del equipo debe conectarse
                    a un servidor y configurar o subir a mano un
                    binario/artefacto, etc.
                  </li>
                  <li class="text-dark-grey">
                    Sysadmins tardan tiempo en desplegar, es complicado hacer
                    cambios en la infraestructura o simplemente escalar.
                  </li>
                </ul>
              </div>
            </aside>
          </article>

          <div class="button__wrapper">
            <a
              class="button button--primary"
              href="#contactForm"
              data-trackevent="contact_us.show_form.course_value"
              >Contactar</a
            >
          </div>
        </div>
      </section>

      <%- include('pages-content/curso-docker/content')  %>

      <%- include('pages-content/curso-docker/methodology')  %>

      <%- include('partials/summary-by-numbers')  %>

      <%- include('pages-content/curso-docker/qa')  %>

      <%- include('pages-content/curso-common/form', {
        action: '/php/contact-docker.php',
        type: 'docker_training'
      }) %>

    </main>

    <%- include('partials/footer') %>

    <%- include('pages-content/curso-common/scripts') %>
  </body>
</html>
