<!DOCTYPE html>
<html lang="<%= process.env.locale %>">
  <head>
    <meta name="robots" content="index, follow">
    <%- include('partials/langs_alternate', {
      path: '/curso-legacy-code.html'
    }) %>
    <%- include('partials/analytics_head') %>

    <%- include('partials/metatags', {
        title: __('Curso de Código Legado - Codium'),
        description: __('Aprende dos pilares imprescindibles: a desacoplar tu código y a testear tu producto. Curso práctico, divertido y intenso. En tus oficinas o en remoto.'),
        og_title: __('Curso de legacy code'),
        og_description: __('Aprende a desacoplar tu código y testear tu producto. Curso práctico, divertido y intenso. En tus oficinas o en remoto.'),
        og_image: url('/img/og-legacy.png'),
    }) %>
    <meta
      name="keywords"
      content="<%- __('Curso,Formación,Training,Legacy Code,Código Legado,Clean Code,Tests,Refactoring,Code smells,Best practices,Buenas prácticas,Práctico,Divertido') %>"
    />
    <link rel="canonical" href="<%= url('curso-legacy-code.html') %>"/>
  </head>

  <body>
    <%- include('partials/analytics_body') %>

    <%- include('partials/header/landing-navbar', {
      menu: [
        {
          title: __('Beneficios'),
          url: '#benefits',
        },
        {
          title: __('Contenido'),
          url: '#training-content-timeline',
        },
        {
          title: __('Metodología'),
          url: '#methodology',
        },
        {
          title: __('FAQs'),
          url: '#faqs',
        },
        {
          title: __('Contactar'),
          url: '#contact',
        },
      ]
    }) %>

    <div class="hero-wrapper">
      <div class="container course-hero">
        <%- include('pages-content/curso-common/hero-block', {
          title: __('Curso de Working with Legacy code'),
          subtitle: __('Recupera el control de tu producto'),
          image: './img/legacy-code.svg'
        }) %>

      <%- include('pages-content/curso-common/course-card-information', {
        hours: __('16 horas'),
        hoursDesc: __('(2 días o 4 medios días)'),
        fromWhere: __('Remoto o presencial'),
        languages: __('Java, Python, Js, PHP, C#, C++, Go...'),
        availableInLanguages: __('Español, inglés y catalán'),
        price: __('650 € + IVA por persona')
        }) %>
      </div>
    </div>

    <main>

      <section class="block block--white block--small">
        <%- include('pages-content/curso-legacy/carousel-clients')  %>
      </section>

      <%- include('pages-content/curso-legacy/carousel-opinion')  %>

      <section class="block block--white" id="benefits">
        <%- include('pages-content/curso-legacy/benefits')  %>
      </section>

      <section class="block block--lila" id="training-content-timeline">
        <%- include('pages-content/curso-legacy/content')  %>
      </section>

      <section class="block block--white" id="methodology">
        <%- include('pages-content/curso-legacy/methodology')  %>
      </section>

      <%- include('partials/summary-by-numbers')  %>

      <section class="block block--white" id="faqs">
        <%- include('pages-content/curso-legacy/faqs')  %>
      </section>

      <section class="block block--lila" id="contact">
        <%- include('pages-content/curso-common/form', {
          type: 'legacy_training'
        }) %>
      </section>

    </main>

    <%- include('partials/footer') %>

    <%- include('pages-content/curso-common/scripts') %>
  </body>
</html>
