<!DOCTYPE html>
<html lang="<%= process.env.locale %>">
  <head>
    <meta name="robots" content="index, follow">
    <%- include('partials/langs_alternate', {
      path: '/curso-tdd.html'
    }) %>
    <%- include('partials/analytics_head') %>

    <%- include('partials/metatags', {
        title: __('Curso de TDD - Test Driven Development - Codium Team'),
        description: __('Aprende a escribir código simple, robusto y moldeable aplicando TDD: Test Driven Development. Curso práctico, divertido e intenso.'),
        og_title: __('Curso de TDD'),
        og_description: __('Aprende a escribir código simple, robusto y moldeable a partir de los tests. Curso práctico, divertido e intenso.'),
        og_image: url('/img/og-tdd.png'),
    }) %>
    <meta
      name="keywords"
      content="<%= __('Curso,Formación,Training,TDD,Test-Driven development,Testing,Mocks,Craftsmanship,Extreme programming,Práctico,Divertido') %>"
    />
    <link rel="canonical" href="<%= url('/curso-tdd.html') %>"/>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Course",
        "name": <%= __("Curso de TDD - Test Driven Development") %>,
        "headline": <%= __("Curso de TDD - Test Driven Development") %>,
        "description": <%= __("Aprende a escribir código simple, robusto y moldeable a partir de los tests") %>,
        "provider": {
          "@type": "Organization",
          "name": "Codium",
          "sameAs": "<%= url('https://www.codium.team') %>"
        }
      }
    </script>
  </head>

  <body>
    <%- include('partials/analytics_body') %>

    <%- include('partials/header/landing-navbar', {
      menu: [
        {
          title: __('Beneficios'),
          url: '#benefits',
        },
        {
          title: __('Contenido'),
          url: '#training-content-timeline',
        },
        {
          title: __('Metodología'),
          url: '#methodology',
        },
        {
          title: __('FAQs'),
          url: '#faqs',
        },
        {
          title: __('Contactar'),
          url: '#contact',
        },
      ]
    }) %>

    <div class="hero-wrapper">
      <div class="container course-hero">
        <%- include('pages-content/curso-common/hero-block', {
          title: __('Curso de Test-Driven Development'),
          subtitle: __('Revoluciona tu forma de desarrollar'),
          image: './img/tdd-logo.svg'
        }) %>

        <%- include('pages-content/curso-common/course-card-information', {
          hours: __('16 horas'),
          hoursDesc: __('(2 días o 4 medios días)'),
          fromWhere: __('Remoto o presencial'),
          languages: __('Java, Python, Js, PHP,  C#, C++, Go...'),
          availableInLanguages: __('Español, inglés y catalán'),
          price: __('650 € + IVA por persona')
        }) %>
      </div>
    </div>

    <main>

      <%- include('pages-content/curso-tdd/carousel-clients') %>

      <%- include('pages-content/curso-tdd/carousel-opinion') %>

      <section class="block block--white" id="benefits">
        <%- include('pages-content/curso-tdd/benefits') %>
      </section>

      <section class="block block--lila" id="training-content-timeline">
        <%- include('pages-content/curso-tdd/content') %>
      </section>

      <section class="block block--white" id="methodology">
        <%- include('pages-content/curso-tdd/methodology') %>
      </section>

      <%- include('partials/summary-by-numbers') %>

      <section class="block block--white" id="faqs">
        <%- include('pages-content/curso-tdd/faqs') %>
      </section>

      <section class="block block--lila" id="contact">
        <%- include('pages-content/curso-common/form', {
          type: 'tdd_training'
        }) %>
      </section>
    </main>

    <%- include('partials/footer') %>

    <%- include('pages-content/curso-common/scripts') %>
  </body>
</html>
