<!DOCTYPE html>
<html lang="<%= process.env.locale %>">
  <head>
    <meta name="robots" content="index, follow">
    <%- include('partials/langs_alternate', {
      path: '/desarrollo.html'
    }) %>
    <%- include('partials/analytics_head') %>
    <%- include('partials/metatags', {
        title: __('Desarollo - Codium'),
        description: __('Tu equipo de programación de alto rendimiento integrados en tu empresa u outsourcing. Entregamos el máximo valor en cada iteración.'),
        og_title: __('Desarollo'),
        og_description: __('Tu equipo de programación de alto rendimiento integrados en tu empresa u outsourcing. Entregamos el máximo valor en cada iteración.'),
        og_image: url('/img/og-development.png')
    }) %>

    <meta
      name="keywords"
      content="<%- __('Curso,Formación,Training,TDD,Legacy Code,Calidad de código,Programación,Desarrollo,Producto,Lean,Agile,Software') %>"
    />
    <link rel="canonical" href="<%= url('/desarrollo.html') %>"/>
  </head>

  <body class="bootcamp-page">
    <%- include('partials/analytics_body') %>

    <%- include('partials/header/landing-navbar', {
      menu: [
        {
          title: __('Beneficios'),
          url: '#benefits'
        },
        {
          title: __('Metodología'),
          url: '#methodology'
        },
        {
          title: __('Equipo'),
          url: '#team'
        },
        {
          title: __('Contactar'),
          url: '#contact'
        },
      ]
    }) %>

    <div class="hero-wrapper">
      <div class="container course-hero">
        <%- include('pages-content/curso-common/hero-block', {
          title: __('Desarrollo'),
          subtitle: __('Entregamos el máximo valor en cada iteración.'),
          image: './img/illustrations/development-team.svg'
        }) %>

        <%- include('pages-content/curso-common/course-card-information', {
          hours: __('3 meses a 1 año'),
          hoursDesc: __('150 y 500 horas al mes'),
          fromWhere: __('Remoto'),
          languages: __('PHP, Python, React, React Native...'),
          availableInLanguages: __('Español, inglés y catalán'),
        }) %>
      </div>
    </div>

    <main>

      <section class="values block block--grey" id="things-we-do">
        <%- include('pages-content/home/things-we-do') %>
      </section>

      <section class="block block--white" id="benefits">
        <%- include('pages-content/development/benefits')  %>
      </section>

      <section class="block block--white" id="methodology">
        <%- include('pages-content/development/methodology')  %>
      </section>

      <section class="team block block--grey"  id="team">
        <%- include('pages-content/common/teams') %>
      </section>

      <section class="team block block--white"  id="clients">
        <%- include('pages-content/development/our-clients') %>
      </section>


      <section class="contact block block--lila" id="contact">
        <%- include('partials/contact-form', {
          type: 'development',
          action: __('Desarrollo')
        }) %>
      </section>

    </main>

    <%- include('partials/footer') %>

    <script
      src="https://polyfill.io/v3/polyfill.min.js?features=fetch"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script type="module" src="./js/development.js"></script>
  </body>
</html>
