<!DOCTYPE html>
<html lang="es">
  <head>
    <meta name="robots" content="index, follow">
    <%- include('partials/analytics_head') %>
    <% var host = process.env.BASE_DOMAIN || "https://www.codium.team" %>
    <% var og_image = host + "/img/og-development.png" %>

    <%- include('partials/metatags', {
        title: 'Desarollo - Codium',
        description: 'Tu equipo de programación de alto rendimiento integrados en tu empresa u outsourcing. Entregamos el máximo valor en cada iteración.',
        og_title: 'Desarollo',
        og_description: 'Tu equipo de programación de alto rendimiento integrados en tu empresa u outsourcing. Entregamos el máximo valor en cada iteración.',
        og_image
    }) %>

    <meta
      name="keywords"
      content="Curso,Formación,Training,TDD,Legacy Code,Calidad de código,Programación,Desarrollo,Producto,Lean,Agile,Software"
    />
    <link rel="canonical" href="<%= host %>/desarrollo.html"/>
  </head>

  <body class="bootcamp-page">
    <%- include('partials/analytics_body') %>

    <%- include('partials/header/landing-navbar', {
      menu: [
        {
          title: 'Beneficios',
          url: '#benefits'
        },
        {
          title: 'Metodología',
          url: '#methodology'
        },
        {
          title: 'Equipo',
          url: '#team'
        },
        {
          title: 'Contactar',
          url: '#contact'
        },
      ]
    }) %>

    <div class="hero-wrapper">
      <div class="container course-hero">
        <%- include('pages-content/curso-common/hero-block', {
          title: `Desarrollo`,
          subtitle: 'Entregamos el máximo valor en cada iteración.',
          image: './img/illustrations/development-team.svg'
        }) %>

        <%- include('pages-content/curso-common/course-card-information', {
          hours: '3 meses a 1 año',
          hoursDesc: '150 y 500 horas al mes',
          fromWhere: 'Remoto',
          languages: 'Js, Java, Python o PHP',
          availableInLanguages: 'También en inglés',
        }) %>
      </div>
    </div>

    <main>
      <section class="block block--white" id="benefits">
        <%- include('pages-content/development/benefits')  %>
      </section>

      <section class="block block--white" id="methodology">
        <%- include('pages-content/development/methodology')  %>
      </section>

      <section class="team block block--grey"  id="team">
        <%- include('pages-content/common/teams') %>
      </section>

      <section class="team block block--white"  id="clients">
        <%- include('pages-content/development/our-clients') %>
      </section>


      <section class="contact block block--lila" id="contact">
        <%- include('partials/contact-form', {
          type: 'development',
          action: 'Desarrollo'
        }) %>
      </section>

    </main>

    <%- include('partials/footer') %>

    <script
      defer
      type="text/javascript"
      src="https://www.google.com/recaptcha/api.js"
    ></script>
    <script
      src="https://polyfill.io/v3/polyfill.min.js?features=fetch"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script type="module" src="./js/development.js"></script>
  </body>
</html>
