<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>Codium: Formación y desarrollo de producto</title>
    <meta charset="utf-8" />
    <meta name="author" content="Codium Team S.L." />
    <meta
      name="description"
      content="Formamos a equipos de programación. Desarrollamos software de calidad. Estamos especializados en Clean code, TDD y patrones de diseño."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
   <%- include('partials/analytics') %>

    <%- include('partials/header/header', {
      menu: [
        {
          title: 'Servicios',
          url: '#our-services',
        },
        {
          title: 'Valores',
          url: '#values',
        },
        {
          title: 'Equipo',
          url: '#team',
        },
      ]
    }) %>

   <%- include('pages-content/home/hero') %>


    <main class="main">
      <section class="services block block--white">
        <div class="container">
          <h2 class="title" id="our-services">Qué ofrecemos</h2>
          <div class="section__grid">
            <%- include('partials/cards/card-large', {
              title: 'Desarrollo',
              description: 'Tu equipo de programación de alto rendimiento integrados en tu empresa u outsourcing. Entregamos el máximo valor en cada iteración.',
              imageUrl: '/img/illustrations/development-team.svg',
              btnUrl: '#contactForm'
            }) %>

            <%- include('partials/cards/card-large', {
              title: 'Cursos',
              description: 'Quieres aprender una nueva habilidad y generar un punto de inflexión en tu equipo. Enseñamos con cursos prácticos.',
              imageUrl: 'img/illustrations/classroom-learning.svg',
              btnUrl: '#courses-list'
            }) %>

            <%- include('partials/cards/card-large', {
              title: 'Formación continua',
              description: 'Quieres que tu equipo se mantenga en forma a nivel tecnológico. Sesiones periódicas para desarrollar diferentes áreas.',
              imageUrl: '/img/illustrations/virtual-education.svg',
              btnUrl: '#contactForm'
            }) %>

          </div>
        </div>
      </section>

      <%- include('pages-content/home/values') %>

      <section class="services block block--white">
        <div class="container">
          <h2 class="title" id="courses-list">Cursos disponibles</h2>
          <div class="section__grid">
            <%- include('partials/cards/card-large-course', {
              title: 'Working with Legacy Code',
              description: 'Desacopla y testea para reducir los costes de desarrollo y mantimiento.',
              imageUrl: '/img/legacy-code.svg',
              btnUrl: '/curso-legacy-code.html',
              list: [
                'Identifica los problemas en el código',
                'Aprende a desacoplar las dependencias',
                'Añade tests para cambiar el software con seguridad',
                'Estrategias para transformar tu monolito'
              ]
            }) %>

            <%- include('partials/cards/card-large-course', {
              title: 'Test-driven development',
              description: 'Desarrolla con pasos seguros, con calidad y de forma simple.',
              imageUrl: '/img/tdd-logo.svg',
              btnUrl: '/curso-tdd.html',
              list: [
                'Aprende el ciclo de desarrollo de TDD',
                'Utiliza dobles de pruebas para aislar las diferentes capas',
                'Estrategias para testear código legado',
                'Aprende buenas prácticas e identifica problemas en los tests'
              ]
            }) %>

            <%- include('partials/cards/card-large-course', {
              title: 'Docker',
              description: 'Aprende a tratar tu infraestructura como código gracias a Docker.',
              imageUrl: '/img/moby-logo.svg',
              btnUrl: '/curso-docker.html',
              list: [
                'Elimina el famoso \'en mi máquina funciona\'',
                'Que todo tu equipo pueda construir y mantener las imágenes',
                'Aprende a crear imágenes Seguras',
                'Mejora tus procesos de Integración Continua'
              ]
            }) %>
          </div>
        </div>
      </section>

      <section class="team block block--grey">
        <div class="container">
          <h2 class="title" id="team">Conoce al equipo</h2>
          <div class="section__grid section__max">
            <%- include('partials/cards/card-team', {
              name: 'Luis Rovirosa',
              position: 'Back-end Developer',
              imageUrl: '/img/about-us/luis.jpg',
              twitterUrl: 'https://twitter.com/luisrovirosa',
              linkedinUrl: 'https://linkedin.com/in/luisrovirosa/',
              githubUrl: 'https://github.com/luisrovirosa'
            }) %>

            <%- include('partials/cards/card-team', {
              name: 'Jordi Anguela',
              position: 'Front-end Developer',
              imageUrl: '/img/about-us/jordi.jpeg',
              twitterUrl: 'http://twitter.com/jordianguela',
              linkedinUrl: 'https://linkedin.com/in/jordianguela/',
              githubUrl: 'https://github.com/jordianguela'
            }) %>

            <%- include('partials/cards/card-team', {
              name: 'Raúl Jimémez',
              position: 'Full-stack Developer',
              imageUrl: '/img/about-us/raul.jpeg',
              twitterUrl: 'https://twitter.com/rauljmz',
              linkedinUrl: 'https://www.linkedin.com/in/rauljmz/',
              githubUrl: 'https://github.com/rauljmz'
            }) %>

            <%- include('partials/cards/card-team', {
              name: 'Concha Asensio',
              position: 'Front-end Developer',
              imageUrl: '/img/about-us/concha.jpg',
              twitterUrl: 'https://twitter.com/conchaasensio',
              linkedinUrl: 'https://www.linkedin.com/in/conchaasensio/',
              githubUrl: 'https://github.com/conchaasensio'
            }) %>

            <%- include('partials/cards/card-team', {
              name: 'Hugo Chinchilla',
              position: 'Full-stack Developer',
              imageUrl: '/img/about-us/hugo.jpeg',
              twitterUrl: 'https://twitter.com/hchinchilla_',
              linkedinUrl: 'https://linkedin.com/in/hugo-chinchilla-carbonell/',
              githubUrl: 'https://github.com/hugochinchilla'
            }) %>

            <%- include('partials/cards/card-team', {
              name: 'Jose Cabrera',
              position: 'Fron-tend Developer',
              imageUrl: '/img/about-us/jose.png',
              twitterUrl: 'https://twitter.com/11joselu',
              linkedinUrl: 'https://linkedin.com/in/11joselu/',
              githubUrl: 'https://github.com/11joselu'
            }) %>

          </div>
        </div>
        <div class="button__wrapper">
          <a href="#contactForm" class="button button--primary" type="button">
            Contactar
          </a>
        </div>
      </section>

      <section class="clients block block--white">
        <div class="section__wrapper container">
          <h2 class="title">Empresas que ya han confiado en nosotros</h2>
          <div class="clients__grid section__max">
            <div class="clients__item">
              <img
                src="./img/clients/habitissimo.png"
                alt="Habitissimo logo"
                loading="lazy"
              />
            </div>

            <div class="clients__item">
              <img
                src="./img/clients/clarity.svg"
                class="clients--clarity"
                alt="Clarity logo"
                loading="lazy"
              />
            </div>

            <div class="clients__item">
              <img
                src="./img/clients/vicomtech.svg"
                alt="Vicomtech logo"
                loading="lazy"
              />
            </div>

            <div class="clients__item">
              <img
                src="./img/clients/roiback.svg"
                alt="Roiback logo"
                loading="lazy"
              />
            </div>

            <div class="clients__item">
              <img
                src="./img/clients/hotelbeds.svg"
                alt="Hotelbeds logo"
                loading="lazy"
              />
            </div>

            <div class="clients__item">
              <img
                src="./img/clients/talentclue.png"
                alt="Talent clue logo"
                loading="lazy"
              />
            </div>

            <div class="clients__item">
              <img
                src="./img/clients/generalelectric.png"
                alt="General electric logo"
                class="clients--ge"
                loading="lazy"
              />
            </div>

            <div class="clients__item">
              <img
                src="./img/clients/bubly.svg"
                alt="Bubly logo"
                loading="lazy"
              />
            </div>

            <div class="clients__item">
              <img
                src="./img/clients/zooplus.svg"
                alt="Zooplus logo"
                loading="lazy"
              />
            </div>

            <div class="clients__item">
              <img
                src="./img/clients/rideo.png"
                alt="Rideo software logo"
                loading="lazy"
              />
            </div>

            <div class="clients__item">
              <img
                src="./img/clients/globalo2.png"
                alt="GlobalO2 logo"
                loading="lazy"
              />
            </div>

            <div class="clients__item">
              <img
                src="./img/clients/helvetia.svg"
                alt="Helvetia logo"
                loading="lazy"
              />
            </div>
          </div>
        </div>
      </section>
      <section class="contact block block--lila">
       <%- include('pages-content/home/contactForm') %>
      </section>
    </main>

    <%- include('partials/footer') %>

    <script
      defer
      type="text/javascript"
      src="https://www.google.com/recaptcha/api.js"
    ></script>
    <script
      src="https://polyfill.io/v3/polyfill.min.js?features=fetch"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script type="module" src="/js/site.js"></script>
  </body>
</html>
