<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="robots" content="index, follow">
    <%- include('partials/analytics_head') %>
    <%- include('partials/metatags', {
        title: 'Codium: Formación y desarrollo de producto',
        description: 'Formamos a equipos de programación. Desarrollamos software de calidad. Estamos especializados en TDD, código legacy y patrones de diseño.',
    }) %>
    <link rel="canonical" href="https://www.codium.team/"/>
  </head>

  <body class="home-page">
    <%- include('partials/analytics_body') %>

    <%- include('partials/header/header', {
      menu: [
        {
          title: 'Servicios',
          url: '#our-services',
        },
        {
          title: 'Valores',
          url: '#values-and-methodology',
        },
        {
          title: 'Desarrollo',
          url: '/desarrollo.html',
        },
        {
          title: 'Cursos',
          url: '#courses-list',
          children: [
            {
              title: 'Working with Legacy Code',
              url: '/curso-legacy-code.html',
            },
            {
              title: 'Test-Driven Development',
              url: '/curso-tdd.html',
            },
            {
              title: 'Refactoring a Patrones',
              url: '/curso-refactoring-a-patrones.html',
            },
            {
              title: 'Docker',
              url: '/curso-docker.html',
            }
          ]
        },
        {
          title: 'Equipo',
          url: '#team',
        },
        {
          title: 'Contactar',
          url: '#contact',
        },
      ]
    }) %>

   <%- include('pages-content/home/hero') %>


    <main class="main">

      <section class="services block block--white" id="our-services">
        <%- include('pages-content/home/our-services') %>
      </section>

      <section class="values block block--grey" id="values-and-methodology">
        <%- include('pages-content/home/values-and-methodology') %>
      </section>

      <section class="services block block--white" id="courses-list">
        <%- include('pages-content/home/available-courses') %>
      </section>

      <section class="team block block--grey"  id="team">
        <%- include('pages-content/common/teams') %>
      </section>

      <%- include('pages-content/home/our-clients') %>

      <section class="contact block block--lila" id="contact">
        <%- include('partials/contact-form') %>
      </section>

    </main>

    <%- include('partials/footer') %>

    <script
      defer
      type="text/javascript"
      src="https://www.google.com/recaptcha/api.js"
    ></script>
    <script
      src="https://polyfill.io/v3/polyfill.min.js?features=fetch"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script type="module" src="./js/site.js"></script>
  </body>
</html>
