<!DOCTYPE html>
<html lang="<%= process.env.locale %>">
  <head>
    <meta name="robots" content="index, follow">
    <%- include('partials/langs_alternate', {
      path: '/'
    }) %>
    <%- include('partials/analytics_head') %>
    <%- include('partials/metatags', {
        title: __('Codium: Formación para equipos de programación'),
        description: __('Estamos especializados en TDD, código legacy, patrones de diseño y ingeniería de producto.'),
    }) %>
    <link rel="canonical" href="https://www.codium.team/"/>
  </head>


  <body class="home-page">
    <%- include('partials/analytics_body') %>

    <%- include('partials/header/header', {
      menu: [
        {
          title: __('Servicios'),
          url: '#challenges',
        },
        {
          title: __('Valores'),
          url: '#values-and-methodology',
        },
        {
          title: __('Desarrollo'),
          url: url('/desarrollo.html'),
        },
        {
          title: __('Cursos'),
          url: '#courses-list',
          children: [
            {
              title: __('Product Engineer <span class="badge bg-primary">new</span>'),
              url: url('/curso-product-engineer.html'),
            },
            {
              title: __('Working with Legacy Code'),
              url: url('/curso-legacy-code.html'),
            },
            {
              title: __('Test-Driven Development'),
              url: url('/curso-tdd.html'),
            },
            {
              title: __('Refactoring a Patrones'),
              url: url('/curso-refactoring-a-patrones.html'),
            },
            {
              title: __('Docker'),
              url: url('/curso-docker.html'),
            },
            {
              title: __('Quality Assurance'),
              url: url('/curso-quality-assurance.html'),
            },
            {
              title: __('Taller de Front-end <span class="badge bg-primary">online</span>'),
              url: 'https://online-trainings.codium.team/',
              newTab: true
            }
          ]
        },
        {
          title: __('Equipo'),
          url: '#team',
        },
        {
          title: __('Contactar'),
          url: '#contact',
        },
      ]
    }) %>

    <%- include('pages-content/home/hero') %>

    <%- include('pages-content/home/challenges') %>

    <%- include('pages-content/home/solutions') %>



    <main class="main">
      <section class="clients block block--white">
        <%- include('pages-content/home/our-clients') %>
      </section>

      <section class="values block block--grey" id="values-and-methodology">
        <%- include('pages-content/home/values-and-methodology') %>
      </section>

      <section class="services block block--white" id="courses-list">
        <%- include('pages-content/home/available-courses') %>
      </section>

      <section class="team block block--grey"  id="team">
        <%- include('pages-content/common/teams') %>
      </section>


      <section class="contact block block--lila" id="contact">
        <%- include('partials/contact-form') %>
      </section>

    </main>

    <%- include('partials/footer') %>

    <script
      src="https://polyfill.io/v3/polyfill.min.js?features=fetch"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script type="module" src="./js/site.js"></script>
  </body>
</html>
