<!DOCTYPE html>
<html lang="<%= process.env.locale %>">
  <head>
    <meta name="robots" content="index, follow">
    <%- include('partials/analytics_head') %>

    <%- include('partials/metatags', {
        title: __('Programa de aceleración - Codium'),
        description: __('Programa de aceleración para desarrolladores'),
        og_title: __('Programa de aceleración'),
        og_description: __('Pone foco en transmitir una buena mentalidad, conocer las herramientas para ser productivo, escribir código mantenible y bien testeado y como ser un buen desarrollador de producto.'),
        og_image: url("/img/og-bootcamp.png"),
    }) %>

    <meta
      name="keywords"
      content="<%= __('Curso,Formación,Training,TDD,Legacy Code,Calidad de código,Programa de aceleración,Crecimiento desarrolladores,TAP,programación') %>"
    />
    <link rel="canonical" href="<%= url('/programa-de-aceleracion.html') %>"/>
  </head>

  <body class="bootcamp-page">
    <%- include('partials/analytics_body') %>

    <%- include('partials/header/landing-navbar', {
      menu: [
        {
          title: __('Beneficios'),
          url: '#benefits',
        },
        {
          title: __('Contenido'),
          url: '#content',
        },
        {
          title: __('Metodología'),
          url: '#methodology',
        },
        {
          title: __('Equipo'),
          url: '#team',
        },
         {
          title: __('FAQs'),
          url: '#faqs',
        },
        {
          title: __('Contactar'),
          url: '#contact',
        },
      ]
    }) %>

    <div class="hero-wrapper">
      <div class="container course-hero">
        <%- include('pages-content/curso-common/hero-block', {
          title: __('Aceleración técnica y onboarding'),
          subtitle: __('Mejora la productividad de tu equipo'),
          image: './img/illustrations/bootcamp.svg'
        }) %>

        <%- include('pages-content/curso-common/course-card-information', {
          hours: __('3 meses'),
          hoursDesc: __('(full time)'),
          fromWhere: __('Remoto'),
          languages: __('Js, Java, Python, PHP o C#'),
          availableInLanguages: __('Español, inglés y catalán'),
        }) %>
      </div>
    </div>

    <main>
      <section class="block block--lila" id="benefits">
        <%- include('pages-content/bootcamp/benefits')  %>
      </section>

      <section class="block block--white" id="content">
        <%- include('pages-content/bootcamp/content')  %>
      </section>

      <section class="block block--white" id="methodology">
        <%- include('pages-content/bootcamp/methodoly')  %>
      </section>

      <section class="team block block--grey"  id="team">
        <%- include('pages-content/common/teams') %>
      </section>

      <section class="block block--white" id="faqs">
        <%- include('pages-content/bootcamp/faqs') %>
      </section>

      <section class="contact block block--lila" id="contact">
        <%- include('partials/contact-form', {
          type: 'bootcamp_training',
          action: __('Programa de aceleración')
        }) %>
      </section>

    </main>

    <%- include('partials/footer') %>

    <script
      defer
      type="text/javascript"
      src="https://www.google.com/recaptcha/api.js"
    ></script>
    <script
      src="https://polyfill.io/v3/polyfill.min.js?features=fetch"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script type="module" src="./js/bootcamp.js"></script>
  </body>
</html>
