<!DOCTYPE html>
<html lang="en">
    <% var host = process.env.BASE_DOMAIN || "https://www.codium.team" %>
    <% var og_image = host + "/img/og-tdd.png" %>

    <%- include('partials/metatags', {
        title: 'Curso de TDD - Test Driven Development - Codium',
        description: 'Aprende a escribir código simple, robusto y moldeable aplicando TDD: Test-Driven Development. Curso práctico, divertido e intenso. En tus oficinas o en remoto.',
        og_title: 'Curso de TDD',
        og_description: 'Aprende a escribir código simple, robusto y moldeable a partir de los tests. Curso práctico, divertido e intenso. En tus oficinas o en remoto.',
        og_image,
    }) %>
<head>
  <meta name="robots" content="noindex">
  <%- include('partials/metatags', {
        title: 'Codium: TDD Challenge',
        description: 'Formamos a equipos de programación. Desarrollamos software de calidad. Estamos especializados en Clean code, TDD y patrones de diseño.',
    }) %>
</head>

<body class="home-page">
  <%- include('partials/analytics') %>

  <%- include('partials/header/landing-navbar', {
      menu: [
        {
          title: 'Home',
          url: '/',
        },
      ]
    }) %>

  <main class="block block--white">
    <div id="root"></div>
  </main>

  <script type="module" src="/js/challenge-app/main.jsx"></script>
</body>

</html>
