<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="robots" content="noindex">
    <%- include('partials/analytics_head') %>
    <% var host = process.env.BASE_DOMAIN || "https://www.codium.team" %>
    <% var og_image = host + "/img/og-tdd.png" %>

    <%- include('partials/metatags', {
        title: 'Challenge TDD - Test Driven Development - Codium',
        description: 'Aprende a escribir código simple, robusto y moldeable aplicando TDD: Test-Driven Development. Curso práctico, divertido e intenso. En tus oficinas o en remoto.',
        og_title: 'Challenge TDD - Test Driven Development. Curso de TDD - Codium',
        og_description: 'Aprende a escribir código simple, robusto y moldeable a partir de los tests. Curso práctico, divertido e intenso. En tus oficinas o en remoto.',
        og_image,
    }) %>
</head>

<body class="home-page" id="page">
  <%- include('partials/analytics_body') %>

  <%- include('partials/header/landing-navbar', {
      menu: [
        {
          title: 'Home',
          url: '/',
        },
      ]
    }) %>

  <main class="block block--white">
    <div id="root" data-type="tdd"></div>
  </main>

  <script type="module" src="/js/challenge-app/main.jsx"></script>
</body>

</html>
