<div id="faq" class="bg-color-light">
    <div class="container-fluid content-sm">
        {{ include('components/block_header.html.twig', { name: 'Preguntas frecuentes' }) }}

        <div class="row">
            <div class="col-md-6">
                <div class="service">
                    <i class="fa fa-question-circle service-icon hidden-xs"></i>
                    <div class="desc">
                        <h4>¿A quién va dirigido?</h4>
                        <p>A programadores familiarizados con la programación orientada a objetos.<br/>
                            El curso se centra en cómo testear la lógica de negocio independientemente de dónde se
                            encuentre, ya sea el back-end, front-end o móvil. Las personas de QA también pueden
                            beneficiarse del curso entendiendo el proceso de desarrollo y ayudando a escribir mejores
                            pruebas.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service">
                    <i class="fa fa-question-circle service-icon hidden-xs"></i>
                    <div class="desc">
                        <h4>¿Cuál es el nivel del curso?</h4>
                        <p>Es importante remarcar que éste es un curso de Test-Driven Development donde no es necesario
                            haber practicado con anterioridad la teoría que se explica. No obstante, el curso es intenso
                            y cubrimos desde las partes más básicas como las pruebas unitarias a temas más complejos,
                            como los diferentes tipos de dobles de pruebas.<br/>
                            Al ser un curso muy práctico y con mucho debate permite que nos adaptemos al nivel de los
                            asistentes. Si ya has leído algo sobre TDD (o hasta incluso practicado con alguna kata y
                            escrito tus primeras pruebas unitarias) durante el curso profundizarás en tus conocimientos
                            y aprenderás trucos más avanzados.<br/>
                            Este no es un curso diseñado para personas que aplican Test-Driven Development en su día a
                            día escribiendo sistemáticamente las pruebas unitarias antes de escribir el código.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="service">
                    <i class="fa fa-question-circle service-icon hidden-xs"></i>
                    <div class="desc page-scroll">
                        <h4>¿Cómo se desarrolla el curso?</h4>
                        <p>El curso se compone de <a href="#training-content-timeline">varios bloques</a>. Cada bloque
                            empieza con una introducción teórica. Le sigue un ejercicio práctico realizado en parejas
                            donde vamos dando feedback constantemente. El bloque se termina con un debate de grupo donde
                            los participantes comparten lo aprendido y tenemos discusiones todos juntos.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service">
                    <i class="fa fa-question-circle service-icon hidden-xs"></i>
                    <div class="desc page-scroll">
                        <h4>¿Puedo apuntarme yo sólo?</h4>
                        <p>Aunque el curso está diseñado para impartirse en empresas a grupos de unas 10 personas
                            también ofrecemos cursos en abierto donde cualquiera puede apuntarse.<br/>
                            <a href="#landing">Inscríbete</a> y te informaremos de los próximos cursos cerca de ti.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="service">
                    <i class="fa fa-question-circle service-icon hidden-xs"></i>
                    <div class="desc">
                        <h4>¿Qué material necesito?</h4>
                        <p>Tan sólo es necesario traer un ordenador con las herramientas de desarrollo que cada uno
                            utiliza instaladas. Lo ideal es realizar el curso en las mismas máquinas que el equipo
                            utiliza en su día a día.<br/>
                            La sala debe contar con proyector o una pantalla grande y una pizarra donde escribir.<br/>
                            El curso se realiza por parejas rotativas, por lo que la configuración ideal es tener un
                            ordenador con dos pantallas, dos teclados y dos ratones por cada dos personas.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service">
                    <i class="fa fa-question-circle service-icon hidden-xs"></i>
                    <div class="desc">
                        <h4>¿Y después del curso qué?</h4>
                        <p>Los ejercicios realizados en el curso son específicos para aprender un concepto cada vez.
                            Durante nuestro día a día nos enfrentamos a problemas mucho más complejos y con un código en
                            mal estado. Por ello, después del curso, ofrecemos acompañamiento para ayudarte en la
                            implantación de Test-Driven Development en tu proyecto.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>