{% set helder = {
    profileImage: '/img/testimonials/HelderDOliveira.jpg',
    quote: 'Pragmático, directo, en la misma línea de la propia filosofía de TDD​.​ ​M​e ha ayudado a desarrollar de forma más segura y limpia, ​descubriendo a la vez otras formas de hacer TDD que desconocía y siempre guiado desde ejercicios muy potentes.',
    name: 'Helder De Oliveira',
    role: 'Software Craftsman'
} %}
{% set joanMiralles = {
    profileImage: '/img/testimonials/JoanMiralles.jpg',
    quote: 'Aunque conocía TDD a nivel teórico, después de realizar este curso, ha sido cuándo he entendido cómo llevarlo a mi día a día.',
    name: 'Joan Miralles',
    role: 'Software Architect en Brújula Tecnologías de la Información'
} %}
{% set ilya = {
    profileImage: '/img/testimonials/ilya.png',
    quote: 'El curso ha sido un buen punto de inflexión para empezar a usar TDD en mi día a día y profundizar en todo lo aprendido. Las katas guiadas por el equipo de Codium le dan muchísimo valor al curso y están muy bien escogidas para remarcar los fallos que se suelen cometer al empezar con TDD.',
    name: 'Ilya Kabushko',
    role: 'Software developer en Travel Compositor'
} %}

<div id="testimonials" class="testimonials-v6">
    {{ include('trainings/components/testimonial_carousel.html.twig', { testimonials: [helder, joanMiralles, ilya] }) }}
</div>
