{% set testimonial = {
    profileImage: '/img/testimonials/islomar.jpg',
    quote: 'Un curso MUY cuidado, eminentemente práctico y que profundiza en el porqué de las cosas. Más que recomendable para quien quiera iniciarse seriamente en TDD.',
    name: 'Isidro López',
    role: ''
} %}
{% set testimonial2 = {
    profileImage: '/img/testimonials/img3.jpg',
    quote: 'Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at rhoncus.',
    name: 'Luis Williams',
    role: 'Web Developer en My Company'
} %}
<div id="testimonials" class="testimonials-v6">
    {{ include('trainings/components/testimonial_carousel.html.twig', { testimonials: [testimonial, testimonial2] }) }}
</div>