<div id="value">
    <div class="container content-sm">
        {{ include('components/extended_block_header.html.twig', {
            name: 'El valor de TDD',
            summary: '<p>El simple hecho de pensar y escribir un test antes que el código de producción representa un cambio de paradigma en el desarrollo de software y un salto de calidad inimaginable en tu código.</p>'
        }) }}

        <div class="row margin-bottom-50 margin-top-60">
            <div class="col-md-6 vcenter">
                <img src="/img/tdd/fast-cheap-good.png" class="img-responsive center-block" draggable="false">
            </div><!-- do not delete this comment, avoid spaces
          --><div class="col-md-6 vcenter ">
                <h3>Ayuda a reducir los costes de desarrollo</h3>
                <ul class="list-unstyled lists-v1">
                    <li><i class="fa fa-angle-right"></i>Implementando sólo lo imprescindible para los requisitos actuales (diseño incremental)</li>
                    <li><i class="fa fa-angle-right"></i>Evitando complejidades innecesarias</li>
                </ul>
                <h3 class="margin-top-20">Ayuda a reducir los costes de mantenimiento</h3>
                <ul class="list-unstyled lists-v1">
                    <li><i class="fa fa-angle-right"></i>Al reducir el testeo manual de la aplicación</li>
                    <li><i class="fa fa-angle-right"></i>Minimizando las incidencias en producción</li>
                    <li><i class="fa fa-angle-right"></i>Gracias a soluciones más simples</li>
                    <li><i class="fa fa-angle-right"></i>Al poder cambiar fácilmente decisiones que ya no son válidas</li>
                    <li><i class="fa fa-angle-right"></i>Al tener una documentación ejecutable</li>
                </ul>
                <h3 class="margin-top-20">Transforma al desarrollador</h3>
                <ul class="list-unstyled lists-v1">
                    <li><i class="fa fa-angle-right"></i>Aumentando la seguridad de los desarrolladores al introducir cambios en el código</li>
                    <li><i class="fa fa-angle-right"></i>Mejorando la moral y motivación del equipo</li>
                </ul>
            </div>
        </div>
    </div>
</div>
