@import '../../sass/core/variables', '../../sass/core/container',
  '../../sass/block', '../../sass/title', '../../sass/layout/footer',
  '../../sass/core/utilities', '../../sass/course/hero',
  '../../sass/core/normalize', '../../sass/layout/header',
  '../../sass/layout/hero', '../../sass/layout/main', '../../sass/buttons',
  '../../sass/core/dropdown';

html,
body,
main {
  height: 100%;
}

.editor-wrapper {
  padding: 5rem;
}

#editor {
  min-height: 100%;
  border: none;
}

.options {
  margin: 0 auto;
  margin-top: 32px;
  max-width: 900px;

  &__option {
    border: none;
    overflow: none;
    background-color: hsl(225deg, 25%, 92%);
    width: 100%;
    text-align: left;
    padding: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 6px;
    border: 1px solid transparent;

    &:hover {
      background-color: hsl(225deg, 25%, 95%);
      cursor: pointer;
    }

    &--wrong {
      background-color: #ffcbc1;
      border-color: #da523a;
      color: #da523a;
      &:hover {
        background-color: #ffcbc1;
        border-color: #da523a;
      }

      .options__number {
        border-color: #da523a;
      }
    }

    &--correct {
      background-color: #d6ffc8;
      border-color: #498029;
      color: #498029;
      &:hover {
        background-color: #d6ffc8;
        border-color: #498029;
      }

      .options__number {
        border-color: #498029;
      }
    }
  }

  &__number {
    width: 32px;
    min-width: 32px;
    height: 32px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    border: 1px solid hsl(225deg, 15%, 50%);
    margin-right: 8px;
  }
}

.alert--error {
  max-width: 900px;
  margin: 1rem auto;
  padding: 16px;
  text-align: left;

  .icon {
    font-size: 2rem;
  }
}

.text-left {
  text-align: left;
}

ul {
  list-style: none;
  text-align: left;
  padding: 0;
  padding-left: 32px;
  li {
    margin-top: 8px;
  }
}

#root {
  height: 100%;
  iframe {
    height: 100%;
    min-height: 70vh;
  }
}

.fade-in {
  animation: fade-in 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.course-card {
  max-width: 400px;
  margin: 0 auto;
}
