@import '../../sass/core/variables', '../../sass/core/container',
  '../../sass/block', '../../sass/title', '../../sass/layout/footer',
  '../../sass/core/utilities', '../../sass/course/hero',
  '../../sass/core/normalize', '../../sass/layout/header',
  '../../sass/layout/hero', '../../sass/layout/main', '../../sass/buttons',
  '../../sass/core/dropdown';

html,
body,
main {
  height: 100%;
}

#editor {
  min-height: 100%;
  border: none;
}

.options {
  margin: 0 auto;
  margin-top: 32px;
  max-width: 900px;

  &__option {
    border: none;
    overflow: none;
    background-color: hsl(225deg, 25%, 92%);
    width: 100%;
    text-align: left;
    padding: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 6px;
    border: 1px solid transparent;

    &:hover {
      background-color: hsl(225deg, 25%, 95%);
      cursor: pointer;
    }

    &--wrong {
      background-color: #ffcbc1;
      border-color: #da523a;
      color: #da523a;
      &:hover {
        background-color: #ffcbc1;
        border-color: #da523a;
      }

      .options__number {
        border-color: #da523a;
      }
    }

    &--correct {
      background-color: #d6ffc8;
      border-color: #498029;
      color: #498029;
      &:hover {
        background-color: #d6ffc8;
        border-color: #498029;
      }

      .options__number {
        border-color: #498029;
      }
    }
  }

  &__number {
    width: 32px;
    min-width: 32px;
    height: 32px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    border: 1px solid hsl(225deg, 15%, 50%);
    margin-right: 8px;
  }
}

.alert--error {
  max-width: 900px;
  margin: 1rem auto;
  padding: 16px;
  text-align: left;

  .icon {
    font-size: 2rem;
  }
}

.text-left {
  text-align: left;
}

ul {
  list-style: none;
  text-align: left;
  padding: 0;
  padding-left: 32px;
  li {
    margin-top: 8px;
  }
}

#root {
  height: 100%;
  iframe {
    height: 100%;
    min-height: 75vh;
  }
}

.course-card {
  max-width: 500px;
  margin: 0 auto;
}

.editor-wrapper {
  padding-top: 3rem;
  position: relative;
}

.solution-btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ace8c9;
  &:hover {
    color: #383838;
  }

  &:disabled {
    background-color: #e6e6e6;
    color: rgba(0, 0, 0, 0.4);
  }
}

iframe {
  border: none;
}

.ReactModal__Content {
  position: absolute;
  left: 50%;
  top: 70px;
  overflow: auto;
  background-color: #fff;
  transform: translate(-50%, 0px);
}

.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transform: translateX(-100px);
  transition: all 500ms ease-in-out;
  overflow: auto;

  &--after-open {
    opacity: 1;
    transform: translateX(0px);
  }

  &--before-close {
    opacity: 1;
    transform: translateX(-100px);
  }
}

.btn-kata {
  margin-top: 3rem;
  text-align: right;
}

.modal {
  display: flex;
  flex-direction: row;

  .wrapper {
    margin-right: 32px;
  }

  img {
    max-width: 500px;
  }
}

.text-right {
  text-align: right;
}
