<div id="value">
    <div class="container content-sm">
        {{ include('components/block_header.html.twig', { name: 'El valor del curso' }) }}

        <div class="row margin-bottom-50">
            <div class="col-md-6 vcenter">
                <img src="/img/tdd/fast-cheap-good.png" class="img-responsive center-block" draggable="false">
            </div><!--
                --><div class="col-md-6 vcenter ">
                <h3>Transforma al desarrollador</h3>
                <ul class="list-unstyled lists-v1">
                    <li><i class="fa fa-angle-right"></i>Sensibilizándole de los múltiples problemas del código</li>
                    <li><i class="fa fa-angle-right"></i>Dotándole de herramientas para hacer mejor su trabajo</li>
                    <li><i class="fa fa-angle-right"></i>Mejorando la moral y motivación del equipo al reducir la deuda técnica</li>
                </ul>
                <h3 class="margin-top-20">Reduce los costes de desarrollo</h3>
                <ul class="list-unstyled lists-v1">
                    <li><i class="fa fa-angle-right"></i>Mejorando la base de código sobre la que trabajar</li>
                    <li><i class="fa fa-angle-right"></i>Aumentando la seguridad de los desarrolladores al introducir nueva funcionalidad</li>
                </ul>
                <h3 class="margin-top-20">Reduce los costes de mantenimiento</h3>
                <ul class="list-unstyled lists-v1">
                    <li><i class="fa fa-angle-right"></i>Al reducir la complejidad y acoplamiento del código</li>
                    <li><i class="fa fa-angle-right"></i>Minimizando las incidencias en producción</li>
                </ul>
            </div>
        </div>
    </div>
</div>
